Repository PointCloudLibrary/pcl, pull requests merged in 2018-03, with the labels that each got.

#2238 Use GLuint rather than size_t to represent OpenGL indices.
  simulation/include/pcl/simulation/model.h
Labels: changes: breaks API, module: simulation

#2133 Fix PLYReader is_dense behavior
  common/include/pcl/point_cloud.h
  io/src/ply_io.cpp
  test/io/CMakeLists.txt
  test/io/test_io.cpp
  test/io/test_ply_io.cpp
Labels: changes: behavior, module: io

#2246 Remove useless size check in PLYReader::endHeaderCallback()
  io/src/ply_io.cpp
Labels: module: io

#2245 Cleanup and improve unit test coverage for transformPointCloud functions
  test/common/CMakeLists.txt
  test/common/test_centroid.cpp
  test/common/test_eigen.cpp
  test/common/test_transforms.cpp
Labels: module: tests, status: waiting feedback

#2248 Inline helper function gcCorrespSorter()
  recognition/include/pcl/recognition/impl/cg/geometric_consistency.hpp
Labels: bug, module: recognition

#2251 [CMAKE] Fix apps compilation
  apps/CMakeLists.txt
Labels: status: needs review

#2267 add windows.h for includes GL/gl.h; handle cancel for denoiseWidget.
  apps/point_cloud_editor/include/pcl/apps/point_cloud_editor/cloud.h
  apps/point_cloud_editor/src/cloudEditorWidget.cpp
Labels: enhancement, module: apps

#2265 Warn and skip adding normal cloud if it is empty
  visualization/include/pcl/visualization/impl/pcl_visualizer.hpp
Labels: module: visualization
