Repository PointCloudLibrary/pcl, pull requests merged in 2018-12, with the labels that each got.

#2671 Update CMake policy 74
  CMakeLists.txt
  PCLConfig.cmake.in
Labels: module: cmake

#2674 Initialize curvature in `PointNormal` default ctor
  common/include/pcl/impl/point_types.hpp
Labels: changes: behavior, module: common

#2673 Add compound CMake target for examples, tools, apps.
  apps/3d_rec_framework/CMakeLists.txt
  apps/3d_rec_framework/src/tools/global_classification.cpp
  apps/3d_rec_framework/src/tools/local_recognition_mian_dataset.cpp
  apps/3d_rec_framework/tools/CMakeLists.txt
  apps/3d_rec_framework/tools/apps/CMakeLists.txt
  apps/CMakeLists.txt
  apps/cloud_composer/CMakeLists.txt
  apps/in_hand_scanner/CMakeLists.txt
  apps/modeler/CMakeLists.txt
  apps/modeler/tools/CMakeLists.txt
  apps/optronic_viewer/CMakeLists.txt
  apps/point_cloud_editor/CMakeLists.txt
  cmake/pcl_targets.cmake
  examples/CMakeLists.txt
  tools/CMakeLists.txt
Labels: module: cmake

#2679 Remove vendored FindGLEW.cmake and adopt imported targets. Rename FindGTest.cmake to prevent name clash.
  apps/CMakeLists.txt
  cmake/Modules/FindGLEW.cmake
  cmake/Modules/FindGTestSource.cmake
  cmake/pcl_pclconfig.cmake
  gpu/kinfu/tools/CMakeLists.txt
  simulation/CMakeLists.txt
  simulation/tools/CMakeLists.txt
  test/CMakeLists.txt
Labels: module: cmake

#2690 Enable C++ 14 flags
  CMakeLists.txt
  pcl_config.h.in
Labels: module: cmake

#2693 Split Azure pipeline into four separate
  .azure-pipelines.yml
  .ci/azure-pipelines/build-macos.yml
  .ci/azure-pipelines/build-ubuntu.yml
  .ci/azure-pipelines/build-windows.yml
  .ci/azure-pipelines/documentation.yml
Labels: module: ci

#2640 Replace `hash_map` with `unordered_map` in 3rdparty/poisson4
  surface/CMakeLists.txt
  surface/include/pcl/surface/3rdparty/poisson4/geometry.h
  surface/include/pcl/surface/3rdparty/poisson4/geometry.hpp
  surface/include/pcl/surface/3rdparty/poisson4/hash.h
  surface/include/pcl/surface/3rdparty/poisson4/multi_grid_octree_data.h
  surface/include/pcl/surface/3rdparty/poisson4/multi_grid_octree_data.hpp
Labels: c++14, module: surface

#2699 Switch to standard `[[deprecated]]` attribute
  common/include/pcl/pcl_macros.h
  doc/doxygen/doxyfile.in
  io/include/pcl/io/ascii_io.h
  io/include/pcl/io/hdl_grabber.h
  octree/include/pcl/octree/octree2buf_base.h
  octree/include/pcl/octree/octree_base.h
  segmentation/include/pcl/segmentation/euclidean_cluster_comparator.h
  segmentation/include/pcl/segmentation/segment_differences.h
  segmentation/include/pcl/segmentation/supervoxel_clustering.h
  surface/include/pcl/surface/mls.h
Labels: module: common

#2697 Set interface compile features to cxx_std_14 on PCL targets
  CMakeLists.txt
  PCLConfig.cmake.in
  cmake/pcl_targets.cmake
Labels: module: cmake

#2705 Add `MSVC_MP` CMake option to adjust number of parallel build jobs
  CMakeLists.txt
Labels: module: cmake, platform: windows

#2716 Drop support of Qt4, because support of Qt4 ended end of 2015
  CMakeLists.txt
  apps/CMakeLists.txt
  apps/cloud_composer/CMakeLists.txt
  apps/cloud_composer/ComposerTool.cmake
  apps/in_hand_scanner/CMakeLists.txt
  apps/modeler/CMakeLists.txt
  apps/optronic_viewer/CMakeLists.txt
  apps/point_cloud_editor/CMakeLists.txt
  cmake/pcl_find_qt5.cmake
  doc/tutorials/content/sources/qt_colorize_cloud/CMakeLists.txt
  doc/tutorials/content/sources/qt_visualizer/CMakeLists.txt
  gpu/people/tools/CMakeLists.txt
Labels: module: cmake

#2719 Fix Qt5 CMake issue
  .ci/azure-pipelines/build-macos.yml
  .ci/azure-pipelines/build-ubuntu.yml
  .ci/azure-pipelines/tutorials.yml
  apps/CMakeLists.txt
  apps/cloud_composer/CMakeLists.txt
  apps/in_hand_scanner/CMakeLists.txt
  apps/modeler/CMakeLists.txt
  apps/optronic_viewer/CMakeLists.txt
  apps/point_cloud_editor/CMakeLists.txt
Labels: module: cmake

#2727 Split test_registration into three binaries
  test/registration/CMakeLists.txt
  test/registration/test_ndt.cpp
  test/registration/test_registration.cpp
  test/registration/test_sac_ia.cpp
Labels: module: tests

#2733 Mark include directories of 3rd-party libraries as system includes
  CMakeLists.txt
  apps/CMakeLists.txt
  doc/tutorials/content/sources/vfh_recognition/CMakeLists.txt
  gpu/features/test/CMakeLists.txt
  gpu/kinfu/CMakeLists.txt
  gpu/kinfu/tools/CMakeLists.txt
  gpu/kinfu_large_scale/tools/CMakeLists.txt
  gpu/people/CMakeLists.txt
  gpu/people/tools/CMakeLists.txt
  gpu/surface/CMakeLists.txt
  gpu/surface/test/CMakeLists.txt
  io/CMakeLists.txt
  simulation/tools/CMakeLists.txt
  surface/CMakeLists.txt
  test/io/CMakeLists.txt
  test/outofcore/CMakeLists.txt
  test/people/CMakeLists.txt
  tools/CMakeLists.txt
  visualization/CMakeLists.txt
Labels: module: cmake
