Repository PointCloudLibrary/pcl, pull requests merged in 2018-08, with the labels that each got.

#2241 Use rpath in the target's install name
  CMakeLists.txt
Labels: module: cmake, platform: osx, status: needs testing

#2405 `octree_key.h` suppress GCC 8 ignored-qualifier warning
  octree/include/pcl/octree/octree_key.h
Labels: module: octree

#2402 Avoid infinite recursion in getPointCloudDifference
  segmentation/include/pcl/segmentation/segment_differences.h
Labels: module: segmentation
