Repository PointCloudLibrary/pcl, pull requests merged in 2018-10, with the labels that each got.

#2498 Add `header` to the print output of `PointCloud`
  common/include/pcl/point_cloud.h
Labels: module: common

#2500 add header guard and copyright info to polynomial_calculations.hpp
  common/include/pcl/common/impl/polynomial_calculations.hpp
Labels: module: common

#2499 swap the header in pcl::PointCloud::swap
  common/include/pcl/point_cloud.h
Labels: module: common

#2508 Fix a dead link to Radu Rusu's dissertation in the tutorial.
  doc/tutorials/content/how_features_work.rst
Labels: module: tutorials

#2497 Relax precision requirements on TransformationEstimationLM test.
  .appveyor.yml
  test/registration/test_registration_api.cpp
Labels: module: registration, module: tests

#2502 Add missing const specifier for getters in PCLBase.
  common/include/pcl/pcl_base.h
Labels: module: common

#2507 Relax threshold in Hough3DGrouping test
  .appveyor.yml
  recognition/include/pcl/recognition/impl/cg/hough_3d.hpp
  test/recognition/test_recognition_cg.cpp
Labels: module: recognition, module: tests

#2505 Enable tests_2d and tests_io in AppVeyor.
  .appveyor.yml
  2d/include/pcl/2d/edge.h
  test/io/test_grabbers.cpp
Labels: module: ci, module: tests

#2332 Reverse octree's depth first iterator order
  octree/include/pcl/octree/impl/octree_iterator.hpp
  test/octree/test_octree_iterator.cpp
Labels: changes: behavior, module: octree

#2516 When configuring with WITH_DOCS, but Doxygen is not available, prevent generation.
  doc/doxygen/CMakeLists.txt
Labels: module: cmake

#2529 Fix misc. typos in tutorials and docstrings
  doc/tutorials/content/project_inliers.rst
  doc/tutorials/content/remove_outliers.rst
  doc/tutorials/content/statistical_outlier.rst
  filters/include/pcl/filters/impl/project_inliers.hpp
  filters/include/pcl/filters/impl/voxel_grid.hpp
Labels: module: docs, module: filters, module: tutorials

#2522 Copy the pose info from the input cloud to the output cloud in NaN removal functions
  filters/include/pcl/filters/filter.h
  filters/include/pcl/filters/impl/filter.hpp
Labels: module: filters

#2526 Add const specifiers for getters in VoxelGrid.
  filters/include/pcl/filters/voxel_grid.h
Labels: module: filters

#2524 Add const modifiers to getters of pcl::PassThrough
  filters/include/pcl/filters/passthrough.h
Labels: module: filters

#2523 Add the missing const modifier in `Filter::getRemovedIndices`.
  filters/include/pcl/filters/filter.h
Labels: module: filters

#2534 Simplify explanation of PointXYZ structure in "Writing PCD" tutorial
  doc/tutorials/content/writing_pcd.rst
Labels: module: tutorials

#2503 Relax requirements in eigen22d test. Adapt result from transformPlane test based on used Eigen version.
  .appveyor.yml
  common/include/pcl/common/impl/eigen.hpp
  test/common/test_eigen.cpp
Labels: module: common, module: tests

#2530 Throw an early exception to prevent divide by zero error (#2481)
  common/include/pcl/common/impl/common.hpp
Labels: module: common

#2542 Made PCLVisualizerInteractorStyle::CloudActorMapPtr public.
  visualization/include/pcl/visualization/interactor_style.h
Labels: module: visualization

#2546 Fix dataset link in conditional euclidean clustering tutorial
  doc/tutorials/content/conditional_euclidean_clustering.rst
Labels: module: tutorials

#2538 Migrate Travis to the new travis-ci.com platform
  .travis.sh
  .travis.yml
  README.md
Labels: module: ci

#2512 Corrections to CovarianceSampling class and corresponding test
  .appveyor.yml
  filters/include/pcl/filters/covariance_sampling.h
  filters/include/pcl/filters/impl/covariance_sampling.hpp
  test/filters/test_sampling.cpp
Labels: module: filters

#2544 Solve issues with failing features tests
  .appveyor.yml
  test/bun0.pcd
  test/colored_cloud.pcd
  test/features/test_cppf_estimation.cpp
  test/features/test_pfh_estimation.cpp
  test/features/test_rift_estimation.cpp
Labels: module: features, module: tests

#2535 Disable Travis email notifications. Update PCL logo endpoint.
  .travis.yml
  README.md
Labels: module: ci

#2550 Fix app/CMakeLists to enable Apps under Windows
  apps/CMakeLists.txt
Labels: module: cmake, platform: windows

#2553 Relax eigen22f test criteria
  test/common/test_eigen.cpp
Labels: module: tests

#2556 Suppress miscelanious warnings
  apps/cloud_composer/src/properties_model.cpp
  io/src/dinast_grabber.cpp
  io/src/obj_io.cpp
  io/src/pcd_io.cpp
  registration/include/pcl/registration/impl/ia_kfpcs.hpp
  surface/include/pcl/surface/impl/concave_hull.hpp
Labels: module: apps, module: io, module: registration, module: surface

#2558 Update FindBoost versions
  PCLConfig.cmake.in
  cmake/pcl_find_boost.cmake
Labels: module: cmake

#2567 Remove sm_72 from CUDA 9.0
  cmake/pcl_find_cuda.cmake
Labels: module: gpu

#2563 Use pkg-config to find Flann
  cmake/Modules/FindFLANN.cmake
  cmake/pcl_targets.cmake
Labels: module: cmake

#2576 Fix FLANN path to lower case
  cmake/Modules/FindFLANN.cmake
Labels: module: cmake

#2572 Fixed memory leak in Poisson's BSplineData
  surface/include/pcl/surface/3rdparty/poisson4/bspline_data.hpp
Labels: module: surface

#2574 Bugfix miscalculation of quantile of KLD
  tracking/include/pcl/tracking/kld_adaptive_particle_filter.h
Labels: module: tracking
