Repository PointCloudLibrary/pcl, pull requests merged in 2018-11, with the labels that each got.

#2579 Fix checks for user-provided CXX flags
  CMakeLists.txt
  common/include/pcl/common/impl/transforms.hpp
Labels: module: cmake, status: needs testing

#2596 Corrections to Windows unit tests.
  features/include/pcl/features/fpfh_omp.h
  features/include/pcl/features/impl/fpfh_omp.hpp
  features/include/pcl/features/impl/normal_3d_omp.hpp
  features/include/pcl/features/impl/shot_lrf_omp.hpp
  features/include/pcl/features/impl/shot_omp.hpp
  features/include/pcl/features/normal_3d_omp.h
  features/include/pcl/features/shot_lrf_omp.h
  features/include/pcl/features/shot_omp.h
  filters/include/pcl/filters/fast_bilateral_omp.h
  filters/include/pcl/filters/impl/fast_bilateral_omp.hpp
  outofcore/src/outofcore_base_data.cpp
  test/common/test_wrappers.cpp
  test/recognition/test_recognition_cg.cpp
  test/sample_consensus/test_sample_consensus.cpp
  tracking/include/pcl/tracking/impl/kld_adaptive_particle_filter_omp.hpp
  tracking/include/pcl/tracking/impl/particle_filter_omp.hpp
  tracking/include/pcl/tracking/kld_adaptive_particle_filter_omp.h
  tracking/include/pcl/tracking/particle_filter_omp.h
Labels: module: tests, platform: windows

#2599 Remove std::binary_function from Registration
  registration/include/pcl/registration/correspondence_sorting.h
Labels: module: registration

#2592 Fix #2393 Wrong Eigen found from FindEigen.cmake
  cmake/Modules/FindEigen.cmake
Labels: module: cmake

#2602 Bump version to 1.9.0-dev
  CMakeLists.txt
Labels: module: cmake

#2604 Remove documentation job from Travis
  .azure-pipelines.yml
  .travis.sh
  .travis.yml
Labels: module: ci

#2608 Migrate CMake policy 0048
  CMakeLists.txt
  PCLConfigVersion.cmake.in
  cmake/cpack_options.cmake.in
  cmake/pcl_cpack.cmake
  cmake/pcl_targets.cmake
  cmake/pcl_utils.cmake
  cmake/pkgconfig-headeronly.cmake.in
  cmake/pkgconfig.cmake.in
  doc/doxygen/doxyfile.in
  pcl_config.h.in
Labels: module: cmake

#2611 Add Ubuntu16.04 based build on Azure Pipelines
  .azure-pipelines.yml
  .travis.sh
  .travis.yml
  README.md
Labels: module: ci

#2620 Downgrade grabber dependency message level to STATUS.
  cmake/pcl_targets.cmake
Labels: module: cmake

#2626 POP policy-stack before return()
  PCLConfig.cmake.in
Labels: module: cmake

#2627 Remove CMake policy CMP0054 setting.
  CMakeLists.txt
Labels: module: cmake

#2612 address conflict between visualization and VTK head
  visualization/src/pcl_visualizer.cpp
Labels: module: visualization

#2633 Fix development version check on DISSECT_VERSION.
  cmake/pcl_utils.cmake
Labels: module: cmake

#2645 Dead code removal
  apps/3d_rec_framework/tools/apps/src/global_classification.cpp
  apps/src/grabcut_2d.cpp
  cuda/apps/src/kinect_normals_cuda.cpp
  cuda/sample_consensus/src/msac.cpp
  gpu/kinfu/tools/evaluation.cpp
  gpu/kinfu/tools/kinfu_app_sim.cpp
  gpu/kinfu_large_scale/src/cyclical_buffer.cpp
  gpu/kinfu_large_scale/tools/evaluation.cpp
  gpu/kinfu_large_scale/tools/kinfuLS_app.cpp
  gpu/kinfu_large_scale/tools/kinfu_app_sim.cpp
  gpu/kinfu_large_scale/tools/standalone_texture_mapping.cpp
  gpu/people/src/people_detector.cpp
  io/src/vlp_grabber.cpp
  keypoints/src/agast_2d.cpp
  ml/src/kmeans.cpp
  simulation/src/glsl_shader.cpp
  surface/src/on_nurbs/fitting_curve_2d_apdm.cpp
  surface/src/on_nurbs/fitting_curve_2d_asdm.cpp
  surface/src/on_nurbs/fitting_curve_2d_pdm.cpp
  surface/src/on_nurbs/triangulation.cpp
  test/2d/test_2d.cpp
  test/common/test_eigen.cpp
  test/common/test_intensity.cpp
  test/octree/test_octree.cpp
  test/octree/test_octree_iterator.cpp
  test/outofcore/test_outofcore.cpp
Labels: module: apps, module: cuda, module: gpu, module: io, module: keypoints, module: ml, module: simulation, module: surface, module: tests

#2653 Fix Modeler app with OpenGL2 rendering backend
  apps/modeler/src/points_actor_item.cpp
  apps/modeler/src/surface_actor_item.cpp
Labels: module: apps

#2648 Fixed a lot of knownConditionTrueFalse
  apps/src/ni_agast.cpp
  apps/src/ni_brisk.cpp
  apps/src/ni_linemod.cpp
  apps/src/ni_susan.cpp
  apps/src/ni_trajkovic.cpp
  apps/src/openni_klt.cpp
  features/src/range_image_border_extractor.cpp
  gpu/kinfu/tools/kinfu_app.cpp
  gpu/kinfu/tools/kinfu_app_sim.cpp
  gpu/kinfu_large_scale/tools/kinfuLS_app.cpp
  keypoints/src/narf_keypoint.cpp
  simulation/tools/sim_terminal_demo.cpp
  simulation/tools/sim_viewer.cpp
  tools/mesh2pcd.cpp
  tools/mesh_sampling.cpp
  visualization/tools/openni2_viewer.cpp
  visualization/tools/openni_viewer.cpp
Labels: module: apps, module: features, module: gpu, module: keypoints, module: simulation, module: tools, module: visualization

#2657 Removed all duplicated branches in AgastKeypoint2D
  keypoints/src/agast_2d.cpp
Labels: module: keypoints

#2665 Fix warnings from GCC 7.3.0
  test/common/test_eigen.cpp
  test/octree/test_octree.cpp
  test/segmentation/test_random_walker.cpp
Labels: module: tests
