Repository PointCloudLibrary/pcl, pull requests merged in 2018-02, with the labels that each got.

#2213 doc: misc. typos
  doc/advanced/content/index.rst
  doc/advanced/content/pcl2.rst
  doc/tutorials/content/adding_custom_ptype.rst
  doc/tutorials/content/benchmark.rst
  doc/tutorials/content/benchmark_filters.rst
  doc/tutorials/content/building_pcl.rst
  doc/tutorials/content/compiling_pcl_dependencies_windows.rst
  doc/tutorials/content/compiling_pcl_windows.rst
  doc/tutorials/content/don_segmentation.rst
  doc/tutorials/content/gpu_install.rst
  doc/tutorials/content/ground_based_rgbd_people_detection.rst
  doc/tutorials/content/hdl_grabber.rst
  doc/tutorials/content/hull_2d.rst
  doc/tutorials/content/interactive_icp.rst
  doc/tutorials/content/matrix_transform.rst
  doc/tutorials/content/min_cut_segmentation.rst
  doc/tutorials/content/narf_feature_extraction.rst
  doc/tutorials/content/openni_grabber.rst
  doc/tutorials/content/pcl_plotter.rst
  doc/tutorials/content/qt_visualizer.rst
  doc/tutorials/content/random_sample_consensus.rst
  doc/tutorials/content/range_image_creation.rst
  doc/tutorials/content/region_growing_rgb_segmentation.rst
  doc/tutorials/content/region_growing_segmentation.rst
  doc/tutorials/content/registration_api.rst
  doc/tutorials/content/rops_feature.rst
  doc/tutorials/content/sources/don_segmentation/don_segmentation.cpp
  doc/tutorials/content/sources/iccv2011/include/registration.h
  doc/tutorials/content/sources/iccv2011/include/segmentation.h
  doc/tutorials/content/sources/iccv2011/src/test_registration.cpp
  doc/tutorials/content/sources/interactive_icp/interactive_icp.cpp
  doc/tutorials/content/sources/iros2011/include/registration.h
  doc/tutorials/content/sources/iros2011/include/solution/registration.h
  doc/tutorials/content/sources/iros2011/include/solution/segmentation.h
  doc/tutorials/content/sources/iros2011/src/test_registration.cpp
  doc/tutorials/content/sources/matrix_transform/matrix_transform.cpp
  doc/tutorials/content/sources/template_alignment/template_alignment.cpp
  doc/tutorials/content/supervoxel_clustering.rst
  doc/tutorials/content/template_alignment.rst
  doc/tutorials/content/tracking.rst
  doc/tutorials/content/using_pcl_pcl_config.rst
  doc/tutorials/content/walkthrough.rst
  doc/tutorials/content/writing_new_classes.rst
Labels: status: waiting feedback

#2212 Fix compilation issues with CUDA 9.1
  cmake/pcl_find_cuda.cmake
  cuda/features/include/pcl/cuda/features/normal_3d_kernels.h
  cuda/io/src/extract_indices.cu
  gpu/kinfu/src/cuda/extract.cu
  gpu/kinfu/src/cuda/marching_cubes.cu
  gpu/kinfu/src/cuda/utils.hpp
  gpu/kinfu_large_scale/src/cuda/extract.cu
  gpu/kinfu_large_scale/src/cuda/marching_cubes.cu
  gpu/kinfu_large_scale/src/cuda/utils.hpp
  gpu/surface/src/cuda/convex_hull.cu
Labels: module: cuda, module: gpu

#2224 [PARSE] Constness of the API
  common/include/pcl/console/parse.h
  common/src/parse.cpp
Labels: module: common

#1983 [OCTREE] Implementation of the iterator 'OctreeFixedDepthIterator'.
  octree/CMakeLists.txt
  octree/include/pcl/octree/impl/octree_iterator.hpp
  octree/include/pcl/octree/octree_base.h
  octree/include/pcl/octree/octree_iterator.h
  octree/include/pcl/octree/octree_key.h
  test/octree/test_octree_iterator.cpp
  tools/octree_viewer.cpp
Labels: changes: breaks ABI, new feature, status: waiting feedback
