Repository PointCloudLibrary/pcl, pull requests merged in 2019-04, with the labels that each got.

#2970 Added const qualifier to sample_consesus methods
  sample_consensus/include/pcl/sample_consensus/impl/mlesac.hpp
  sample_consensus/include/pcl/sample_consensus/mlesac.h
  sample_consensus/include/pcl/sample_consensus/rmsac.h
  sample_consensus/include/pcl/sample_consensus/rransac.h
  sample_consensus/include/pcl/sample_consensus/sac.h
  sample_consensus/include/pcl/sample_consensus/sac_model.h
  sample_consensus/include/pcl/sample_consensus/sac_model_cylinder.h
  sample_consensus/include/pcl/sample_consensus/sac_model_normal_parallel_plane.h
  sample_consensus/include/pcl/sample_consensus/sac_model_parallel_plane.h
  sample_consensus/include/pcl/sample_consensus/sac_model_perpendicular_plane.h
Labels: module: sample_consensus

#2976 Add missing include in HDL grabber
  io/src/hdl_grabber.cpp
Labels: module: io

#2691 Reorganize and beautify project generation for IDEs
  CMakeLists.txt
  apps/CMakeLists.txt
  cmake/pcl_options.cmake
  cmake/pcl_targets.cmake
  cmake/pcl_utils.cmake
  doc/advanced/CMakeLists.txt
  doc/doxygen/CMakeLists.txt
  doc/tutorials/CMakeLists.txt
  doc/tutorials/content/compiling_pcl_windows.rst
  doc/tutorials/content/images/windows/pcl_solution_with_projects_folder.png
  doc/tutorials/content/images/windows/pcl_solution_without_projects_folder.png
  examples/CMakeLists.txt
  test/CMakeLists.txt
  tools/CMakeLists.txt
  tools/davidsdk_viewer.cpp
  tools/depth_sense_viewer.cpp
  tools/ensenso_viewer.cpp
  tools/hdl_viewer_simple.cpp
  tools/image_grabber_saver.cpp
  tools/image_grabber_viewer.cpp
  tools/image_viewer.cpp
  tools/oni_viewer_simple.cpp
  tools/openni2_viewer.cpp
  tools/openni_image.cpp
  tools/openni_viewer.cpp
  tools/openni_viewer_simple.cpp
  tools/pcd_grabber_viewer.cpp
  tools/pcd_viewer.cpp
  tools/real_sense_viewer.cpp
  tools/timed_trigger_test.cpp
  tools/vlp_viewer.cpp
  visualization/CMakeLists.txt
  visualization/tools/CMakeLists.txt
Labels: module: cmake

#2979 Include pcl_config.h before testing `HAVE_QHULL`
  surface/include/pcl/surface/concave_hull.h
  surface/include/pcl/surface/convex_hull.h
  surface/include/pcl/surface/qhull.h
  surface/src/concave_hull.cpp
Labels: module: surface

#2971 Refactor AgastDetector5_8_computeCornerScore
  keypoints/src/agast_2d.cpp
Labels: module: keypoints

#2892 Fix broken failure_after_max_iter_
  registration/include/pcl/registration/default_convergence_criteria.h
  registration/include/pcl/registration/impl/default_convergence_criteria.hpp
  registration/include/pcl/registration/impl/icp.hpp
Labels: changes: behavior, module: registration

#2980 Don't test buffers with char
  test/io/test_buffers.cpp
Labels: module: tests

#2981 Add sync variants to CUDA vote functions to support PTX/ARCH >= 7.0
  gpu/features/src/fpfh.cu
  gpu/octree/src/cuda/approx_nsearch.cu
  gpu/octree/src/cuda/knn_search.cu
  gpu/octree/src/cuda/radius_search.cu
Labels: module: gpu

#2984 Combine separate offset variables into single arrays in agast_2D.h
  keypoints/include/pcl/keypoints/agast_2d.h
  keypoints/src/agast_2d.cpp
Labels: module: keypoints

#2956 Use random generator from C++11 instead of from Boost
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_crh.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_cvfh.hpp
  common/include/pcl/common/impl/random.hpp
  common/include/pcl/common/random.h
  outofcore/include/pcl/outofcore/boost.h
  outofcore/include/pcl/outofcore/impl/octree_base_node.hpp
  outofcore/include/pcl/outofcore/impl/octree_disk_container.hpp
  outofcore/include/pcl/outofcore/impl/octree_ram_container.hpp
  outofcore/include/pcl/outofcore/octree_abstract_node_container.h
  outofcore/include/pcl/outofcore/octree_base_node.h
  outofcore/include/pcl/outofcore/octree_disk_container.h
  outofcore/include/pcl/outofcore/octree_ram_container.h
  recognition/include/pcl/recognition/hv/hv_go.h
  simulation/include/pcl/simulation/range_likelihood.h
  simulation/src/range_likelihood.cpp
  surface/include/pcl/surface/boost.h
  surface/include/pcl/surface/impl/mls.hpp
  surface/include/pcl/surface/mls.h
  test/common/boost.h
  test/common/test_eigen.cpp
  test/outofcore/test_outofcore.cpp
  test/registration/test_correspondence_rejectors.cpp
  test/search/test_search.cpp
  test/surface/test_convex_hull.cpp
  tools/add_gaussian_noise.cpp
  tools/boost.h
  tools/virtual_scanner.cpp
  tracking/CMakeLists.txt
  tracking/include/pcl/tracking/boost.h
  tracking/include/pcl/tracking/impl/particle_filter.hpp
  tracking/include/pcl/tracking/impl/pyramidal_klt.hpp
  tracking/include/pcl/tracking/impl/tracker.hpp
  tracking/include/pcl/tracking/impl/tracking.hpp
  tracking/src/tracking.cpp
Labels: c++14, changes: breaks ABI, enhancement

#2996 Add missing shell command in documentation
  doc/tutorials/content/building_pcl.rst
Labels: module: tutorials

#2993 Remove unnecessary flann includes
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/global_nn_classifier.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/global_nn_recognizer_cvfh.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_cvfh.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/local_recognizer.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/local_recognizer.h
  apps/3d_rec_framework/src/tools/local_recognition_mian_dataset.cpp
  apps/include/pcl/apps/nn_classification.h
  apps/src/feature_matching.cpp
  apps/src/openni_mls_smoothing.cpp
  common/include/pcl/pcl_macros.h
  examples/features/example_difference_of_normals.cpp
  examples/features/example_normal_estimation.cpp
  examples/features/example_rift_estimation.cpp
  examples/segmentation/example_extract_clusters_normals.cpp
  features/include/pcl/features/grsd.h
  features/include/pcl/features/impl/spin_image.hpp
  gpu/kinfu_large_scale/tools/standalone_texture_mapping.cpp
  kdtree/include/pcl/kdtree/flann.h
  kdtree/include/pcl/kdtree/impl/io.hpp
  kdtree/include/pcl/kdtree/impl/kdtree_flann.hpp
  kdtree/include/pcl/kdtree/kdtree_flann.h
  keypoints/include/pcl/keypoints/impl/smoothed_surfaces_keypoint.hpp
  recognition/include/pcl/recognition/implicit_shape_model.h
  recognition/src/ransac_based/model_library.cpp
  registration/include/pcl/registration/registration.h
  registration/include/pcl/registration/transformation_validation_euclidean.h
  search/include/pcl/search/impl/flann_search.hpp
  segmentation/include/pcl/segmentation/impl/unary_classifier.hpp
  segmentation/src/unary_classifier.cpp
  simulation/tools/sim_test_performance.cpp
  simulation/tools/sim_test_simple.cpp
  simulation/tools/sim_viewer.cpp
  surface/include/pcl/surface/gp3.h
  surface/include/pcl/surface/impl/concave_hull.hpp
  surface/include/pcl/surface/impl/gp3.hpp
  surface/include/pcl/surface/impl/marching_cubes.hpp
  surface/include/pcl/surface/impl/marching_cubes_hoppe.hpp
  surface/include/pcl/surface/impl/marching_cubes_rbf.hpp
  test/features/test_grsd_estimation.cpp
  test/features/test_rsd_estimation.cpp
  test/kdtree/test_kdtree.cpp
  test/recognition/test_recognition_cg.cpp
  test/recognition/test_recognition_ism.cpp
  test/search/test_flann_search.cpp
  test/segmentation/test_segmentation.cpp
  visualization/include/pcl/visualization/common/io.h
  visualization/src/common/io.cpp
  visualization/test/test_geometry.cpp
Labels: changes: deprecation

#2935 Use preinstalled Boost on Azure
  .ci/azure-pipelines/build-windows.yml
Labels: module: ci

#3001 Fix warning C4005: 'M_PI_4': macro redefinition
  common/include/pcl/pcl_macros.h
Labels: module: common

#3003 Add newer Boost versions to Boost_ADDITIONAL_VERSIONS
  PCLConfig.cmake.in
  cmake/pcl_find_boost.cmake
Labels: module: cmake

#3028 Use nullptr in module tools
  tools/generate.cpp
  tools/image_grabber_viewer.cpp
  tools/mesh_sampling.cpp
  tools/obj_rec_ransac_accepted_hypotheses.cpp
  tools/obj_rec_ransac_result.cpp
  tools/octree_viewer.cpp
  tools/oni_viewer_simple.cpp
  tools/openni2_viewer.cpp
  tools/openni_save_image.cpp
  tools/openni_viewer.cpp
  tools/pcd_grabber_viewer.cpp
  tools/pcd_viewer.cpp
  tools/virtual_scanner.cpp
  tools/voxel_grid_occlusion_estimation.cpp
Labels: c++14, module: tools

#3027 Use nullptr in module test
  test/io/test_io.cpp
  test/io/test_ply_io.cpp
  test/kdtree/test_kdtree.cpp
  test/octree/test_octree.cpp
  test/search/test_flann_search.cpp
  test/search/test_kdtree.cpp
  test/search/test_octree.cpp
  test/search/test_organized.cpp
Labels: c++14, module: tests

#3026 Use nullptr in module surface
  surface/include/pcl/surface/impl/concave_hull.hpp
  surface/include/pcl/surface/impl/convex_hull.hpp
  surface/include/pcl/surface/impl/mls.hpp
  surface/include/pcl/surface/mls.h
  surface/src/on_nurbs/sequential_fitter.cpp
  surface/src/vtk_smoothing/vtk_utils.cpp
Labels: c++14, module: surface

#3025 Use nullptr in module stereo
  stereo/src/stereo_matching.cpp
Labels: c++14, module: stereo

#3024 Use nullptr in module simulation
  simulation/src/glsl_shader.cpp
  simulation/src/model.cpp
  simulation/src/range_likelihood.cpp
  simulation/src/sum_reduce.cpp
  simulation/tools/sim_viewer.cpp
Labels: c++14, module: simulation

#3021 Use nullptr in module sample_consensus
  sample_consensus/include/pcl/sample_consensus/sac.h
  sample_consensus/include/pcl/sample_consensus/sac_model.h
Labels: c++14, module: sample_consensus

#3020 Use nullptr in module registration
  registration/include/pcl/registration/exceptions.h
  registration/include/pcl/registration/impl/ia_fpcs.hpp
  registration/include/pcl/registration/impl/ia_ransac.hpp
  registration/include/pcl/registration/impl/ndt.hpp
  registration/include/pcl/registration/impl/ndt_2d.hpp
  registration/include/pcl/registration/impl/sample_consensus_prerejective.hpp
  registration/include/pcl/registration/impl/transformation_estimation_lm.hpp
  registration/include/pcl/registration/registration.h
Labels: c++14, module: registration

#3019 Use nullptr in module recognition
  recognition/include/pcl/recognition/color_gradient_modality.h
  recognition/include/pcl/recognition/crh_alignment.h
  recognition/include/pcl/recognition/face_detection/rf_face_utils.h
  recognition/include/pcl/recognition/hv/hypotheses_verification.h
  recognition/include/pcl/recognition/impl/hv/occlusion_reasoning.hpp
  recognition/include/pcl/recognition/impl/implicit_shape_model.hpp
  recognition/include/pcl/recognition/impl/ransac_based/simple_octree.hpp
  recognition/include/pcl/recognition/impl/ransac_based/voxel_structure.hpp
  recognition/include/pcl/recognition/linemod.h
  recognition/include/pcl/recognition/ransac_based/bvh.h
  recognition/include/pcl/recognition/ransac_based/hypothesis.h
  recognition/include/pcl/recognition/ransac_based/model_library.h
  recognition/include/pcl/recognition/ransac_based/obj_rec_ransac.h
  recognition/include/pcl/recognition/ransac_based/orr_octree.h
  recognition/include/pcl/recognition/ransac_based/orr_octree_zprojection.h
  recognition/include/pcl/recognition/ransac_based/rigid_transform_space.h
  recognition/include/pcl/recognition/ransac_based/voxel_structure.h
  recognition/include/pcl/recognition/surface_normal_modality.h
  recognition/src/face_detection/face_detector_data_provider.cpp
  recognition/src/ransac_based/model_library.cpp
  recognition/src/ransac_based/obj_rec_ransac.cpp
  recognition/src/ransac_based/orr_octree.cpp
  recognition/src/ransac_based/orr_octree_zprojection.cpp
Labels: c++14, module: recognition

#3018 Use nullptr in module people
  people/include/pcl/people/impl/ground_based_people_detection_app.hpp
  people/include/pcl/people/impl/head_based_subcluster.hpp
  people/include/pcl/people/impl/height_map_2d.hpp
  people/src/hog.cpp
Labels: c++14, module: people

#3017 Use nullptr in module outofcore
  outofcore/include/pcl/outofcore/impl/octree_base.hpp
  outofcore/include/pcl/outofcore/impl/octree_base_node.hpp
  outofcore/include/pcl/outofcore/impl/octree_disk_container.hpp
  outofcore/include/pcl/outofcore/impl/outofcore_breadth_first_iterator.hpp
  outofcore/include/pcl/outofcore/impl/outofcore_depth_first_iterator.hpp
  outofcore/include/pcl/outofcore/octree_base_node.h
  outofcore/include/pcl/outofcore/outofcore_iterator_base.h
  outofcore/include/pcl/outofcore/visualization/geometry.h
  outofcore/src/cJSON.cpp
  outofcore/src/visualization/outofcore_cloud.cpp
  outofcore/src/visualization/scene.cpp
  outofcore/src/visualization/viewport.cpp
  outofcore/tools/outofcore_print.cpp
Labels: c++14, module: outofcore

#3016 Use nullptr in module octree
  octree/include/pcl/octree/impl/octree2buf_base.hpp
  octree/include/pcl/octree/impl/octree_base.hpp
  octree/include/pcl/octree/impl/octree_pointcloud_adjacency.hpp
  octree/include/pcl/octree/octree2buf_base.h
  octree/include/pcl/octree/octree_base.h
  octree/include/pcl/octree/octree_nodes.h
Labels: c++14, module: octree

#3015 Use nullptr in module ml
  ml/include/pcl/ml/impl/dt/decision_tree_trainer.hpp
  ml/include/pcl/ml/svm_wrapper.h
  ml/src/permutohedral.cpp
  ml/src/svm.cpp
  ml/src/svm_wrapper.cpp
Labels: c++14, module: ml

#3014 Use nullptr in module keypoints
  keypoints/include/pcl/keypoints/iss_3d.h
  keypoints/include/pcl/keypoints/narf_keypoint.h
  keypoints/src/narf_keypoint.cpp
Labels: c++14, module: keypoints

#3013 Use nullptr in module kdtree
  kdtree/include/pcl/kdtree/impl/kdtree_flann.hpp
  kdtree/include/pcl/kdtree/kdtree.h
Labels: c++14, module: kdtree

#3012 Use nullptr in module io
  io/include/pcl/io/grabber.h
  io/include/pcl/io/impl/pcd_io.hpp
  io/include/pcl/io/impl/point_cloud_image_extractors.hpp
  io/include/pcl/io/openni2/openni2_frame_listener.h
  io/include/pcl/io/openni_camera/openni_device.h
  io/include/pcl/io/ply_io.h
  io/src/dinast_grabber.cpp
  io/src/hdl_grabber.cpp
  io/src/libpng_wrapper.cpp
  io/src/lzf_image_io.cpp
  io/src/oni_grabber.cpp
  io/src/openni2/openni2_device.cpp
  io/src/openni2_grabber.cpp
  io/src/openni_camera/openni_device.cpp
  io/src/openni_camera/openni_driver.cpp
  io/src/pcd_io.cpp
  io/src/ply_io.cpp
  io/src/robot_eye_grabber.cpp
  io/src/vtk_lib_io.cpp
  io/tools/ply/ply2obj.cpp
  io/tools/ply/ply2raw.cpp
Labels: c++14, module: io

#3011 Use nullptr in module gpu
  gpu/containers/include/pcl/gpu/containers/kernel_containers.h
  gpu/containers/src/device_memory.cpp
  gpu/containers/src/initialization.cpp
  gpu/kinfu/include/pcl/gpu/kinfu/kinfu.h
  gpu/kinfu/tools/capture.cpp
  gpu/kinfu/tools/kinfu_app.cpp
  gpu/kinfu_large_scale/include/pcl/gpu/kinfu_large_scale/impl/standalone_marching_cubes.hpp
  gpu/kinfu_large_scale/include/pcl/gpu/kinfu_large_scale/tsdf_buffer.h
  gpu/kinfu_large_scale/tools/capture.cpp
  gpu/kinfu_large_scale/tools/kinfuLS_app.cpp
  gpu/octree/src/internal.hpp
  gpu/octree/src/octree.cpp
  gpu/people/src/cuda/nvidia/NCV.hpp
  gpu/people/src/face_detector.cpp
Labels: c++14, module: gpu

#3010 Use nullptr in module geometry
  geometry/include/pcl/geometry/mesh_circulators.h
Labels: c++14, module: geometry

#3009 Use nullptr in module filters
  filters/include/pcl/filters/impl/conditional_removal.hpp
  filters/include/pcl/filters/normal_space.h
  filters/include/pcl/filters/random_sample.h
  filters/include/pcl/filters/sampling_surface_normal.h
  filters/include/pcl/filters/voxel_grid_covariance.h
Labels: c++14, module: filters

#3008 Use nullptr in module features
  features/include/pcl/features/3dsc.h
  features/include/pcl/features/impl/brisk_2d.hpp
  features/include/pcl/features/impl/crh.hpp
  features/include/pcl/features/impl/esf.hpp
  features/include/pcl/features/impl/integral_image_normal.hpp
  features/include/pcl/features/impl/range_image_border_extractor.hpp
  features/include/pcl/features/integral_image_normal.h
  features/include/pcl/features/narf.h
  features/include/pcl/features/narf_descriptor.h
  features/include/pcl/features/range_image_border_extractor.h
  features/src/narf.cpp
  features/src/range_image_border_extractor.cpp
Labels: c++14, module: features

#3007 Use nullptr in module examples
  examples/outofcore/example_outofcore.cpp
  examples/segmentation/example_cpc_segmentation.cpp
  examples/segmentation/example_lccp_segmentation.cpp
  examples/segmentation/example_supervoxels.cpp
  examples/surface/example_nurbs_viewer_surface.cpp
Labels: c++14, module: examples

#3006 Use nullptr in module cuda
  cuda/common/include/pcl/cuda/time_cpu.h
Labels: c++14, module: cuda

#3005 Use nullptr in module common
  common/include/pcl/common/impl/bivariate_polynomial.hpp
  common/include/pcl/common/impl/file_io.hpp
  common/include/pcl/exceptions.h
  common/include/pcl/range_image/impl/range_image.hpp
  common/include/pcl/range_image/range_image.h
Labels: c++14, module: common

#2999 Fix a bug in `ConvexHull` when indices are used
  surface/include/pcl/surface/impl/convex_hull.hpp
Labels: module: surface

#3022 Use nullptr in module search
  search/include/pcl/search/impl/brute_force.hpp
  search/include/pcl/search/impl/flann_search.hpp
  search/include/pcl/search/impl/search.hpp
  search/include/pcl/search/organized.h
Labels: c++14, module: search

#2962 Use random generator from C++11 instead of from Boost in module features
  features/include/pcl/features/3dsc.h
  features/include/pcl/features/boost.h
  features/include/pcl/features/impl/3dsc.hpp
  test/features/test_shot_estimation.cpp
Labels: c++14, module: features

#3023 Use nullptr in module segmentation
  segmentation/include/pcl/segmentation/impl/crf_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/extract_clusters.hpp
  segmentation/include/pcl/segmentation/impl/extract_labeled_clusters.hpp
  segmentation/include/pcl/segmentation/impl/min_cut_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/region_growing.hpp
  segmentation/include/pcl/segmentation/impl/region_growing_rgb.hpp
  segmentation/include/pcl/segmentation/impl/seeded_hue_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/supervoxel_clustering.hpp
  segmentation/include/pcl/segmentation/impl/unary_classifier.hpp
  segmentation/include/pcl/segmentation/supervoxel_clustering.h
Labels: c++14, module: segmentation

#3035 Add missing includes in ensenso_viewer.cpp
  tools/ensenso_viewer.cpp
Labels: module: tools

#3037 [io] Removed trailing semicolons after macro calls
  io/include/pcl/io/ply/ply.h
Labels: module: io

#3039 Use return braced init list
  apps/modeler/include/pcl/apps/modeler/render_window.h
  apps/modeler/src/scene_tree.cpp
  gpu/octree/include/pcl/gpu/octree/device_format.hpp
  tracking/include/pcl/tracking/impl/tracking.hpp
Labels: c++14

#3029 Use nullptr in module visualization
  visualization/include/pcl/visualization/cloud_viewer.h
  visualization/include/pcl/visualization/image_viewer.h
  visualization/include/pcl/visualization/impl/pcl_visualizer.hpp
  visualization/include/pcl/visualization/pcl_plotter.h
  visualization/include/pcl/visualization/pcl_visualizer.h
  visualization/include/pcl/visualization/window.h
  visualization/src/image_viewer.cpp
  visualization/src/interactor_style.cpp
  visualization/src/pcl_plotter.cpp
  visualization/src/pcl_visualizer.cpp
  visualization/src/point_picking_event.cpp
  visualization/src/vtk/pcl_context_item.cpp
  visualization/src/vtk/vtkVertexBufferObject.cxx
  visualization/src/vtk/vtkVertexBufferObjectMapper.cxx
Labels: c++14, module: visualization
