Repository PointCloudLibrary/pcl, pull requests merged in 2019-11, with the labels that each got.

#3440 PCL_COMMON: removing default constructors/destructors
  common/include/pcl/PCLHeader.h
  common/include/pcl/PCLImage.h
  common/include/pcl/PCLPointCloud2.h
  common/include/pcl/PCLPointField.h
  common/include/pcl/TextureMesh.h
  common/include/pcl/common/impl/accumulators.hpp
  common/include/pcl/common/impl/polynomial_calculations.hpp
  common/include/pcl/common/impl/vector_average.hpp
  common/include/pcl/common/polynomial_calculations.h
  common/include/pcl/common/poses_from_matches.h
  common/include/pcl/common/synchronizer.h
  common/include/pcl/common/time.h
  common/include/pcl/common/transformation_from_correspondences.h
  common/include/pcl/common/vector_average.h
  common/include/pcl/correspondence.h
  common/include/pcl/point_cloud.h
  common/include/pcl/point_representation.h
  common/include/pcl/range_image/bearing_angle_image.h
  common/src/bearing_angle_image.cpp
  common/src/poses_from_matches.cpp
Labels: module: common

#3441 Refactor `pcl::eigen33()` to reduce potential errors (and remove bug)
  common/include/pcl/common/impl/eigen.hpp
  test/common/test_eigen.cpp
  test/features/test_gasd_estimation.cpp
Labels: module: common

#3449 Fix CMakeLists in VFH tutorial
  doc/tutorials/content/sources/vfh_recognition/CMakeLists.txt
Labels: module: tutorials

#3456 Make `Registration::hasConverged()` const qualified
  registration/include/pcl/registration/registration.h
Labels: module: registration

#3454 PCL_COMMON: removing default destructors - part 2
  common/include/pcl/common/time.h
  common/include/pcl/common/transformation_from_correspondences.h
  common/include/pcl/common/vector_average.h
  common/include/pcl/correspondence.h
  common/include/pcl/point_cloud.h
Labels: module: common

#3457 Deprecate pcl_isnan, pcl_isfinite and pcl_isinf properly
  common/include/pcl/pcl_macros.h
Labels: changes: deprecation, module: common

#3460 Do not use `VERSION_GREATER_EQUAL`
  gpu/people/CMakeLists.txt
Labels: module: cmake

#3461 Do not discard data fields in uniform sampling tool
  tools/uniform_sampling.cpp
Labels: changes: behavior, module: tools

#2214 Add RSSDK 2.0 (librealsense 2.0) grabber implementation
  CMakeLists.txt
  PCLConfig.cmake.in
  cmake/Modules/FindRSSDK2.cmake
  cmake/pcl_all_in_one_installer.cmake
  io/CMakeLists.txt
  io/include/pcl/io/real_sense_2_grabber.h
  io/src/real_sense_2_grabber.cpp
Labels: c++14, module: io, status: needs testing

#3466 Set default min and max angle for sac cone models
  segmentation/include/pcl/segmentation/sac_segmentation.h
Labels: changes: behavior, module: sample_consensus

#3469 Remove `SupervoxelClustering::getColoredVoxelCloud()`
  apps/cloud_composer/include/pcl/apps/cloud_composer/tools/impl/supervoxels.hpp
  segmentation/include/pcl/segmentation/supervoxel_clustering.h
Labels: changes: removal, module: segmentation

#3473 Rssdk2 tweaks
  io/CMakeLists.txt
  io/include/pcl/io/real_sense_2_grabber.h
  io/src/real_sense_2_grabber.cpp
Labels: module: io

#3477 Define RangeImage dtor as virtual.
  common/include/pcl/range_image/range_image.h
  common/src/range_image.cpp
Labels: module: common

#3478 Treat compiler warnings as errors in Ubuntu 16.04 CI job
  .ci/azure-pipelines/build-ubuntu-16-04.yaml
  CMakeLists.txt
  cmake/pcl_options.cmake
Labels: module: ci, module: cmake
