Repository PointCloudLibrary/pcl, pull requests merged in 2019-02, with the labels that each got.

#2818 Use std::lround instead of boost::math::iround
  doc/tutorials/content/sources/qt_colorize_cloud/pclviewer.cpp
Labels: module: tutorials

#2815 Fix bug in gpu/kinfu/tools/CMakeLists.txt
  gpu/kinfu/tools/CMakeLists.txt
Labels: module: cmake, module: gpu

#2819 Replace boost::math::isnan by std::isnan
  apps/in_hand_scanner/src/icp.cpp
  apps/in_hand_scanner/src/input_data_processing.cpp
  apps/in_hand_scanner/src/integration.cpp
  apps/in_hand_scanner/src/opengl_viewer.cpp
  common/include/pcl/pcl_macros.h
Labels: c++14

#2821 Transition to standard smart pointers, part 2
  recognition/include/pcl/recognition/cg/hough_3d.h
  recognition/include/pcl/recognition/impl/cg/hough_3d.hpp
  recognition/include/pcl/recognition/impl/implicit_shape_model.hpp
  recognition/include/pcl/recognition/implicit_shape_model.h
  segmentation/include/pcl/segmentation/cpc_segmentation.h
  segmentation/include/pcl/segmentation/extract_clusters.h
  segmentation/include/pcl/segmentation/extract_labeled_clusters.h
  segmentation/include/pcl/segmentation/impl/extract_clusters.hpp
  segmentation/include/pcl/segmentation/impl/extract_labeled_clusters.hpp
  segmentation/include/pcl/segmentation/impl/min_cut_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/seeded_hue_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/segment_differences.hpp
  segmentation/include/pcl/segmentation/min_cut_segmentation.h
  segmentation/include/pcl/segmentation/seeded_hue_segmentation.h
  segmentation/include/pcl/segmentation/segment_differences.h
  segmentation/include/pcl/segmentation/supervoxel_clustering.h
Labels: c++14

#2827 Deprecate computeRSD() functions that take point clouds by pointer
  features/include/pcl/features/impl/rsd.hpp
  features/include/pcl/features/rsd.h
Labels: changes: deprecation, module: features

#2823 Transition to standard smart pointers, part 3
  doc/tutorials/content/dinast_grabber.rst
  doc/tutorials/content/gpu_people.rst
  doc/tutorials/content/hdl_grabber.rst
  doc/tutorials/content/openni_grabber.rst
  doc/tutorials/content/sources/davidsdk/davidsdk_images_viewer.cpp
  doc/tutorials/content/sources/ensenso_cameras/ensenso_cloud_images_viewer.cpp
  doc/tutorials/content/sources/gpu/people_detect/src/people_detect.cpp
  doc/tutorials/content/sources/iccv2011/include/load_clouds.h
  doc/tutorials/content/sources/iccv2011/src/tutorial.cpp
  doc/tutorials/content/sources/iros2011/include/load_clouds.h
  doc/tutorials/content/sources/narf_descriptor_visualization/narf_descriptor_visualization.cpp
  doc/tutorials/content/sources/narf_feature_extraction/narf_feature_extraction.cpp
  doc/tutorials/content/sources/narf_keypoint_extraction/narf_keypoint_extraction.cpp
  doc/tutorials/content/sources/openni_narf_keypoint_extraction/openni_narf_keypoint_extraction.cpp
  doc/tutorials/content/sources/openni_range_image_visualization/openni_range_image_visualization.cpp
  doc/tutorials/content/sources/range_image_border_extraction/range_image_border_extraction.cpp
  doc/tutorials/content/sources/range_image_visualization/range_image_visualization.cpp
  doc/tutorials/content/sources/region_growing_rgb_segmentation/region_growing_rgb_segmentation.cpp
  doc/tutorials/content/sources/region_growing_segmentation/region_growing_segmentation.cpp
  doc/tutorials/content/sources/registration_api/example1.cpp
  doc/tutorials/content/sources/rops_feature/rops_feature.cpp
  doc/tutorials/content/sources/supervoxel_clustering/supervoxel_clustering.cpp
  features/include/pcl/features/impl/shot_omp.hpp
  keypoints/include/pcl/keypoints/harris_2d.h
  keypoints/include/pcl/keypoints/harris_6d.h
  keypoints/include/pcl/keypoints/impl/harris_3d.hpp
  keypoints/include/pcl/keypoints/impl/harris_6d.hpp
  keypoints/include/pcl/keypoints/impl/sift_keypoint.hpp
  keypoints/include/pcl/keypoints/impl/susan.hpp
  registration/include/pcl/registration/correspondence_estimation.h
  registration/include/pcl/registration/correspondence_estimation_backprojection.h
  registration/include/pcl/registration/correspondence_estimation_normal_shooting.h
  registration/include/pcl/registration/correspondence_estimation_organized_projection.h
  registration/include/pcl/registration/correspondence_rejection_distance.h
  registration/include/pcl/registration/correspondence_rejection_features.h
  registration/include/pcl/registration/correspondence_rejection_median_distance.h
  registration/include/pcl/registration/correspondence_rejection_surface_normal.h
  registration/include/pcl/registration/correspondence_rejection_var_trimmed.h
  registration/include/pcl/registration/ia_ransac.h
  registration/include/pcl/registration/impl/correspondence_rejection_features.hpp
  registration/include/pcl/registration/impl/ndt_2d.hpp
  registration/include/pcl/registration/transformation_estimation_lm.h
  registration/include/pcl/registration/transformation_estimation_point_to_plane_weighted.h
Labels: c++14

#2828 Remove GTEST_USE_OWN_TR1_TUPLE defines
  gpu/features/test/test_fpfh.cpp
  gpu/features/test/test_normals.cpp
  gpu/features/test/test_pfh.cpp
  gpu/features/test/test_ppf.cpp
  gpu/features/test/test_principal_curvatures.cpp
  gpu/features/test/test_spinimages.cpp
  gpu/features/test/test_vfh.cpp
Labels: module: tests

#2805 Add check for invalid plane coefficients in pcl::MovingLeastSquares
  surface/include/pcl/surface/impl/mls.hpp
Labels: module: surface

#2835 Tranform classic loops to range-based for loops in module 2d
  2d/include/pcl/2d/impl/edge.hpp
Labels: c++14

#2839 Transform classic loops to range-based for loops in module ml
  ml/src/densecrf.cpp
  ml/src/svm_wrapper.cpp
Labels: c++14, module: ml

#2837 Transform classic loops to range-based for loops in module tracking
  tracking/include/pcl/tracking/impl/kld_adaptive_particle_filter.hpp
  tracking/include/pcl/tracking/kld_adaptive_particle_filter.h
Labels: c++14, changes: breaks API, module: tracking

#2862 Prevent adding /MP flag for MSVC in case any other language than C/CXX will be used (e.g. CUDA)
  CMakeLists.txt
Labels: module: cmake, platform: windows

#2836 Transform classic loops to range-based for loops in module search
  search/include/pcl/search/impl/flann_search.hpp
Labels: c++14, module: search

#2840 Transform classic loops to range-based for loops in module geometry
  geometry/include/pcl/geometry/mesh_base.h
  geometry/include/pcl/geometry/mesh_conversion.h
Labels: c++14, module: geometry

#2852 Add missing const in ranged-based loop
  ml/src/svm_wrapper.cpp
Labels: module: ml

#2747 Remove FZ-API
  CMakeLists.txt
  PCLConfig.cmake.in
  apps/optronic_viewer/CMakeLists.txt
  apps/optronic_viewer/include/pcl/apps/optronic_viewer/cloud_filter.h
  apps/optronic_viewer/include/pcl/apps/optronic_viewer/filter_window.h
  apps/optronic_viewer/include/pcl/apps/optronic_viewer/main_window.h
  apps/optronic_viewer/include/pcl/apps/optronic_viewer/openni_grabber.h
  apps/optronic_viewer/include/pcl/apps/optronic_viewer/qt.h
  apps/optronic_viewer/src/cloud_filter.cpp
  apps/optronic_viewer/src/filter_window.cpp
  apps/optronic_viewer/src/main.cpp
  apps/optronic_viewer/src/main_window.cpp
  apps/optronic_viewer/src/openni_grabber.cpp
  cmake/Modules/FindFZAPI.cmake
  io/CMakeLists.txt
  io/include/pcl/io/fotonic_grabber.h
  io/src/fotonic_grabber.cpp
  pcl_config.h.in
Labels: changes: removal, module: io

#2868 Use -mtune instead of -march on non-x86 CPUs
  cmake/pcl_find_sse.cmake
Labels: module: cmake

#2843 Transform classic loops to range-based for loops in module visualization
  visualization/include/pcl/visualization/impl/image_viewer.hpp
  visualization/include/pcl/visualization/impl/pcl_visualizer.hpp
  visualization/src/common/io.cpp
  visualization/src/histogram_visualizer.cpp
  visualization/src/image_viewer.cpp
  visualization/src/interactor_style.cpp
  visualization/src/pcl_painter2D.cpp
  visualization/src/pcl_plotter.cpp
  visualization/src/pcl_visualizer.cpp
  visualization/src/range_image_visualizer.cpp
  visualization/tools/pcd_viewer.cpp
Labels: c++14, module: visualization

#2846 Transform classic loops to range-based for loops in module keypoints
  keypoints/include/pcl/keypoints/impl/harris_3d.hpp
  keypoints/include/pcl/keypoints/impl/harris_6d.hpp
  keypoints/include/pcl/keypoints/impl/iss_3d.hpp
  keypoints/include/pcl/keypoints/impl/sift_keypoint.hpp
  keypoints/include/pcl/keypoints/impl/smoothed_surfaces_keypoint.hpp
  keypoints/src/narf_keypoint.cpp
Labels: c++14, module: keypoints

#2873 Add quiet flag to msiexec installs.
  cmake/pcl_all_in_one_installer.cmake
Labels: platform: windows

#2875 Fix a bug in `CentroidPoint`
  common/include/pcl/common/centroid.h
  common/include/pcl/common/impl/accumulators.hpp
  common/include/pcl/common/impl/centroid.hpp
  test/common/test_centroid.cpp
Labels: module: common

#2880 Fix cube rendering properties in Moment of Inertia tutorial
  doc/tutorials/content/moment_of_inertia.rst
  doc/tutorials/content/sources/moment_of_inertia/moment_of_inertia.cpp
Labels: module: tutorials
