Repository PointCloudLibrary/pcl, pull requests merged in 2019-10, with the labels that each got.

#3386 Use partially constexpr in kinfu & kinfu_large_scale
  gpu/kinfu/src/cuda/tsdf_volume.cu
  gpu/kinfu/src/internal.h
  gpu/kinfu/src/tsdf_volume.cpp
  gpu/kinfu_large_scale/include/pcl/gpu/kinfu_large_scale/device.h
  gpu/kinfu_large_scale/include/pcl/gpu/kinfu_large_scale/impl/standalone_marching_cubes.hpp
  gpu/kinfu_large_scale/src/cuda/push.cu
  gpu/kinfu_large_scale/src/tsdf_volume.cpp
  recognition/include/pcl/recognition/color_gradient_dot_modality.h
Labels: module: gpu

#3392 Refactored polynomial calculations and removed memory leak
  common/include/pcl/common/impl/polynomial_calculations.hpp
Labels: module: common

#3390 Add linear least squares version of symmetric icp
  registration/CMakeLists.txt
  registration/include/pcl/registration/icp.h
  registration/include/pcl/registration/impl/icp.hpp
  registration/include/pcl/registration/impl/transformation_estimation_symmetric_point_to_plane_lls.hpp
  registration/include/pcl/registration/transformation_estimation_symmetric_point_to_plane_lls.h
  test/registration/test_registration_api.cpp
Labels: module: registration, new feature

#3398 Fixed ordering of statements to resolve debug message
  registration/include/pcl/registration/impl/gicp.hpp
Labels: module: registration

#3391 Add OpenNI2 support to kinfu_largescale tool
  gpu/kinfu_large_scale/tools/kinfuLS_app.cpp
Labels: module: gpu

#3381 Adding possibility of faster builds using ccache
  .ci/azure-pipelines/build-ubuntu.yml
  .ci/azure-pipelines/build-windows.yml
  .dev/docker/env/Dockerfile
  CMakeLists.txt
  cmake/Modules/UseCompilerCache.cmake
  cmake/pcl_options.cmake
Labels: module: cmake

#3401 Deprecate outparameter getFields() in favor of return value
  common/include/pcl/common/impl/io.hpp
  common/include/pcl/common/io.h
  filters/include/pcl/filters/impl/conditional_removal.hpp
  filters/include/pcl/filters/impl/random_sample.hpp
  io/include/pcl/io/impl/ascii_io.hpp
  io/include/pcl/io/impl/pcd_io.hpp
  registration/include/pcl/registration/correspondence_estimation.h
  registration/include/pcl/registration/icp.h
  test/io/test_io.cpp
Labels: changes: deprecation, module: common

#3394 Add a flag to disable window autoresizing in `ImageViewer`
  visualization/include/pcl/visualization/image_viewer.h
  visualization/src/image_viewer.cpp
Labels: module: visualization

#3092 Refactor AgastDetector7_12s_computeCornerScore
  keypoints/src/agast_2d.cpp
Labels: module: keypoints

#3409 Adding space for -Wliteral-suffix
  outofcore/src/visualization/viewport.cpp
Labels: module: outofcore

#3399 Rejuvinate MaskMap
  common/include/pcl/pcl_macros.h
  recognition/include/pcl/recognition/color_gradient_modality.h
  recognition/include/pcl/recognition/mask_map.h
  recognition/src/mask_map.cpp
Labels: changes: deprecation, module: recognition

#3402 Generic detection idiom for `isFinite` with more usage specific…
  common/include/pcl/common/point_tests.h
  common/include/pcl/impl/point_types.hpp
  common/include/pcl/point_types.h
  test/common/test_type_traits.cpp
Labels: module: common

#3418 Use size_t instead of a signed 32 bit integer to compute addres…
  filters/src/crop_box.cpp
Labels: module: filters

#3420 Add formatting job on CI
  .ci/azure-pipelines/formatting.yml
  .dev/format.sh
  cmake/clang-format.cmake
Labels: module: ci

#3396 Replace BOOST_FOREACH by for-ranged loop of C++11
  apps/include/pcl/apps/nn_classification.h
  apps/include/pcl/apps/vfh_nn_classifier.h
  common/include/pcl/conversions.h
  features/include/pcl/features/rsd.h
  gpu/people/src/face_detector.cpp
  io/src/hdl_grabber.cpp
  ml/src/kmeans.cpp
  outofcore/include/pcl/outofcore/impl/octree_base_node.hpp
  surface/include/pcl/surface/impl/grid_projection.hpp
  test/outofcore/test_outofcore.cpp
  test/segmentation/test_random_walker.cpp
  visualization/src/cloud_viewer.cpp
Labels: c++14

#3430 Fix bug in `SimExample::write_depth_image_uint` trigerring -Wtype-limits warning.
  simulation/tools/simulation_io.cpp
Labels: module: simulation

#3429 Fix incorrect switch fallthrough in convolution operator.
  filters/include/pcl/filters/impl/convolution.hpp
Labels: module: filters

#3415 Testing with smaller cache size
  .ci/azure-pipelines/build-ubuntu.yml
  .dev/docker/env/Dockerfile
Labels: module: ci

#3446 Add a new Azure pipeline for Ubuntu 19.10
  .ci/azure-pipelines/build-ubuntu-16-04.yaml
  .ci/azure-pipelines/build-ubuntu-19-10.yaml
Labels: module: ci

#3431 Remove policy push/pop from PCLConfig.cmake file.
  PCLConfig.cmake.in
Labels: module: cmake
