Repository PointCloudLibrary/pcl, pull requests merged in 2019-07, with the labels that each got.

#3201 [ci] Navigate to test folder before running ctest
  .ci/azure-pipelines/build-macos.yml
  .ci/azure-pipelines/build-ubuntu.yml
Labels: module: ci

#3202 Find FLANN using both module- and config-based methods
  cmake/Modules/FindFLANN.cmake
Labels: module: cmake

#3199 [io] Prefer lambdas over binds
  io/include/pcl/io/boost.h
  io/include/pcl/io/openni2/openni2_device.h
  io/include/pcl/io/openni_camera/openni_device.h
  io/src/hdl_grabber.cpp
  io/src/image_grabber.cpp
  io/src/oni_grabber.cpp
  io/src/openni2_grabber.cpp
  io/src/openni_camera/openni_device.cpp
  io/src/openni_grabber.cpp
  io/src/pcd_grabber.cpp
  io/src/ply_io.cpp
  io/src/robot_eye_grabber.cpp
  io/tools/hdl_grabber_example.cpp
  io/tools/openni_grabber_depth_example.cpp
  io/tools/openni_grabber_example.cpp
  io/tools/openni_pcd_recorder.cpp
  io/tools/ply/ply2obj.cpp
  io/tools/ply/ply2ply.cpp
  io/tools/ply/ply2raw.cpp
Labels: c++14, module: io

#3208 Supress -Wformat-security warnings.
  gpu/kinfu/tools/capture.cpp
  gpu/kinfu_large_scale/tools/capture.cpp
Labels: module: gpu

#3207 Add emplace[_back] to pcl::PointCloud
  common/include/pcl/point_cloud.h
  test/common/test_common.cpp
Labels: enhancement, module: common

#3209 [gpu] Prefer lambdas over binds.
  gpu/kinfu/tools/kinfu_app.cpp
  gpu/kinfu_large_scale/tools/kinfuLS_app.cpp
  gpu/kinfu_large_scale/tools/record_maps_rgb.cpp
  gpu/people/tools/people_app.cpp
  gpu/people/tools/people_tracking.cpp
Labels: c++14, module: gpu

#3212 Removed unused variable in square/mls
  surface/include/pcl/surface/impl/mls.hpp
Labels: module: surface

#3188 Adding support for compilation target 'format'
  .clang-format
  .dev/format.sh
  CMakeLists.txt
  cmake/Modules/FindClangFormat.cmake
  cmake/clang-format.cmake
Labels: module: cmake

#3214 respecting nodiscard for fscanf
  ml/src/svm.cpp
Labels: module: ml

#3220 Set FLANN_ROOT in FindFLANN.cmake
  PCLConfig.cmake.in
  cmake/Modules/FindFLANN.cmake
  cmake/pcl_all_in_one_installer.cmake
Labels: module: cmake

#3216 Ensenso - Fix callback declarations per @SergioRAgostinho
  io/include/pcl/io/ensenso_grabber.h
Labels: module: io

#3225 Fix callback signature in some grabbers
  io/include/pcl/io/davidsdk_grabber.h
  io/include/pcl/io/depth_sense_grabber.h
  io/include/pcl/io/real_sense_grabber.h
Labels: module: io

#3231 [filters] Prefer lambdas over binds.
  filters/include/pcl/filters/boost.h
  filters/include/pcl/filters/model_outlier_removal.h
Labels: c++14, module: filters

#3238 Make OpenNI2Grabber constructor work when given a device URI (#3227)
  io/include/pcl/io/openni2_grabber.h
  io/src/openni2_grabber.cpp
Labels: changes: behavior, module: io

#3240 Remove incorrect tree update.
  surface/include/pcl/surface/impl/marching_cubes.hpp
Labels: module: surface

#3243 [docs] Prefer lambdas over binds.
  doc/tutorials/content/dinast_grabber.rst
  doc/tutorials/content/hdl_grabber.rst
  doc/tutorials/content/mobile_streaming.rst
  doc/tutorials/content/openni_grabber.rst
  doc/tutorials/content/sources/davidsdk/davidsdk_images_viewer.cpp
  doc/tutorials/content/sources/ensenso_cameras/ensenso_cloud_images_viewer.cpp
  doc/tutorials/content/sources/gpu/people_detect/src/people_detect.cpp
  doc/tutorials/content/sources/ground_based_rgbd_people_detection/src/main_ground_based_people_detection.cpp
  doc/tutorials/content/sources/iccv2011/src/openni_capture.cpp
  doc/tutorials/content/sources/iros2011/src/openni_capture.cpp
  doc/tutorials/content/sources/openni_grabber/openni_grabber.cpp
  doc/tutorials/content/sources/openni_narf_keypoint_extraction/openni_narf_keypoint_extraction.cpp
  doc/tutorials/content/sources/openni_range_image_visualization/openni_range_image_visualization.cpp
  doc/tutorials/content/sources/point_cloud_compression/point_cloud_compression.cpp
  doc/tutorials/content/sources/tracking/tracking_sample.cpp
Labels: c++14, module: docs

#3217 Transition to standard smart pointers, part 9
  io/include/pcl/io/davidsdk_grabber.h
  io/include/pcl/io/depth_sense/depth_sense_device_manager.h
  io/include/pcl/io/depth_sense/depth_sense_grabber_impl.h
  io/include/pcl/io/depth_sense_grabber.h
  io/include/pcl/io/dinast_grabber.h
  io/include/pcl/io/file_grabber.h
  io/include/pcl/io/hdl_grabber.h
  io/include/pcl/io/image_grabber.h
  io/include/pcl/io/oni_grabber.h
  io/include/pcl/io/openni2/openni2_device.h
  io/include/pcl/io/openni2/openni2_device_manager.h
  io/include/pcl/io/openni2_grabber.h
  io/include/pcl/io/openni_camera/openni_device_kinect.h
  io/include/pcl/io/openni_grabber.h
  io/include/pcl/io/pcd_grabber.h
  io/include/pcl/io/ply/ply_parser.h
  io/include/pcl/io/real_sense/real_sense_device_manager.h
  io/include/pcl/io/real_sense_grabber.h
  io/include/pcl/io/robot_eye_grabber.h
  io/src/openni2/openni2_device_manager.cpp
  io/src/openni2_grabber.cpp
  io/src/openni_camera/openni_device.cpp
  io/src/openni_camera/openni_device_kinect.cpp
  io/src/openni_camera/openni_device_oni.cpp
  io/src/openni_camera/openni_device_primesense.cpp
  io/src/openni_camera/openni_device_xtion.cpp
  io/src/ply/ply_parser.cpp
  io/src/real_sense/real_sense_device_manager.cpp
  tools/davidsdk_viewer.cpp
  tools/depth_sense_viewer.cpp
  tools/ensenso_viewer.cpp
  tools/hdl_viewer_simple.cpp
  tools/image_grabber_saver.cpp
  tools/image_grabber_viewer.cpp
  tools/openni2_viewer.cpp
  tools/openni_image.cpp
  tools/openni_viewer.cpp
  tools/openni_viewer_simple.cpp
  tools/pcd_grabber_viewer.cpp
  tools/real_sense_viewer.cpp
  tools/vlp_viewer.cpp
Labels: module: io, module: tools

#3249 [cuda] Transition from boost::bind to std::bind.
  cuda/apps/src/kinect_cloud.cpp
  cuda/apps/src/kinect_debayering.cpp
  cuda/apps/src/kinect_dediscretize.cpp
  cuda/apps/src/kinect_mapping.cpp
  cuda/apps/src/kinect_normals_cuda.cpp
  cuda/apps/src/kinect_planes_cuda.cpp
  cuda/apps/src/kinect_ransac.cpp
  cuda/apps/src/kinect_segmentation_cuda.cpp
  cuda/apps/src/kinect_segmentation_planes_cuda.cpp
  cuda/apps/src/kinect_tool_standalone.cpp
  cuda/apps/src/kinect_viewer_cuda.cpp
Labels: c++14, module: cuda

#3250 Transition from boost::tuple to std::tuple.
  io/include/pcl/io/boost.h
  io/include/pcl/io/ply/ply_parser.h
  io/include/pcl/io/ply_io.h
  io/src/ply/ply_parser.cpp
  io/src/ply_io.cpp
  io/tools/ply/ply2obj.cpp
  io/tools/ply/ply2ply.cpp
  io/tools/ply/ply2raw.cpp
  registration/include/pcl/registration/impl/elch.hpp
  registration/include/pcl/registration/impl/lum.hpp
Labels: c++14, changes: breaks API, module: io, module: registration

#3253 Add missing std::move or const reference for parameter [io]
  io/include/pcl/io/image.h
  io/include/pcl/io/openni2/openni2_device.h
  io/include/pcl/io/openni2/openni2_frame_listener.h
  io/include/pcl/io/openni2/openni2_metadata_wrapper.h
  io/include/pcl/io/openni_camera/openni_depth_image.h
  io/include/pcl/io/openni_camera/openni_image.h
  io/include/pcl/io/openni_camera/openni_ir_image.h
  io/src/image_depth.cpp
  io/src/image_ir.cpp
  io/src/image_rgb24.cpp
  io/src/image_yuv422.cpp
  io/src/openni2/openni2_device.cpp
  io/src/openni_camera/openni_image_bayer_grbg.cpp
  io/src/openni_camera/openni_image_rgb24.cpp
  io/src/openni_camera/openni_image_yuv_422.cpp
  io/tools/converter.cpp
Labels: module: io

#3254 Replace std::bind by lambda expression to fix compile issue
  cuda/apps/src/kinect_viewer_cuda.cpp
Labels: module: cuda
