Repository PointCloudLibrary/pcl, pull requests merged in 2019-05, with the labels that each got.

#3044 Modernize some CMake macros (Increases minimum required CMake version to 3.5)
  CMakeLists.txt
  apps/3d_rec_framework/CMakeLists.txt
  apps/CMakeLists.txt
  apps/cloud_composer/CMakeLists.txt
  apps/cloud_composer/ComposerTool.cmake
  apps/in_hand_scanner/CMakeLists.txt
  apps/modeler/CMakeLists.txt
  apps/point_cloud_editor/CMakeLists.txt
  cmake/pcl_targets.cmake
  common/CMakeLists.txt
  cuda/apps/CMakeLists.txt
  cuda/features/CMakeLists.txt
  cuda/io/CMakeLists.txt
  cuda/sample_consensus/CMakeLists.txt
  cuda/segmentation/CMakeLists.txt
  doc/tutorials/content/compiling_pcl_dependencies_windows.rst
  doc/tutorials/content/compiling_pcl_macosx.rst
  doc/tutorials/content/compiling_pcl_posix.rst
  doc/tutorials/content/compiling_pcl_windows.rst
  features/CMakeLists.txt
  filters/CMakeLists.txt
  gpu/containers/CMakeLists.txt
  gpu/features/CMakeLists.txt
  gpu/kinfu/CMakeLists.txt
  gpu/kinfu/tools/CMakeLists.txt
  gpu/kinfu_large_scale/CMakeLists.txt
  gpu/kinfu_large_scale/tools/CMakeLists.txt
  gpu/octree/CMakeLists.txt
  gpu/people/CMakeLists.txt
  gpu/people/tools/CMakeLists.txt
  gpu/segmentation/CMakeLists.txt
  gpu/surface/CMakeLists.txt
  gpu/tracking/CMakeLists.txt
  gpu/utils/CMakeLists.txt
  io/CMakeLists.txt
  io/tools/CMakeLists.txt
  io/tools/ply/CMakeLists.txt
  kdtree/CMakeLists.txt
  keypoints/CMakeLists.txt
  ml/CMakeLists.txt
  octree/CMakeLists.txt
  outofcore/CMakeLists.txt
  outofcore/tools/CMakeLists.txt
  people/CMakeLists.txt
  recognition/CMakeLists.txt
  registration/CMakeLists.txt
  sample_consensus/CMakeLists.txt
  search/CMakeLists.txt
  segmentation/CMakeLists.txt
  simulation/CMakeLists.txt
  simulation/tools/CMakeLists.txt
  stereo/CMakeLists.txt
  surface/CMakeLists.txt
  tools/CMakeLists.txt
  tracking/CMakeLists.txt
  visualization/CMakeLists.txt
Labels: module: cmake

#3055 Change postfix of targets
  CMakeLists.txt
Labels: module: cmake, platform: windows

#3063 [common] Migrate mutex, lock and cvs to C++14.
  common/include/pcl/common/boost.h
  common/include/pcl/common/synchronizer.h
  common/include/pcl/common/time_trigger.h
  common/src/time_trigger.cpp
Labels: c++14, changes: breaks ABI, module: common

#3061 Transition to standard smart pointers, part 6
  apps/cloud_composer/include/pcl/apps/cloud_composer/impl/cloud_item.hpp
  apps/cloud_composer/include/pcl/apps/cloud_composer/impl/merge_selection.hpp
  apps/cloud_composer/include/pcl/apps/cloud_composer/impl/transform_clouds.hpp
  apps/cloud_composer/include/pcl/apps/cloud_composer/tools/impl/organized_segmentation.hpp
  apps/cloud_composer/src/items/cloud_item.cpp
  apps/cloud_composer/src/project_model.cpp
  apps/modeler/include/pcl/apps/modeler/channel_actor_item.h
  apps/modeler/include/pcl/apps/modeler/cloud_mesh.h
  apps/modeler/include/pcl/apps/modeler/cloud_mesh_item.h
  apps/modeler/include/pcl/apps/modeler/normals_actor_item.h
  apps/modeler/include/pcl/apps/modeler/points_actor_item.h
  apps/modeler/include/pcl/apps/modeler/surface_actor_item.h
  apps/modeler/src/channel_actor_item.cpp
  apps/modeler/src/cloud_mesh_item.cpp
  apps/modeler/src/normals_actor_item.cpp
  apps/modeler/src/points_actor_item.cpp
  apps/modeler/src/surface_actor_item.cpp
  apps/src/feature_matching.cpp
  apps/src/ni_linemod.cpp
  apps/src/openni_change_viewer.cpp
  apps/src/openni_fast_mesh.cpp
  apps/src/openni_grab_images.cpp
  apps/src/openni_klt.cpp
  apps/src/openni_organized_compression.cpp
  apps/src/openni_organized_multi_plane_segmentation.cpp
  apps/src/openni_shift_to_depth_conversion.cpp
  apps/src/openni_tracking.cpp
  apps/src/organized_segmentation_demo.cpp
  apps/src/pcd_select_object_plane.cpp
  apps/src/stereo_ground_segmentation.cpp
  outofcore/include/pcl/outofcore/impl/octree_base_node.hpp
  outofcore/include/pcl/outofcore/impl/octree_disk_container.hpp
  outofcore/include/pcl/outofcore/octree_base.h
  outofcore/include/pcl/outofcore/octree_disk_container.h
  outofcore/include/pcl/outofcore/outofcore_base_data.h
  tracking/include/pcl/tracking/hsv_color_coherence.h
  tracking/include/pcl/tracking/pyramidal_klt.h
Labels: c++14, changes: breaks ABI

#3064 Properly parse the BUNDLE option in PCL_ADD_EXECUTABLE.
  cmake/pcl_targets.cmake
Labels: module: cmake, platform: osx

#3066 Set CMP0072 to NEW to prefer GLVND over legacy OpenGL modules
  cmake/pcl_find_gl.cmake
Labels: module: cmake

#3060 Transition from boost::thread to std::thread.
  common/include/pcl/common/boost.h
  common/include/pcl/common/time_trigger.h
  common/src/time_trigger.cpp
  gpu/kinfu_large_scale/tools/record_maps_rgb.cpp
  io/include/pcl/io/boost.h
  io/include/pcl/io/davidsdk_grabber.h
  io/include/pcl/io/depth_sense/depth_sense_device_manager.h
  io/include/pcl/io/dinast_grabber.h
  io/include/pcl/io/ensenso_grabber.h
  io/include/pcl/io/hdl_grabber.h
  io/include/pcl/io/openni_camera/openni_device.h
  io/include/pcl/io/openni_camera/openni_device_oni.h
  io/include/pcl/io/real_sense_grabber.h
  io/include/pcl/io/robot_eye_grabber.h
  io/src/davidsdk_grabber.cpp
  io/src/depth_sense/depth_sense_device_manager.cpp
  io/src/dinast_grabber.cpp
  io/src/ensenso_grabber.cpp
  io/src/hdl_grabber.cpp
  io/src/openni_camera/openni_device.cpp
  io/src/openni_camera/openni_device_oni.cpp
  io/src/pcd_grabber.cpp
  io/src/real_sense_grabber.cpp
  io/src/robot_eye_grabber.cpp
  io/tools/openni_pcd_recorder.cpp
  outofcore/include/pcl/outofcore/boost.h
  outofcore/include/pcl/outofcore/octree_abstract_node_container.h
  outofcore/include/pcl/outofcore/octree_base.h
  outofcore/include/pcl/outofcore/visualization/object.h
  outofcore/include/pcl/outofcore/visualization/outofcore_cloud.h
  outofcore/src/visualization/outofcore_cloud.cpp
  outofcore/tools/outofcore_viewer.cpp
  test/sample_consensus/test_sample_consensus.cpp
  tools/openni_image.cpp
  visualization/include/pcl/visualization/boost.h
  visualization/include/pcl/visualization/cloud_viewer.h
  visualization/include/pcl/visualization/impl/registration_visualizer.hpp
  visualization/include/pcl/visualization/registration_visualizer.h
  visualization/src/cloud_viewer.cpp
Labels: c++14, changes: breaks ABI

#3068 [io] Migrate mutex, locks and cvs to C++14
  io/include/pcl/io/boost.h
  io/include/pcl/io/buffers.h
  io/include/pcl/io/davidsdk_grabber.h
  io/include/pcl/io/depth_sense/depth_sense_device_manager.h
  io/include/pcl/io/depth_sense/depth_sense_grabber_impl.h
  io/include/pcl/io/dinast_grabber.h
  io/include/pcl/io/ensenso_grabber.h
  io/include/pcl/io/impl/buffers.hpp
  io/include/pcl/io/impl/synchronized_queue.hpp
  io/include/pcl/io/openni2/openni2_device_manager.h
  io/include/pcl/io/openni_camera/openni_device.h
  io/include/pcl/io/openni_camera/openni_device_oni.h
  io/include/pcl/io/real_sense/real_sense_device_manager.h
  io/include/pcl/io/real_sense_grabber.h
  io/src/davidsdk_grabber.cpp
  io/src/depth_sense/depth_sense_device_manager.cpp
  io/src/depth_sense/depth_sense_grabber_impl.cpp
  io/src/dinast_grabber.cpp
  io/src/ensenso_grabber.cpp
  io/src/openni2/openni2_device_manager.cpp
  io/src/openni_camera/openni_device.cpp
  io/src/openni_camera/openni_device_kinect.cpp
  io/src/openni_camera/openni_device_primesense.cpp
  io/src/openni_camera/openni_device_xtion.cpp
  io/src/pcd_grabber.cpp
  io/src/real_sense/real_sense_device_manager.cpp
  io/src/real_sense_grabber.cpp
  io/tools/openni_pcd_recorder.cpp
  outofcore/include/pcl/outofcore/impl/monitor_queue.hpp
Labels: c++14, changes: breaks ABI, module: io

#3054 Add version info on Windows for DLLs/Exe
  cmake/pcl_targets.cmake
  cmake/version.rc.in
Labels: module: cmake, platform: windows

#3074 [outofcore] Migrate mutex, locks and cvs to C++14
  outofcore/include/pcl/outofcore/impl/monitor_queue.hpp
  outofcore/include/pcl/outofcore/impl/octree_base.hpp
  outofcore/include/pcl/outofcore/impl/octree_base_node.hpp
  outofcore/include/pcl/outofcore/impl/octree_disk_container.hpp
  outofcore/include/pcl/outofcore/impl/octree_ram_container.hpp
  outofcore/include/pcl/outofcore/octree_abstract_node_container.h
  outofcore/include/pcl/outofcore/octree_base.h
  outofcore/include/pcl/outofcore/octree_base_node.h
  outofcore/include/pcl/outofcore/octree_disk_container.h
  outofcore/include/pcl/outofcore/octree_ram_container.h
  outofcore/include/pcl/outofcore/visualization/object.h
  outofcore/include/pcl/outofcore/visualization/outofcore_cloud.h
  outofcore/include/pcl/outofcore/visualization/scene.h
  outofcore/src/visualization/object.cpp
  outofcore/src/visualization/outofcore_cloud.cpp
Labels: c++14, changes: breaks ABI, module: outofcore

#3082 Fix pcl::Registration::getFitnessScore documentation
  registration/include/pcl/registration/registration.h
Labels: module: docs, module: registration

#3078 [visualization] Migrate mutex, locks and cvs to C++14
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/tools/openni_frame_source.h
  apps/include/pcl/apps/face_detection/openni_frame_source.h
  apps/include/pcl/apps/impl/dominant_plane_segmentation.hpp
  apps/src/dominant_plane_segmentation.cpp
  apps/src/ni_agast.cpp
  apps/src/ni_brisk.cpp
  apps/src/ni_linemod.cpp
  apps/src/ni_susan.cpp
  apps/src/ni_trajkovic.cpp
  apps/src/openni_3d_concave_hull.cpp
  apps/src/openni_3d_convex_hull.cpp
  apps/src/openni_boundary_estimation.cpp
  apps/src/openni_fast_mesh.cpp
  apps/src/openni_feature_persistence.cpp
  apps/src/openni_ii_normal_estimation.cpp
  apps/src/openni_klt.cpp
  apps/src/openni_mls_smoothing.cpp
  apps/src/openni_mobile_server.cpp
  apps/src/openni_organized_edge_detection.cpp
  apps/src/openni_organized_multi_plane_segmentation.cpp
  apps/src/openni_planar_convex_hull.cpp
  apps/src/openni_planar_segmentation.cpp
  apps/src/openni_tracking.cpp
  apps/src/openni_uniform_sampling.cpp
  apps/src/openni_voxel_grid.cpp
  doc/tutorials/content/sources/ground_based_rgbd_people_detection/src/main_ground_based_people_detection.cpp
  doc/tutorials/content/sources/iccv2011/include/openni_capture.h
  doc/tutorials/content/sources/iros2011/include/openni_capture.h
  doc/tutorials/content/sources/openni_narf_keypoint_extraction/openni_narf_keypoint_extraction.cpp
  doc/tutorials/content/sources/openni_range_image_visualization/openni_range_image_visualization.cpp
  doc/tutorials/content/sources/tracking/tracking_sample.cpp
  people/apps/main_ground_based_people_detection.cpp
  tools/hdl_viewer_simple.cpp
  tools/openni2_viewer.cpp
  tools/openni_save_image.cpp
  tools/openni_viewer.cpp
  tools/vlp_viewer.cpp
  visualization/include/pcl/visualization/boost.h
  visualization/include/pcl/visualization/registration_visualizer.h
  visualization/src/cloud_viewer.cpp
Labels: c++14, changes: breaks ABI, module: visualization

#3083 Remove useless Boost include
  tools/openni2_viewer.cpp
Labels: module: tools

#3084 [people] Migrate mutex, locks and cvs to C++14
  people/apps/main_ground_based_people_detection.cpp
Labels: c++14, module: people

#3086 [cuda] Migrate mutex, locks and cvs to C++14
  cuda/apps/src/kinect_debayering.cpp
  cuda/apps/src/kinect_dediscretize.cpp
  cuda/apps/src/kinect_mapping.cpp
  cuda/apps/src/kinect_normals_cuda.cpp
  cuda/apps/src/kinect_planes_cuda.cpp
  cuda/apps/src/kinect_ransac.cpp
  cuda/apps/src/kinect_segmentation_cuda.cpp
  cuda/apps/src/kinect_segmentation_planes_cuda.cpp
  cuda/apps/src/kinect_tool_standalone.cpp
  cuda/apps/src/kinect_viewer_cuda.cpp
Labels: c++14, module: cuda

#3088 [tools] Migrate mutex, locks and cvs to C++14
  tools/depth_sense_viewer.cpp
  tools/hdl_viewer_simple.cpp
  tools/image_grabber_saver.cpp
  tools/image_grabber_viewer.cpp
  tools/oni_viewer_simple.cpp
  tools/openni2_viewer.cpp
  tools/openni_image.cpp
  tools/openni_save_image.cpp
  tools/openni_viewer.cpp
  tools/openni_viewer_simple.cpp
  tools/pcd_grabber_viewer.cpp
  tools/real_sense_viewer.cpp
  tools/vlp_viewer.cpp
Labels: c++14, module: tools

#3091 [apps] Migrate mutex, locks and cvs to C++14
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/tools/openni_frame_source.h
  apps/3d_rec_framework/src/tools/openni_frame_source.cpp
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/boost.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/in_hand_scanner.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/offline_integration.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/opengl_viewer.h
  apps/in_hand_scanner/src/in_hand_scanner.cpp
  apps/in_hand_scanner/src/offline_integration.cpp
  apps/in_hand_scanner/src/opengl_viewer.cpp
  apps/include/pcl/apps/face_detection/openni_frame_source.h
  apps/src/face_detection/openni_frame_source.cpp
  apps/src/grabcut_2d.cpp
  apps/src/ni_agast.cpp
  apps/src/ni_brisk.cpp
  apps/src/ni_linemod.cpp
  apps/src/ni_susan.cpp
  apps/src/ni_trajkovic.cpp
  apps/src/openni_3d_concave_hull.cpp
  apps/src/openni_3d_convex_hull.cpp
  apps/src/openni_boundary_estimation.cpp
  apps/src/openni_color_filter.cpp
  apps/src/openni_fast_mesh.cpp
  apps/src/openni_feature_persistence.cpp
  apps/src/openni_grab_frame.cpp
  apps/src/openni_grab_images.cpp
  apps/src/openni_ii_normal_estimation.cpp
  apps/src/openni_klt.cpp
  apps/src/openni_mls_smoothing.cpp
  apps/src/openni_mobile_server.cpp
  apps/src/openni_organized_edge_detection.cpp
  apps/src/openni_organized_multi_plane_segmentation.cpp
  apps/src/openni_planar_convex_hull.cpp
  apps/src/openni_planar_segmentation.cpp
  apps/src/openni_tracking.cpp
  apps/src/openni_uniform_sampling.cpp
  apps/src/openni_voxel_grid.cpp
  apps/src/stereo_ground_segmentation.cpp
Labels: c++14, module: apps

#3090 Fix compound target's target registration
  cmake/pcl_targets.cmake
Labels: module: cmake

#3093 [doc] Migrate mutex, locks and cvs to C++14
  doc/tutorials/content/hdl_grabber.rst
  doc/tutorials/content/mobile_streaming.rst
  doc/tutorials/content/sources/gpu/people_detect/src/people_detect.cpp
  doc/tutorials/content/sources/ground_based_rgbd_people_detection/src/main_ground_based_people_detection.cpp
  doc/tutorials/content/sources/iccv2011/include/openni_capture.h
  doc/tutorials/content/sources/iccv2011/src/openni_capture.cpp
  doc/tutorials/content/sources/iros2011/include/openni_capture.h
  doc/tutorials/content/sources/iros2011/include/solution/openni_capture.h
  doc/tutorials/content/sources/iros2011/src/openni_capture.cpp
  doc/tutorials/content/sources/openni_narf_keypoint_extraction/openni_narf_keypoint_extraction.cpp
  doc/tutorials/content/sources/openni_range_image_visualization/openni_range_image_visualization.cpp
  doc/tutorials/content/sources/tracking/tracking_sample.cpp
Labels: c++14, module: docs

#3094 Remove last traces of Boost Thread
  cmake/pcl_find_boost.cmake
  cmake/pcl_pclconfig.cmake
  common/include/pcl/common/time_trigger.h
  doc/tutorials/content/building_pcl.rst
  doc/tutorials/content/compiling_pcl_dependencies_windows.rst
  gpu/kinfu/tools/kinfu_app.cpp
  gpu/kinfu_large_scale/tools/kinfuLS_app.cpp
  gpu/kinfu_large_scale/tools/record_maps_rgb.cpp
  gpu/people/tools/people_app.cpp
Labels: c++14, module: cmake, module: docs, module: gpu

#3100 Fix: No member named 'timed_wait' in 'std::condition_variable'
  doc/tutorials/content/sources/gpu/people_detect/src/people_detect.cpp
  gpu/kinfu/tools/kinfu_app.cpp
  gpu/kinfu_large_scale/tools/kinfuLS_app.cpp
  gpu/people/tools/people_app.cpp
Labels: c++14, module: docs, module: gpu

#3098 Fix `find_package_handle_standard_args` incorrect argument
  CMakeLists.txt
  cmake/Modules/FindGTestSource.cmake
Labels: module: cmake, module: tests

#3103 Replace lock in records_maps_rgb tool.
  gpu/kinfu_large_scale/tools/record_maps_rgb.cpp
Labels: c++14, module: gpu

#3102 Add thread library of the system by Threads::Threads instead of via -pthread flag
  CMakeLists.txt
  cmake/pcl_targets.cmake
Labels: c++14, module: cmake

#3105 Transition to std type_traits
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/boost.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/common_types.h
  common/include/pcl/common/concatenate.h
  common/include/pcl/common/impl/copy_point.hpp
  common/include/pcl/for_each_type.h
  common/include/pcl/point_traits.h
  common/include/pcl/register_point_struct.h
  geometry/include/pcl/geometry/boost.h
  geometry/include/pcl/geometry/mesh_base.h
  geometry/include/pcl/geometry/mesh_traits.h
  test/geometry/test_mesh.cpp
  test/geometry/test_mesh_circulators.cpp
  test/geometry/test_mesh_conversion.cpp
  test/geometry/test_mesh_get_boundary.cpp
  test/geometry/test_polygon_mesh.cpp
  test/geometry/test_quad_mesh.cpp
  test/geometry/test_triangle_mesh.cpp
Labels: c++14, changes: breaks ABI, module: apps, module: common, module: geometry

#3107 Migrate unordered_map from boost -> std
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/boost.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/opengl_viewer.h
  features/include/pcl/features/boost.h
  filters/include/pcl/filters/boost.h
  filters/include/pcl/filters/impl/uniform_sampling.hpp
  filters/include/pcl/filters/uniform_sampling.h
  recognition/include/pcl/recognition/boost.h
  recognition/include/pcl/recognition/cg/hough_3d.h
  registration/include/pcl/registration/boost.h
  registration/include/pcl/registration/correspondence_rejection_features.h
  registration/include/pcl/registration/impl/correspondence_rejection_sample_consensus.hpp
  registration/include/pcl/registration/impl/correspondence_rejection_sample_consensus_2d.hpp
  registration/include/pcl/registration/ppf_registration.h
  surface/include/pcl/surface/boost.h
  surface/include/pcl/surface/grid_projection.h
  visualization/include/pcl/visualization/boost.h
  visualization/include/pcl/visualization/common/actor_map.h
Labels: c++14, changes: breaks ABI
