Repository PointCloudLibrary/pcl, pull requests merged in 2019-06, with the labels that each got.

#3108 Fix organized segmentation
  apps/include/pcl/apps/organized_segmentation_demo.h
  apps/src/organized_segmentation_demo.cpp
Labels: module: apps

#3110 Fix Garbled docstrings
  features/include/pcl/features/impl/brisk_2d.hpp
  filters/include/pcl/filters/fast_bilateral.h
  filters/include/pcl/filters/fast_bilateral_omp.h
Labels: module: docs

#3119 Convert MovingLeastSquaresOMP into an alias template and deprecate
  surface/include/pcl/surface/mls.h
Labels: module: surface

#3118 Use using instead of typedef [common]
  common/include/pcl/ModelCoefficients.h
  common/include/pcl/PCLHeader.h
  common/include/pcl/PCLImage.h
  common/include/pcl/PCLPointCloud2.h
  common/include/pcl/PCLPointField.h
  common/include/pcl/PointIndices.h
  common/include/pcl/PolygonMesh.h
  common/include/pcl/TextureMesh.h
  common/include/pcl/Vertices.h
  common/include/pcl/common/bivariate_polynomial.h
  common/include/pcl/common/centroid.h
  common/include/pcl/common/colors.h
  common/include/pcl/common/concatenate.h
  common/include/pcl/common/fft/_kiss_fft_guts.h
  common/include/pcl/common/generate.h
  common/include/pcl/common/impl/accumulators.hpp
  common/include/pcl/common/impl/centroid.hpp
  common/include/pcl/common/impl/copy_point.hpp
  common/include/pcl/common/impl/eigen.hpp
  common/include/pcl/common/impl/intersections.hpp
  common/include/pcl/common/impl/io.hpp
  common/include/pcl/common/impl/projection_matrix.hpp
  common/include/pcl/common/io.h
  common/include/pcl/common/pca.h
  common/include/pcl/common/polynomial_calculations.h
  common/include/pcl/common/poses_from_matches.h
  common/include/pcl/common/random.h
  common/include/pcl/common/synchronizer.h
  common/include/pcl/common/time_trigger.h
  common/include/pcl/common/vector_average.h
  common/include/pcl/correspondence.h
  common/include/pcl/for_each_type.h
  common/include/pcl/impl/point_types.hpp
  common/include/pcl/pcl_base.h
  common/include/pcl/point_cloud.h
  common/include/pcl/point_representation.h
  common/include/pcl/point_traits.h
  common/include/pcl/point_types.h
  common/include/pcl/range_image/bearing_angle_image.h
  common/include/pcl/range_image/impl/range_image.hpp
  common/include/pcl/range_image/range_image.h
  common/include/pcl/range_image/range_image_planar.h
  common/include/pcl/range_image/range_image_spherical.h
  common/include/pcl/register_point_struct.h
Labels: c++14, module: common

#3128 Add registerCallback overload to pcl grabber to support assignment of boost functions with templated signatures
  io/include/pcl/io/grabber.h
Labels: c++14, changes: deprecation, module: io

#3112 Use using instead of typedef [test]
  test/common/test_common.cpp
  test/common/test_eigen.cpp
  test/common/test_geometry.cpp
  test/common/test_io.cpp
  test/common/test_transforms.cpp
  test/features/test_base_feature.cpp
  test/features/test_board_estimation.cpp
  test/features/test_boundary_estimation.cpp
  test/features/test_brisk.cpp
  test/features/test_cppf_estimation.cpp
  test/features/test_curvatures_estimation.cpp
  test/features/test_cvfh_estimation.cpp
  test/features/test_flare_estimation.cpp
  test/features/test_ii_normals.cpp
  test/features/test_invariants_estimation.cpp
  test/features/test_normal_estimation.cpp
  test/features/test_pfh_estimation.cpp
  test/features/test_ppf_estimation.cpp
  test/features/test_rift_estimation.cpp
  test/features/test_rsd_estimation.cpp
  test/features/test_shot_estimation.cpp
  test/features/test_shot_lrf_estimation.cpp
  test/features/test_spin_estimation.cpp
  test/geometry/test_mesh.cpp
  test/geometry/test_mesh_circulators.cpp
  test/geometry/test_mesh_common_functions.h
  test/geometry/test_mesh_conversion.cpp
  test/geometry/test_mesh_data.cpp
  test/geometry/test_mesh_get_boundary.cpp
  test/geometry/test_mesh_indices.cpp
  test/geometry/test_mesh_io.cpp
  test/geometry/test_polygon_mesh.cpp
  test/geometry/test_quad_mesh.cpp
  test/geometry/test_triangle_mesh.cpp
  test/io/test_buffers.cpp
  test/io/test_grabbers.cpp
  test/io/test_io.cpp
  test/io/test_iterators.cpp
  test/io/test_ply_io.cpp
  test/io/test_point_cloud_image_extractors.cpp
  test/octree/test_octree_iterator.cpp
  test/outofcore/test_outofcore.cpp
  test/people/test_people_groundBasedPeopleDetectionApp.cpp
  test/recognition/test_recognition_cg.cpp
  test/registration/test_ndt.cpp
  test/registration/test_registration.cpp
  test/registration/test_registration_api.cpp
  test/registration/test_sac_ia.cpp
  test/sample_consensus/test_sample_consensus.cpp
  test/sample_consensus/test_sample_consensus_line_models.cpp
  test/sample_consensus/test_sample_consensus_plane_models.cpp
  test/sample_consensus/test_sample_consensus_quadric_models.cpp
  test/segmentation/test_random_walker.cpp
  test/test_recognition_ransac_based_ORROctree.cpp
Labels: c++14, module: tests

#3113 Use using instead of typedef [2d, ml, search]
  2d/include/pcl/2d/edge.h
  2d/include/pcl/2d/morphology.h
  ml/include/pcl/ml/dt/decision_tree_data_provider.h
  ml/include/pcl/ml/kmeans.h
  ml/include/pcl/ml/multi_channel_2d_comparison_feature_handler.h
  ml/include/pcl/ml/multi_channel_2d_data_set.h
  ml/src/svm.cpp
  search/include/pcl/search/brute_force.h
  search/include/pcl/search/flann_search.h
  search/include/pcl/search/kdtree.h
  search/include/pcl/search/octree.h
  search/include/pcl/search/organized.h
  search/include/pcl/search/search.h
Labels: c++14

#3121 Use using instead of typedef [cuda]
  cuda/apps/src/kinect_cloud.cpp
  cuda/apps/src/kinect_mapping.cpp
  cuda/apps/src/kinect_normals_cuda.cpp
  cuda/apps/src/kinect_planes_cuda.cpp
  cuda/apps/src/kinect_segmentation_cuda.cpp
  cuda/apps/src/kinect_segmentation_planes_cuda.cpp
  cuda/common/include/pcl/cuda/cutil_inline_drvapi.h
  cuda/common/include/pcl/cuda/cutil_inline_runtime.h
  cuda/common/include/pcl/cuda/cutil_math.h
  cuda/common/include/pcl/cuda/pcl_cuda_base.h
  cuda/common/include/pcl/cuda/point_cloud.h
  cuda/features/include/pcl/cuda/features/normal_3d_kernels.h
  cuda/filters/include/pcl/cuda/filters/filter.h
  cuda/filters/include/pcl/cuda/filters/passthrough.h
  cuda/filters/include/pcl/cuda/filters/voxel_grid.h
  cuda/io/include/pcl/cuda/io/debayering.h
  cuda/nn/organized_neighbor_search.h
  cuda/sample_consensus/include/pcl/cuda/sample_consensus/msac.h
  cuda/sample_consensus/include/pcl/cuda/sample_consensus/multi_ransac.h
  cuda/sample_consensus/include/pcl/cuda/sample_consensus/ransac.h
  cuda/sample_consensus/include/pcl/cuda/sample_consensus/sac.h
  cuda/sample_consensus/include/pcl/cuda/sample_consensus/sac_model.h
  cuda/sample_consensus/include/pcl/cuda/sample_consensus/sac_model_1point_plane.h
  cuda/sample_consensus/include/pcl/cuda/sample_consensus/sac_model_plane.h
  cuda/segmentation/include/pcl/cuda/segmentation/mssegmentation.h
Labels: c++14

#3123 Use using instead of typedef [features]
  features/include/pcl/features/3dsc.h
  features/include/pcl/features/board.h
  features/include/pcl/features/boundary.h
  features/include/pcl/features/brisk_2d.h
  features/include/pcl/features/cppf.h
  features/include/pcl/features/crh.h
  features/include/pcl/features/cvfh.h
  features/include/pcl/features/don.h
  features/include/pcl/features/esf.h
  features/include/pcl/features/feature.h
  features/include/pcl/features/flare.h
  features/include/pcl/features/fpfh.h
  features/include/pcl/features/fpfh_omp.h
  features/include/pcl/features/gasd.h
  features/include/pcl/features/gfpfh.h
  features/include/pcl/features/grsd.h
  features/include/pcl/features/impl/brisk_2d.hpp
  features/include/pcl/features/impl/statistical_multiscale_interest_region_extraction.hpp
  features/include/pcl/features/integral_image2D.h
  features/include/pcl/features/integral_image_normal.h
  features/include/pcl/features/intensity_gradient.h
  features/include/pcl/features/intensity_spin.h
  features/include/pcl/features/linear_least_squares_normal.h
  features/include/pcl/features/moment_invariants.h
  features/include/pcl/features/moment_of_inertia_estimation.h
  features/include/pcl/features/multiscale_feature_persistence.h
  features/include/pcl/features/narf.h
  features/include/pcl/features/narf_descriptor.h
  features/include/pcl/features/normal_3d.h
  features/include/pcl/features/normal_3d_omp.h
  features/include/pcl/features/normal_based_signature.h
  features/include/pcl/features/organized_edge_detection.h
  features/include/pcl/features/our_cvfh.h
  features/include/pcl/features/pfh.h
  features/include/pcl/features/pfhrgb.h
  features/include/pcl/features/ppf.h
  features/include/pcl/features/ppfrgb.h
  features/include/pcl/features/principal_curvatures.h
  features/include/pcl/features/range_image_border_extractor.h
  features/include/pcl/features/rift.h
  features/include/pcl/features/rops_estimation.h
  features/include/pcl/features/rsd.h
  features/include/pcl/features/shot.h
  features/include/pcl/features/shot_lrf.h
  features/include/pcl/features/shot_lrf_omp.h
  features/include/pcl/features/shot_omp.h
  features/include/pcl/features/spin_image.h
  features/include/pcl/features/statistical_multiscale_interest_region_extraction.h
  features/include/pcl/features/usc.h
  features/include/pcl/features/vfh.h
Labels: c++14

#3125 Use using instead of typedef [filters]
  filters/include/pcl/filters/approximate_voxel_grid.h
  filters/include/pcl/filters/bilateral.h
  filters/include/pcl/filters/box_clipper3D.h
  filters/include/pcl/filters/clipper3D.h
  filters/include/pcl/filters/conditional_removal.h
  filters/include/pcl/filters/convolution.h
  filters/include/pcl/filters/convolution_3d.h
  filters/include/pcl/filters/covariance_sampling.h
  filters/include/pcl/filters/crop_box.h
  filters/include/pcl/filters/crop_hull.h
  filters/include/pcl/filters/extract_indices.h
  filters/include/pcl/filters/fast_bilateral.h
  filters/include/pcl/filters/fast_bilateral_omp.h
  filters/include/pcl/filters/filter.h
  filters/include/pcl/filters/filter_indices.h
  filters/include/pcl/filters/frustum_culling.h
  filters/include/pcl/filters/grid_minimum.h
  filters/include/pcl/filters/impl/covariance_sampling.hpp
  filters/include/pcl/filters/impl/model_outlier_removal.hpp
  filters/include/pcl/filters/local_maximum.h
  filters/include/pcl/filters/median_filter.h
  filters/include/pcl/filters/model_outlier_removal.h
  filters/include/pcl/filters/normal_refinement.h
  filters/include/pcl/filters/normal_space.h
  filters/include/pcl/filters/passthrough.h
  filters/include/pcl/filters/plane_clipper3D.h
  filters/include/pcl/filters/project_inliers.h
  filters/include/pcl/filters/pyramid.h
  filters/include/pcl/filters/radius_outlier_removal.h
  filters/include/pcl/filters/random_sample.h
  filters/include/pcl/filters/sampling_surface_normal.h
  filters/include/pcl/filters/shadowpoints.h
  filters/include/pcl/filters/statistical_outlier_removal.h
  filters/include/pcl/filters/uniform_sampling.h
  filters/include/pcl/filters/voxel_grid.h
  filters/include/pcl/filters/voxel_grid_covariance.h
  filters/include/pcl/filters/voxel_grid_label.h
  filters/include/pcl/filters/voxel_grid_occlusion_estimation.h
  filters/src/voxel_grid.cpp
Labels: c++14, module: filters

#3143 Add descriptive error for file not found [Issue #2766]
  io/src/ply_io.cpp
Labels: module: io

#3141 Transition to standard smart pointers, part 7
  common/include/pcl/pcl_base.h
  test/features/test_board_estimation.cpp
  test/features/test_boundary_estimation.cpp
  test/features/test_curvatures_estimation.cpp
  test/features/test_cvfh_estimation.cpp
  test/features/test_invariants_estimation.cpp
  test/features/test_normal_estimation.cpp
  test/features/test_pfh_estimation.cpp
  test/features/test_ppf_estimation.cpp
  test/features/test_rops_estimation.cpp
  test/features/test_rsd_estimation.cpp
  test/features/test_shot_estimation.cpp
  test/features/test_shot_lrf_estimation.cpp
  test/features/test_spin_estimation.cpp
  test/filters/test_filters.cpp
  test/kdtree/test_kdtree.cpp
  test/keypoints/test_keypoints.cpp
  test/outofcore/test_outofcore.cpp
  test/recognition/test_recognition_ism.cpp
  test/registration/test_registration.cpp
  test/registration/test_registration_api.cpp
  test/sample_consensus/test_sample_consensus_plane_models.cpp
  test/search/test_search.cpp
Labels: c++14, module: tests

#3137 Use using instead of typedef [geometry]
  geometry/include/pcl/geometry/get_boundary.h
  geometry/include/pcl/geometry/line_iterator.h
  geometry/include/pcl/geometry/mesh_base.h
  geometry/include/pcl/geometry/mesh_circulators.h
  geometry/include/pcl/geometry/mesh_conversion.h
  geometry/include/pcl/geometry/mesh_elements.h
  geometry/include/pcl/geometry/mesh_indices.h
  geometry/include/pcl/geometry/mesh_io.h
  geometry/include/pcl/geometry/mesh_traits.h
  geometry/include/pcl/geometry/planar_polygon.h
  geometry/include/pcl/geometry/polygon_mesh.h
  geometry/include/pcl/geometry/quad_mesh.h
  geometry/include/pcl/geometry/triangle_mesh.h
Labels: c++14, module: geometry

#3138 Use using instead of typedef [io]
  io/include/pcl/compression/color_coding.h
  io/include/pcl/compression/entropy_range_coder.h
  io/include/pcl/compression/octree_pointcloud_compression.h
  io/include/pcl/compression/organized_pointcloud_compression.h
  io/include/pcl/compression/point_coding.h
  io/include/pcl/io/buffers.h
  io/include/pcl/io/davidsdk_grabber.h
  io/include/pcl/io/depth_sense/depth_sense_device_manager.h
  io/include/pcl/io/depth_sense/depth_sense_grabber_impl.h
  io/include/pcl/io/depth_sense_grabber.h
  io/include/pcl/io/dinast_grabber.h
  io/include/pcl/io/ensenso_grabber.h
  io/include/pcl/io/grabber.h
  io/include/pcl/io/hdl_grabber.h
  io/include/pcl/io/image.h
  io/include/pcl/io/image_depth.h
  io/include/pcl/io/image_ir.h
  io/include/pcl/io/image_metadata_wrapper.h
  io/include/pcl/io/image_rgb24.h
  io/include/pcl/io/low_level_io.h
  io/include/pcl/io/oni_grabber.h
  io/include/pcl/io/openni2/openni2_device.h
  io/include/pcl/io/openni2/openni2_frame_listener.h
  io/include/pcl/io/openni2/openni2_video_mode.h
  io/include/pcl/io/openni2_grabber.h
  io/include/pcl/io/openni_camera/openni_depth_image.h
  io/include/pcl/io/openni_camera/openni_device.h
  io/include/pcl/io/openni_camera/openni_image.h
  io/include/pcl/io/openni_camera/openni_image_bayer_grbg.h
  io/include/pcl/io/openni_camera/openni_ir_image.h
  io/include/pcl/io/openni_grabber.h
  io/include/pcl/io/ply/ply.h
  io/include/pcl/io/ply/ply_parser.h
  io/include/pcl/io/png_io.h
  io/include/pcl/io/point_cloud_image_extractors.h
  io/include/pcl/io/real_sense/real_sense_device_manager.h
  io/include/pcl/io/real_sense_grabber.h
  io/include/pcl/io/robot_eye_grabber.h
  io/src/lzf.cpp
  io/src/lzf_image_io.cpp
  io/src/oni_grabber.cpp
  io/src/openni2/openni2_device.cpp
  io/src/openni2/openni2_device_manager.cpp
  io/src/openni2_grabber.cpp
  io/src/openni_camera/openni_driver.cpp
  io/src/ply/ply_parser.cpp
  io/tools/pcd_introduce_nan.cpp
  io/tools/ply/ply2obj.cpp
  io/tools/ply/ply2ply.cpp
Labels: c++14, module: io

#3139 Use using instead of typedef [examples]
  examples/common/example_copy_point_cloud.cpp
  examples/common/example_organized_point_cloud.cpp
  examples/features/example_difference_of_normals.cpp
  examples/filters/example_extract_indices.cpp
  examples/filters/example_remove_nan_from_point_cloud.cpp
  examples/geometry/example_half_edge_mesh.cpp
  examples/outofcore/example_outofcore.cpp
  examples/outofcore/example_outofcore_with_lod.cpp
  examples/segmentation/example_cpc_segmentation.cpp
  examples/segmentation/example_lccp_segmentation.cpp
  examples/segmentation/example_supervoxels.cpp
  examples/surface/example_nurbs_fitting_surface.cpp
  examples/surface/example_nurbs_viewer_surface.cpp
  examples/surface/test_nurbs_fitting_surface.cpp
Labels: c++14, module: examples

#3129 Use using instead of typedef [simulation, stereo, surface ]
  simulation/include/pcl/simulation/camera.h
  simulation/include/pcl/simulation/glsl_shader.h
  simulation/include/pcl/simulation/model.h
  simulation/include/pcl/simulation/range_likelihood.h
  simulation/include/pcl/simulation/scene.h
  simulation/tools/sim_viewer.cpp
  simulation/tools/simulation_io.hpp
  stereo/include/pcl/stereo/disparity_map_converter.h
  surface/include/pcl/surface/bilateral_upsampling.h
  surface/include/pcl/surface/concave_hull.h
  surface/include/pcl/surface/convex_hull.h
  surface/include/pcl/surface/ear_clipping.h
  surface/include/pcl/surface/gp3.h
  surface/include/pcl/surface/grid_projection.h
  surface/include/pcl/surface/impl/mls.hpp
  surface/include/pcl/surface/marching_cubes.h
  surface/include/pcl/surface/marching_cubes_hoppe.h
  surface/include/pcl/surface/marching_cubes_rbf.h
  surface/include/pcl/surface/mls.h
  surface/include/pcl/surface/organized_fast_mesh.h
  surface/include/pcl/surface/poisson.h
  surface/include/pcl/surface/processing.h
  surface/include/pcl/surface/reconstruction.h
  surface/include/pcl/surface/simplification_remove_unused_vertices.h
  surface/include/pcl/surface/surfel_smoothing.h
  surface/include/pcl/surface/texture_mapping.h
  surface/src/3rdparty/opennurbs/opennurbs_mesh.cpp
  surface/src/3rdparty/opennurbs/opennurbs_mesh_tools.cpp
  surface/src/3rdparty/opennurbs/opennurbs_rtree.cpp
Labels: c++14

#3130 Use using instead of typedef [segmentation]
  segmentation/include/pcl/segmentation/approximate_progressive_morphological_filter.h
  segmentation/include/pcl/segmentation/comparator.h
  segmentation/include/pcl/segmentation/conditional_euclidean_clustering.h
  segmentation/include/pcl/segmentation/cpc_segmentation.h
  segmentation/include/pcl/segmentation/crf_segmentation.h
  segmentation/include/pcl/segmentation/edge_aware_plane_comparator.h
  segmentation/include/pcl/segmentation/euclidean_cluster_comparator.h
  segmentation/include/pcl/segmentation/euclidean_plane_coefficient_comparator.h
  segmentation/include/pcl/segmentation/extract_clusters.h
  segmentation/include/pcl/segmentation/extract_labeled_clusters.h
  segmentation/include/pcl/segmentation/extract_polygonal_prism_data.h
  segmentation/include/pcl/segmentation/grabcut_segmentation.h
  segmentation/include/pcl/segmentation/ground_plane_comparator.h
  segmentation/include/pcl/segmentation/impl/cpc_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/random_walker.hpp
  segmentation/include/pcl/segmentation/lccp_segmentation.h
  segmentation/include/pcl/segmentation/min_cut_segmentation.h
  segmentation/include/pcl/segmentation/organized_connected_component_segmentation.h
  segmentation/include/pcl/segmentation/organized_multi_plane_segmentation.h
  segmentation/include/pcl/segmentation/plane_coefficient_comparator.h
  segmentation/include/pcl/segmentation/plane_refinement_comparator.h
  segmentation/include/pcl/segmentation/progressive_morphological_filter.h
  segmentation/include/pcl/segmentation/region_growing.h
  segmentation/include/pcl/segmentation/rgb_plane_coefficient_comparator.h
  segmentation/include/pcl/segmentation/sac_segmentation.h
  segmentation/include/pcl/segmentation/seeded_hue_segmentation.h
  segmentation/include/pcl/segmentation/segment_differences.h
  segmentation/include/pcl/segmentation/supervoxel_clustering.h
  segmentation/src/supervoxel_clustering.cpp
Labels: c++14, module: segmentation

#3152 Fix/Update CUDA version check
  cuda/common/include/pcl/cuda/cutil_inline_drvapi.h
  cuda/common/include/pcl/cuda/cutil_inline_runtime.h
  gpu/kinfu/src/cuda/extract.cu
  gpu/kinfu/src/cuda/marching_cubes.cu
  gpu/kinfu_large_scale/src/cuda/extract.cu
  gpu/kinfu_large_scale/src/cuda/marching_cubes.cu
  gpu/octree/src/cuda/bfrs.cu
  gpu/surface/src/cuda/convex_hull.cu
Labels: module: cuda, module: gpu

#3153 Suppress deprecation warnings in gpu.
  cuda/common/include/pcl/cuda/cutil_inline_drvapi.h
Labels: module: gpu

#3154 Drop unnecessary __CUDA_ARCH__ checks
  gpu/kinfu/src/cuda/extract.cu
  gpu/kinfu/src/cuda/marching_cubes.cu
  gpu/kinfu/src/cuda/utils.hpp
  gpu/kinfu_large_scale/src/cuda/extract.cu
  gpu/kinfu_large_scale/src/cuda/utils.hpp
  gpu/octree/src/utils/emulation.hpp
  gpu/people/src/cuda/elec.cu
  gpu/people/src/cuda/nvidia/NCVHaarObjectDetection.cu
  gpu/people/src/cuda/nvidia/NPP_staging.cu
  gpu/utils/include/pcl/gpu/utils/device/cache.hpp
  gpu/utils/include/pcl/gpu/utils/device/emulation.hpp
  gpu/utils/include/pcl/gpu/utils/device/warp.hpp
Labels: module: gpu

#3155 Improve sprintf with snprintf and correct modifier
  outofcore/src/visualization/viewport.cpp
Labels: module: outofcore

#3157 Remove FLANN_STATIC macro
  cmake/Modules/FindFLANN.cmake
Labels: module: cmake

#3140 Use COMPONENTS when finding VTK
  CMakeLists.txt
  PCLConfig.cmake.in
  apps/CMakeLists.txt
  apps/cloud_composer/CMakeLists.txt
  apps/modeler/CMakeLists.txt
  cmake/Modules/FindQVTK.cmake
  cuda/apps/CMakeLists.txt
  io/CMakeLists.txt
  surface/CMakeLists.txt
  tools/CMakeLists.txt
  visualization/CMakeLists.txt
Labels: module: cmake, status: needs testing

#3136 [features] Prefer lambdas over binds.
  features/include/pcl/features/boost.h
  features/include/pcl/features/feature.h
  features/include/pcl/features/impl/feature.hpp
  features/include/pcl/features/impl/integral_image_normal.hpp
  segmentation/include/pcl/segmentation/impl/supervoxel_clustering.hpp
Labels: c++14, module: features

#3135 Remove unused timer routines in NCV.cu
  gpu/people/src/cuda/nvidia/NCV.cu
  gpu/people/src/cuda/nvidia/NCV.hpp
Labels: module: gpu

#3171 [keypoints] Prefer lambdas over bind.
  keypoints/include/pcl/keypoints/impl/harris_2d.hpp
  keypoints/include/pcl/keypoints/impl/keypoint.hpp
  keypoints/include/pcl/keypoints/impl/trajkovic_2d.hpp
  keypoints/include/pcl/keypoints/impl/trajkovic_3d.hpp
  keypoints/include/pcl/keypoints/keypoint.h
Labels: c++14, module: keypoints

#3172 Fix a docs typo for isXYPointIn2DXYPolygon
  segmentation/include/pcl/segmentation/extract_polygonal_prism_data.h
Labels: module: docs

#3173 [visualization] Prefer lambdas over bind.
  visualization/include/pcl/visualization/boost.h
  visualization/include/pcl/visualization/cloud_viewer.h
  visualization/include/pcl/visualization/image_viewer.h
  visualization/include/pcl/visualization/pcl_visualizer.h
  visualization/include/pcl/visualization/registration_visualizer.h
  visualization/include/pcl/visualization/window.h
  visualization/src/pcl_visualizer.cpp
Labels: c++14, module: visualization

#3187 Add new overload of `PointCloudColorHandler::getColor()`
  apps/modeler/src/cloud_mesh.cpp
  visualization/include/pcl/visualization/impl/pcl_visualizer.hpp
  visualization/include/pcl/visualization/impl/point_cloud_color_handlers.hpp
  visualization/include/pcl/visualization/point_cloud_color_handlers.h
  visualization/src/interactor_style.cpp
  visualization/src/pcl_visualizer.cpp
  visualization/src/point_cloud_handlers.cpp
Labels: changes: deprecation, module: visualization

#3178 [tools] Prefer lambdas over binds.
  tools/davidsdk_viewer.cpp
  tools/depth_sense_viewer.cpp
  tools/ensenso_viewer.cpp
  tools/hdl_viewer_simple.cpp
  tools/image_grabber_saver.cpp
  tools/image_grabber_viewer.cpp
  tools/oni2pcd.cpp
  tools/oni_viewer_simple.cpp
  tools/openni2_viewer.cpp
  tools/openni_image.cpp
  tools/openni_save_image.cpp
  tools/openni_viewer.cpp
  tools/openni_viewer_simple.cpp
  tools/pcd_grabber_viewer.cpp
  tools/pcl_video.cpp
  tools/real_sense_viewer.cpp
  tools/timed_trigger_test.cpp
  tools/vlp_viewer.cpp
Labels: c++14, module: tools

#3189 [multiple] Prefer lambdas over binds
  people/apps/main_ground_based_people_detection.cpp
  recognition/include/pcl/recognition/impl/hv/hv_go.hpp
  recognition/src/face_detection/rf_face_detector_trainer.cpp
  registration/include/pcl/registration/boost.h
  registration/include/pcl/registration/gicp.h
  stereo/src/stereo_grabber.cpp
  surface/include/pcl/surface/boost.h
  surface/include/pcl/surface/impl/mls.hpp
  surface/include/pcl/surface/mls.h
  test/io/test_grabbers.cpp
Labels: c++14, module: people, module: recognition, module: registration, module: stereo, module: surface, module: tests

#3181 Remove else after return statement [io]
  io/include/pcl/io/file_grabber.h
  io/include/pcl/io/impl/buffers.hpp
  io/include/pcl/io/impl/pcd_io.hpp
  io/include/pcl/io/openni2_grabber.h
  io/include/pcl/io/openni_camera/openni_device.h
  io/include/pcl/io/openni_grabber.h
  io/include/pcl/io/pcd_io.h
  io/include/pcl/io/ply/ply_parser.h
  io/include/pcl/io/ply_io.h
  io/src/image_grabber.cpp
  io/src/obj_io.cpp
  io/src/oni_grabber.cpp
  io/src/openni2/openni2_device.cpp
  io/src/openni2/openni2_timer_filter.cpp
  io/src/openni2_grabber.cpp
  io/src/openni_camera/openni_device.cpp
  io/src/openni_grabber.cpp
  io/src/ply/ply_parser.cpp
  io/src/ply_io.cpp
  io/src/vtk_lib_io.cpp
  io/tools/openni_pcd_recorder.cpp
  io/tools/ply/ply2obj.cpp
  io/tools/ply/ply2ply.cpp
  io/tools/ply/ply2raw.cpp
  io/tools/ply/plyheader.cpp
Labels: module: io

#3183 Remove else after return statement [outofcore]
  outofcore/include/pcl/outofcore/impl/octree_base_node.hpp
  outofcore/include/pcl/outofcore/octree_base_node.h
  outofcore/src/outofcore_node_data.cpp
Labels: module: outofcore

#3191 Include pcl_config.h before checking HAVE_OPENNI2
  io/include/pcl/io/openni2_grabber.h
  io/include/pcl/io/openni_grabber.h
Labels: module: io

#3192 [apps] Prefer lambdas over binds.
  apps/3d_rec_framework/src/tools/global_classification.cpp
  apps/3d_rec_framework/src/tools/openni_frame_source.cpp
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/boost.h
  apps/in_hand_scanner/src/in_hand_scanner.cpp
  apps/in_hand_scanner/src/offline_integration.cpp
  apps/src/dinast_grabber_example.cpp
  apps/src/face_detection/openni_face_detection.cpp
  apps/src/face_detection/openni_frame_source.cpp
  apps/src/ni_agast.cpp
  apps/src/ni_brisk.cpp
  apps/src/ni_linemod.cpp
  apps/src/ni_susan.cpp
  apps/src/ni_trajkovic.cpp
  apps/src/openni_3d_concave_hull.cpp
  apps/src/openni_3d_convex_hull.cpp
  apps/src/openni_boundary_estimation.cpp
  apps/src/openni_change_viewer.cpp
  apps/src/openni_color_filter.cpp
  apps/src/openni_fast_mesh.cpp
  apps/src/openni_feature_persistence.cpp
  apps/src/openni_grab_frame.cpp
  apps/src/openni_grab_images.cpp
  apps/src/openni_ii_normal_estimation.cpp
  apps/src/openni_klt.cpp
  apps/src/openni_mls_smoothing.cpp
  apps/src/openni_mobile_server.cpp
  apps/src/openni_octree_compression.cpp
  apps/src/openni_organized_compression.cpp
  apps/src/openni_organized_edge_detection.cpp
  apps/src/openni_organized_multi_plane_segmentation.cpp
  apps/src/openni_passthrough.cpp
  apps/src/openni_planar_convex_hull.cpp
  apps/src/openni_planar_segmentation.cpp
  apps/src/openni_shift_to_depth_conversion.cpp
  apps/src/openni_tracking.cpp
  apps/src/openni_uniform_sampling.cpp
  apps/src/openni_voxel_grid.cpp
  apps/src/organized_segmentation_demo.cpp
Labels: c++14, module: apps

#3193 Add a note about adjusting passthrough limits in template alignment tutorial
  doc/tutorials/content/template_alignment.rst
Labels: module: tutorials
