Repository PointCloudLibrary/pcl, pull requests merged in 2019-01, with the labels that each got.

#2754 Fix possible integer overflow while iterating Point Cloud fields
  io/src/pcd_io.cpp
  visualization/src/point_cloud_handlers.cpp
Labels: module: io, module: visualization

#2740 Add link_directories for Flann (Closes: #2734)
  CMakeLists.txt
Labels: module: cmake

#2714 Fix source file name path stripping in Doxygen
  cmake/pcl_targets.cmake
  doc/doxygen/CMakeLists.txt
  doc/doxygen/doxyfile.in
Labels: module: docs

#2755 Add cloexec option to fopen
  ml/src/svm.cpp
  ml/src/svm_wrapper.cpp
  outofcore/include/pcl/outofcore/impl/octree_disk_container.hpp
  outofcore/include/pcl/outofcore/impl/octree_ram_container.hpp
  outofcore/include/pcl/outofcore/octree_disk_container.h
  recognition/include/pcl/recognition/impl/linemod/line_rgbd.hpp
Labels: module: ml, module: outofcore, module: recognition

#2756 Cleanup Qt includes in Modeler app
  apps/modeler/CMakeLists.txt
  apps/modeler/include/pcl/apps/modeler/abstract_worker.h
  apps/modeler/include/pcl/apps/modeler/channel_actor_item.h
  apps/modeler/include/pcl/apps/modeler/cloud_mesh_item.h
  apps/modeler/include/pcl/apps/modeler/cloud_mesh_item_updater.h
  apps/modeler/include/pcl/apps/modeler/dock_widget.h
  apps/modeler/include/pcl/apps/modeler/main_window.h
  apps/modeler/include/pcl/apps/modeler/parameter.h
  apps/modeler/include/pcl/apps/modeler/parameter_dialog.h
  apps/modeler/include/pcl/apps/modeler/qt.h
  apps/modeler/include/pcl/apps/modeler/render_window.h
  apps/modeler/include/pcl/apps/modeler/render_window_item.h
  apps/modeler/include/pcl/apps/modeler/scene_tree.h
  apps/modeler/include/pcl/apps/modeler/thread_controller.h
  apps/modeler/src/abstract_item.cpp
  apps/modeler/src/abstract_worker.cpp
  apps/modeler/src/main.cpp
  apps/modeler/src/main_window.cpp
  apps/modeler/src/parameter.cpp
  apps/modeler/src/parameter_dialog.cpp
  apps/modeler/src/scene_tree.cpp
  apps/modeler/src/thread_controller.cpp
Labels: module: apps

#2762 Remove version check for Qt, because we currently support only Qt5
  CMakeLists.txt
  apps/cloud_composer/include/pcl/apps/cloud_composer/tools/euclidean_clustering.h
  apps/cloud_composer/include/pcl/apps/cloud_composer/tools/fpfh_estimation.h
  apps/cloud_composer/include/pcl/apps/cloud_composer/tools/normal_estimation.h
  apps/cloud_composer/include/pcl/apps/cloud_composer/tools/organized_segmentation.h
  apps/cloud_composer/include/pcl/apps/cloud_composer/tools/sanitize_cloud.h
  apps/cloud_composer/include/pcl/apps/cloud_composer/tools/statistical_outlier_removal.h
  apps/cloud_composer/include/pcl/apps/cloud_composer/tools/supervoxels.h
  apps/cloud_composer/include/pcl/apps/cloud_composer/tools/voxel_grid_downsample.h
  apps/cloud_composer/tools/euclidean_clustering.cpp
  apps/cloud_composer/tools/fpfh_estimation.cpp
  apps/cloud_composer/tools/normal_estimation.cpp
  apps/cloud_composer/tools/organized_segmentation.cpp
  apps/cloud_composer/tools/sanitize_cloud.cpp
  apps/cloud_composer/tools/statistical_outlier_removal.cpp
  apps/cloud_composer/tools/supervoxels.cpp
  apps/cloud_composer/tools/voxel_grid_downsample.cpp
  apps/in_hand_scanner/CMakeLists.txt
  apps/in_hand_scanner/src/in_hand_scanner.cpp
  apps/in_hand_scanner/src/offline_integration.cpp
  apps/modeler/src/parameter_dialog.cpp
Labels: module: apps

#2768 Add a new test for SampleConsensusModelLine
  test/sample_consensus/test_sample_consensus_line_models.cpp
Labels: module: tests

#2773 Fix typo in docstring
  kdtree/include/pcl/kdtree/kdtree_flann.h
Labels: module: docs

#2770 Fix data race in NormalEstimationOMP
  features/include/pcl/features/impl/normal_3d_omp.hpp
Labels: module: features, platform: windows

#2786 Use fixed-size Eigen block expressions in Frustum Culling
  filters/include/pcl/filters/impl/frustum_culling.hpp
Labels: module: filters

#2799 Link with PCL_LIBRARIES, not PCL_***_LIBRARIES
  doc/tutorials/content/using_pcl_pcl_config.rst
Labels: module: tutorials

#2796 Use I/O helper method in pcl::LineRGBD
  recognition/include/pcl/recognition/impl/linemod/line_rgbd.hpp
Labels: module: recognition

#2800 Fix preallocation of memory in ply loader
  io/src/ply_io.cpp
Labels: module: io

#2812 Use range-based loop in ORROctreeZProjection::build
  recognition/src/ransac_based/orr_octree_zprojection.cpp
Labels: module: recognition
