Repository PointCloudLibrary/pcl, pull requests merged in 2019-03, with the labels that each got.

#2883 fix missing include for compiling with CUDA 10.1
  cuda/common/include/pcl/cuda/thrust.h
Labels: module: cuda

#2861 Implement imported target for FLANN
  CMakeLists.txt
  PCLConfig.cmake.in
  cmake/Modules/FindFLANN.cmake
  doc/tutorials/content/sources/vfh_recognition/CMakeLists.txt
  doc/tutorials/content/sources/vfh_recognition/FindFLANN.cmake
  kdtree/CMakeLists.txt
  search/CMakeLists.txt
  test/features/CMakeLists.txt
Labels: module: cmake

#2885 fix latest vtk cmake error
  CMakeLists.txt
Labels: module: cmake

#2834 Transform classic loops to range-based for loops in apps
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/global/ourcvfh_estimator.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/local/shot_local_estimator_omp.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pc_source/mesh_source.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pc_source/source.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/global_nn_recognizer_cvfh.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_classifier.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_crh.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_cvfh.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/local_recognizer.hpp
  apps/cloud_composer/src/items/cloud_item.cpp
  apps/cloud_composer/src/point_selectors/rectangular_frustum_selector.cpp
  apps/cloud_composer/src/point_selectors/selected_trackball_interactor_style.cpp
  apps/cloud_composer/src/signal_multiplexer.cpp
  apps/in_hand_scanner/src/icp.cpp
  apps/in_hand_scanner/src/mesh_processing.cpp
  apps/in_hand_scanner/src/opengl_viewer.cpp
  apps/include/pcl/apps/impl/dominant_plane_segmentation.hpp
  apps/include/pcl/apps/nn_classification.h
  apps/modeler/include/pcl/apps/modeler/impl/scene_tree.hpp
  apps/modeler/src/abstract_worker.cpp
  apps/modeler/src/cloud_mesh.cpp
  apps/modeler/src/cloud_mesh_item.cpp
  apps/modeler/src/parameter_dialog.cpp
  apps/modeler/src/scene_tree.cpp
  apps/point_cloud_editor/src/cloudEditorWidget.cpp
  apps/point_cloud_editor/src/copyBuffer.cpp
  apps/point_cloud_editor/src/denoiseCommand.cpp
  apps/point_cloud_editor/src/selection.cpp
  apps/point_cloud_editor/src/statistics.cpp
  apps/point_cloud_editor/src/transformCommand.cpp
  apps/src/face_detection/filesystem_face_detection.cpp
  apps/src/ni_linemod.cpp
  apps/src/ni_trajkovic.cpp
  apps/src/openni_change_viewer.cpp
  apps/src/openni_feature_persistence.cpp
  apps/src/openni_organized_edge_detection.cpp
  apps/src/openni_tracking.cpp
  apps/src/organized_segmentation_demo.cpp
  apps/src/pcd_organized_edge_detection.cpp
  apps/src/pcd_select_object_plane.cpp
  apps/src/ppf_object_recognition.cpp
  apps/src/render_views_tesselated_sphere.cpp
  apps/src/statistical_multiscale_interest_region_extraction_example.cpp
  apps/src/stereo_ground_segmentation.cpp
Labels: c++14, module: apps

#2893 Bump Eigen minimum version to 3.1
  CMakeLists.txt
  PCLConfig.cmake.in
  segmentation/CMakeLists.txt
  test/segmentation/CMakeLists.txt
Labels: module: cmake

#2838 Transform classic loops to range-based for loops in module common
  common/include/pcl/common/impl/accumulators.hpp
  common/include/pcl/common/impl/centroid.hpp
  common/include/pcl/common/impl/common.hpp
  common/include/pcl/common/impl/generate.hpp
  common/include/pcl/common/impl/io.hpp
  common/include/pcl/impl/cloud_iterator.hpp
  common/include/pcl/point_types_conversion.h
  common/src/common.cpp
  common/src/io.cpp
  common/src/parse.cpp
  common/src/range_image.cpp
Labels: c++14, module: common

#2842 Transform classic loops to range-based for loops in module kdtree
  kdtree/include/pcl/kdtree/impl/kdtree_flann.hpp
Labels: c++14, module: kdtree

#2891 replace exit( 0 ) in poisson module with exceptions
  surface/CMakeLists.txt
  surface/include/pcl/surface/3rdparty/poisson4/bspline_data.hpp
  surface/include/pcl/surface/3rdparty/poisson4/multi_grid_octree_data.hpp
  surface/include/pcl/surface/3rdparty/poisson4/octree_poisson.hpp
  surface/include/pcl/surface/3rdparty/poisson4/poisson_exceptions.h
  surface/include/pcl/surface/3rdparty/poisson4/sparse_matrix.hpp
Labels: module: surface

#2848 Transform classic loops to range-based for loops in module outofcore
  outofcore/include/pcl/outofcore/visualization/outofcore_cloud.h
  outofcore/src/visualization/camera.cpp
  outofcore/src/visualization/outofcore_cloud.cpp
  outofcore/src/visualization/scene.cpp
  outofcore/src/visualization/viewport.cpp
  outofcore/tools/outofcore_process.cpp
Labels: c++14, module: outofcore

#2857 Transform classic loops to range-based for loops in module sample_consensus
  sample_consensus/include/pcl/sample_consensus/impl/mlesac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/msac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/rmsac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_circle.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_circle3d.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cone.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cylinder.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_line.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_sphere.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_stick.hpp
Labels: c++14, module: sample_consensus

#2844 Transform classic loops to range-based for loops in module gpu
  gpu/kinfu_large_scale/include/pcl/gpu/kinfu_large_scale/impl/world_model.hpp
  gpu/kinfu_large_scale/tools/standalone_texture_mapping.cpp
  gpu/people/include/pcl/gpu/people/label_tree.h
  gpu/people/src/bodyparts_detector.cpp
  gpu/people/src/face_detector.cpp
  gpu/people/src/organized_plane_detector.cpp
  gpu/people/src/people_detector.cpp
  gpu/people/tools/people_pcd_prob.cpp
Labels: c++14, module: gpu

#2841 Transform classic loops to range-based for loops in examples
  examples/features/example_difference_of_normals.cpp
  examples/segmentation/example_extract_clusters_normals.cpp
  examples/segmentation/example_supervoxels.cpp
  examples/surface/example_nurbs_fitting_closed_curve.cpp
  examples/surface/example_nurbs_fitting_closed_curve3d.cpp
  examples/surface/example_nurbs_fitting_curve2d.cpp
  examples/surface/example_nurbs_fitting_surface.cpp
Labels: c++14, module: examples

#2845 Transform classic loops to range-based for loops in module io
  io/include/pcl/io/grabber.h
  io/include/pcl/io/impl/pcd_io.hpp
  io/include/pcl/io/impl/point_cloud_image_extractors.hpp
  io/src/hdl_grabber.cpp
  io/src/obj_io.cpp
  io/src/openni2/openni2_device.cpp
  io/src/openni2/openni2_device_manager.cpp
  io/src/openni2_grabber.cpp
  io/src/openni_camera/openni_device.cpp
  io/src/openni_camera/openni_driver.cpp
  io/src/openni_grabber.cpp
  io/src/pcd_io.cpp
  io/src/ply_io.cpp
  io/tools/converter.cpp
  io/tools/pcd_introduce_nan.cpp
Labels: c++14, module: io

#2847 Transform classic loops to range-based for loops in module octree
  octree/include/pcl/octree/impl/octree_pointcloud.hpp
  octree/include/pcl/octree/impl/octree_search.hpp
  octree/include/pcl/octree/octree_pointcloud_changedetector.h
Labels: c++14, module: octree

#2849 Transform classic loops to range-based for loops in module people
  people/apps/main_ground_based_people_detection.cpp
  people/include/pcl/people/impl/head_based_subcluster.hpp
Labels: c++14, module: people

#2853 Transform classic loops to range-based for loops in module features
  features/include/pcl/features/impl/3dsc.hpp
  features/include/pcl/features/impl/board.hpp
  features/include/pcl/features/impl/boundary.hpp
  features/include/pcl/features/impl/crh.hpp
  features/include/pcl/features/impl/cvfh.hpp
  features/include/pcl/features/impl/esf.hpp
  features/include/pcl/features/impl/fpfh.hpp
  features/include/pcl/features/impl/fpfh_omp.hpp
  features/include/pcl/features/impl/gfpfh.hpp
  features/include/pcl/features/impl/grsd.hpp
  features/include/pcl/features/impl/intensity_gradient.hpp
  features/include/pcl/features/impl/moment_invariants.hpp
  features/include/pcl/features/impl/multiscale_feature_persistence.hpp
  features/include/pcl/features/impl/organized_edge_detection.hpp
  features/include/pcl/features/impl/our_cvfh.hpp
  features/include/pcl/features/impl/pfh.hpp
  features/include/pcl/features/impl/ppfrgb.hpp
  features/include/pcl/features/impl/rops_estimation.hpp
  features/include/pcl/features/impl/statistical_multiscale_interest_region_extraction.hpp
  features/include/pcl/features/impl/vfh.hpp
  features/include/pcl/features/normal_3d.h
  features/src/narf.cpp
Labels: c++14, module: features

#2854 Transform classic loops to range-based for loops in module filters
  filters/include/pcl/filters/impl/box_clipper3D.hpp
  filters/include/pcl/filters/impl/covariance_sampling.hpp
  filters/include/pcl/filters/impl/extract_indices.hpp
  filters/include/pcl/filters/impl/grid_minimum.hpp
  filters/include/pcl/filters/impl/random_sample.hpp
  filters/include/pcl/filters/impl/statistical_outlier_removal.hpp
  filters/include/pcl/filters/impl/voxel_grid.hpp
  filters/include/pcl/filters/voxel_grid.h
  filters/include/pcl/filters/voxel_grid_covariance.h
  filters/src/extract_indices.cpp
  filters/src/statistical_outlier_removal.cpp
  filters/src/voxel_grid_label.cpp
Labels: c++14, module: filters

#2900 Fix a bug in `PCLVisualizer::setShapeRenderingProperties`
  visualization/src/pcl_visualizer.cpp
Labels: module: visualization

#2907 Replace loop variable type in fpfh.hpp by correct type
  features/include/pcl/features/impl/fpfh.hpp
Labels: module: features

#2905 Do not prepend `-D` in `FLANN_DFINITIONS` in FindFLANN.cmake
  cmake/Modules/FindFLANN.cmake
Labels: module: cmake

#2850 Transform classic loops to range-based for loops in tools
  tools/compute_hausdorff.cpp
  tools/concatenate_points_pcd.cpp
  tools/elch.cpp
  tools/grid_min.cpp
  tools/icp.cpp
  tools/linemod_detection.cpp
  tools/local_max.cpp
  tools/mesh2pcd.cpp
  tools/morph.cpp
  tools/obj_rec_ransac_accepted_hypotheses.cpp
  tools/obj_rec_ransac_model_opps.cpp
  tools/obj_rec_ransac_orr_octree.cpp
  tools/obj_rec_ransac_orr_octree_zprojection.cpp
  tools/obj_rec_ransac_result.cpp
  tools/obj_rec_ransac_scene_opps.cpp
  tools/octree_viewer.cpp
  tools/passthrough_filter.cpp
  tools/progressive_morphological_filter.cpp
  tools/radius_filter.cpp
  tools/sac_segmentation_plane.cpp
  tools/train_linemod_template.cpp
  tools/transform_from_viewpoint.cpp
  tools/transform_point_cloud.cpp
  tools/virtual_scanner.cpp
  tools/voxel_grid_occlusion_estimation.cpp
Labels: c++14, module: tools

#2856 Transform classic loops to range-based for loops in module registration
  registration/include/pcl/registration/default_convergence_criteria.h
  registration/include/pcl/registration/icp.h
  registration/include/pcl/registration/impl/correspondence_rejection_poly.hpp
  registration/include/pcl/registration/impl/correspondence_rejection_sample_consensus.hpp
  registration/include/pcl/registration/impl/correspondence_types.hpp
  registration/include/pcl/registration/impl/elch.hpp
  registration/include/pcl/registration/impl/ia_fpcs.hpp
  registration/include/pcl/registration/impl/ia_kfpcs.hpp
  registration/include/pcl/registration/impl/ia_ransac.hpp
  registration/include/pcl/registration/impl/ndt_2d.hpp
  registration/include/pcl/registration/impl/ppf_registration.hpp
  registration/src/correspondence_rejection_distance.cpp
  registration/src/correspondence_rejection_features.cpp
  registration/src/correspondence_rejection_one_to_one.cpp
  registration/src/correspondence_rejection_organized_boundary.cpp
  registration/src/correspondence_rejection_surface_normal.cpp
Labels: c++14, module: registration

#2909 Fix missing #include <array> in render_views_tesselated_sphere.cpp
  apps/src/render_views_tesselated_sphere.cpp
Labels: module: apps

#2912 Disable VTK Warning Display when Rendering Backend is OpenGL
  visualization/src/pcl_visualizer.cpp
Labels: module: visualization

#2851 Transform classic loops to range-based for loops in tests.
  people/include/pcl/people/impl/person_cluster.hpp
  people/include/pcl/people/person_cluster.h
  test/common/test_pca.cpp
  test/features/test_boundary_estimation.cpp
  test/features/test_invariants_estimation.cpp
  test/features/test_normal_estimation.cpp
  test/features/test_pfh_estimation.cpp
  test/filters/test_filters.cpp
  test/geometry/test_mesh.cpp
  test/geometry/test_mesh_conversion.cpp
  test/geometry/test_polygon_mesh.cpp
  test/geometry/test_triangle_mesh.cpp
  test/io/test_grabbers.cpp
  test/io/test_io.cpp
  test/io/test_ply_io.cpp
  test/io/test_point_cloud_image_extractors.cpp
  test/kdtree/test_kdtree.cpp
  test/keypoints/test_keypoints.cpp
  test/octree/test_octree.cpp
  test/octree/test_octree_iterator.cpp
  test/outofcore/test_outofcore.cpp
  test/people/test_people_groundBasedPeopleDetectionApp.cpp
  test/recognition/test_recognition_cg.cpp
  test/registration/test_correspondence_rejectors.cpp
  test/search/test_flann_search.cpp
  test/search/test_kdtree.cpp
  test/search/test_search.cpp
  test/segmentation/test_random_walker.cpp
  test/surface/test_concave_hull.cpp
  test/surface/test_convex_hull.cpp
  test/surface/test_ear_clipping.cpp
Labels: c++14, module: tests

#2855 Transform classic loops to range-based for loops in module recognition
  recognition/include/pcl/recognition/crh_alignment.h
  recognition/include/pcl/recognition/hv/hv_go.h
  recognition/include/pcl/recognition/impl/cg/geometric_consistency.hpp
  recognition/include/pcl/recognition/impl/cg/hough_3d.hpp
  recognition/include/pcl/recognition/impl/hv/greedy_verification.hpp
  recognition/include/pcl/recognition/impl/hv/hv_go.hpp
  recognition/include/pcl/recognition/impl/hv/hv_papazov.hpp
  recognition/include/pcl/recognition/impl/implicit_shape_model.hpp
  recognition/include/pcl/recognition/linemod.h
  recognition/include/pcl/recognition/ransac_based/rigid_transform_space.h
  recognition/include/pcl/recognition/surface_normal_modality.h
  recognition/src/face_detection/face_detector_data_provider.cpp
  recognition/src/face_detection/rf_face_detector_trainer.cpp
  recognition/src/linemod.cpp
  recognition/src/ransac_based/model_library.cpp
  recognition/src/ransac_based/obj_rec_ransac.cpp
  recognition/src/ransac_based/orr_octree.cpp
  recognition/src/ransac_based/orr_octree_zprojection.cpp
Labels: c++14, module: recognition

#2859 Transform classic loops to range-based for loops in module segmentation
  segmentation/include/pcl/segmentation/impl/cpc_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/crf_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/extract_clusters.hpp
  segmentation/include/pcl/segmentation/impl/extract_labeled_clusters.hpp
  segmentation/include/pcl/segmentation/impl/grabcut_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/lccp_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/organized_multi_plane_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/seeded_hue_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/supervoxel_clustering.hpp
  segmentation/include/pcl/segmentation/impl/unary_classifier.hpp
  segmentation/src/grabcut_segmentation.cpp
Labels: c++14, module: segmentation

#2858 Transform classic loops to range-based for loops in module simulation
  simulation/src/model.cpp
  simulation/src/scene.cpp
  simulation/tools/sim_test_simple.cpp
  simulation/tools/sim_viewer.cpp
Labels: c++14, module: simulation

#2919 Use std::chrono instead of boost::posix_time in time.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/opengl_viewer.h
  common/include/pcl/common/time.h
Labels: c++14, changes: breaks ABI, module: common

#2860 Transform classic loops to range-based for loops in module surface
  surface/include/pcl/surface/impl/concave_hull.hpp
  surface/include/pcl/surface/impl/gp3.hpp
  surface/include/pcl/surface/impl/surfel_smoothing.hpp
  surface/include/pcl/surface/impl/texture_mapping.hpp
  surface/src/ear_clipping.cpp
  surface/src/on_nurbs/closing_boundary.cpp
  surface/src/on_nurbs/fitting_curve_2d.cpp
  surface/src/on_nurbs/fitting_curve_2d_apdm.cpp
  surface/src/on_nurbs/fitting_curve_2d_pdm.cpp
  surface/src/on_nurbs/fitting_curve_pdm.cpp
  surface/src/on_nurbs/fitting_cylinder_pdm.cpp
  surface/src/on_nurbs/fitting_sphere_pdm.cpp
  surface/src/on_nurbs/fitting_surface_im.cpp
  surface/src/on_nurbs/fitting_surface_pdm.cpp
  surface/src/on_nurbs/global_optimization_pdm.cpp
  surface/src/on_nurbs/global_optimization_tdm.cpp
  surface/src/on_nurbs/sequential_fitter.cpp
  surface/src/on_nurbs/triangulation.cpp
  surface/src/simplification_remove_unused_vertices.cpp
Labels: c++14, module: surface

#2928 Use preinstalled vcpkg on Azure
  .ci/azure-pipelines/build-windows.yml
Labels: module: ci

#2940 Fix Windows jobs on Azure
  .ci/azure-pipelines/build-windows.yml
Labels: module: ci

#2926 Improve c/C command in `PCLVisualizer`
  visualization/src/interactor_style.cpp
Labels: changes: behavior, module: visualization

#2942 Add noexcept for boost::checked_delete<> friend
  segmentation/include/pcl/segmentation/supervoxel_clustering.h
Labels: module: segmentation

#2929 Transition to standard smart pointers, part 4
  apps/src/openni_tracking.cpp
  doc/tutorials/content/sources/implicit_shape_model/implicit_shape_model.cpp
  doc/tutorials/content/sources/tracking/tracking_sample.cpp
  features/include/pcl/features/integral_image2D.h
  keypoints/include/pcl/keypoints/brisk_2d.h
  ml/include/pcl/ml/dt/decision_forest_trainer.h
  ml/include/pcl/ml/dt/decision_tree_data_provider.h
  ml/include/pcl/ml/dt/decision_tree_trainer.h
  octree/include/pcl/octree/octree_pointcloud_changedetector.h
  people/include/pcl/people/impl/ground_based_people_detection_app.hpp
  recognition/include/pcl/recognition/face_detection/face_common.h
  recognition/include/pcl/recognition/face_detection/face_detector_data_provider.h
  recognition/include/pcl/recognition/hv/greedy_verification.h
  recognition/include/pcl/recognition/hv/hv_go.h
  recognition/include/pcl/recognition/hv/hv_papazov.h
  recognition/include/pcl/recognition/impl/hv/greedy_verification.hpp
  recognition/include/pcl/recognition/impl/hv/hv_go.hpp
  recognition/include/pcl/recognition/impl/hv/hv_papazov.hpp
  recognition/include/pcl/recognition/impl/implicit_shape_model.hpp
  recognition/include/pcl/recognition/implicit_shape_model.h
  recognition/src/face_detection/face_detector_data_provider.cpp
  recognition/src/face_detection/rf_face_detector_trainer.cpp
  stereo/include/pcl/stereo/stereo_grabber.h
  surface/include/pcl/surface/3rdparty/poisson4/multi_grid_octree_data.h
  surface/include/pcl/surface/3rdparty/poisson4/multi_grid_octree_data.hpp
  surface/include/pcl/surface/impl/poisson.hpp
  tracking/include/pcl/tracking/approx_nearest_pair_point_cloud_coherence.h
  tracking/include/pcl/tracking/distance_coherence.h
  tracking/include/pcl/tracking/impl/kld_adaptive_particle_filter.hpp
  tracking/include/pcl/tracking/impl/particle_filter.hpp
  tracking/include/pcl/tracking/kld_adaptive_particle_filter.h
  tracking/include/pcl/tracking/kld_adaptive_particle_filter_omp.h
  tracking/include/pcl/tracking/particle_filter.h
Labels: c++14

#2946 Enforce right-hand-rule on PCA Eigenvectors.
  common/include/pcl/common/impl/pca.hpp
  common/include/pcl/common/pca.h
Labels: changes: behavior, module: common

#2948 Publish test results to Azure Pipelines
  .ci/azure-pipelines/build-macos.yml
  .ci/azure-pipelines/build-ubuntu.yml
  .ci/azure-pipelines/build-windows.yml
Labels: module: ci

#2951 Use C++11 static_assert instead of BOOST_STATIC_ASSERT and EIGEN_ASSERT
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/boost.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/mesh_processing.h
  common/include/pcl/common/impl/eigen.hpp
  geometry/include/pcl/geometry/mesh_conversion.h
Labels: c++14

#2950 Use std::log2 instead of custom implementation
  features/include/pcl/features/impl/brisk_2d.hpp
  io/include/pcl/compression/entropy_range_coder.h
  io/include/pcl/compression/impl/entropy_range_coder.hpp
  octree/include/pcl/octree/impl/octree2buf_base.hpp
  octree/include/pcl/octree/impl/octree_base.hpp
  octree/include/pcl/octree/impl/octree_pointcloud.hpp
  octree/include/pcl/octree/octree2buf_base.h
  octree/include/pcl/octree/octree_base.h
  outofcore/include/pcl/outofcore/impl/octree_base.hpp
Labels: c++14
