Repository PointCloudLibrary/pcl, pull requests merged in 2020-02, with the labels that each got.

#3604 Remove dublicate /bigobj
  CMakeLists.txt
Labels: module: cmake

#3615 Add a toggle option to grabber
  io/include/pcl/io/grabber.h
Labels: enhancement, module: io

#3614 Fix vector initialization in NormalEstimationOMP
  features/include/pcl/features/impl/normal_3d_omp.hpp
  test/features/test_normal_estimation.cpp
Labels: module: features

#3616 Fixing 6 instances of MISRA rules being broken
  io/tools/openni_grabber_depth_example.cpp
Labels: module: io

#3613 Removing undefined behavior and stricter checks in console arg parsing
  common/include/pcl/console/parse.h
  common/src/parse.cpp
  test/common/CMakeLists.txt
  test/common/test_parse.cpp
Labels: module: common, status: needs review

#3627 [CUDA] Octree builder: Check for a maximum level of Morton code
  gpu/containers/src/error.cpp
  gpu/features/test/test_normals.cpp
  gpu/octree/src/cuda/octree_builder.cu
Labels: module: gpu

#3639 Adding octree to format list
  .dev/format.sh
  octree/include/pcl/octree/boost.h
  octree/include/pcl/octree/impl/octree2buf_base.hpp
  octree/include/pcl/octree/impl/octree_base.hpp
  octree/include/pcl/octree/impl/octree_iterator.hpp
  octree/include/pcl/octree/impl/octree_pointcloud.hpp
  octree/include/pcl/octree/impl/octree_pointcloud_adjacency.hpp
  octree/include/pcl/octree/impl/octree_pointcloud_voxelcentroid.hpp
  octree/include/pcl/octree/impl/octree_search.hpp
  octree/include/pcl/octree/octree.h
  octree/include/pcl/octree/octree2buf_base.h
  octree/include/pcl/octree/octree_base.h
  octree/include/pcl/octree/octree_container.h
  octree/include/pcl/octree/octree_impl.h
  octree/include/pcl/octree/octree_iterator.h
  octree/include/pcl/octree/octree_key.h
  octree/include/pcl/octree/octree_node_pool.h
  octree/include/pcl/octree/octree_nodes.h
  octree/include/pcl/octree/octree_pointcloud.h
  octree/include/pcl/octree/octree_pointcloud_adjacency.h
  octree/include/pcl/octree/octree_pointcloud_adjacency_container.h
  octree/include/pcl/octree/octree_pointcloud_changedetector.h
  octree/include/pcl/octree/octree_pointcloud_density.h
  octree/include/pcl/octree/octree_pointcloud_occupancy.h
  octree/include/pcl/octree/octree_pointcloud_pointvector.h
  octree/include/pcl/octree/octree_pointcloud_singlepoint.h
  octree/include/pcl/octree/octree_pointcloud_voxelcentroid.h
  octree/include/pcl/octree/octree_search.h
  octree/src/octree_inst.cpp
Labels: modernization, module: octree, status: needs review

#3636 Add arguments to VS projects.
  .ci/azure-pipelines/build-macos.yml
  .ci/azure-pipelines/build-ubuntu-16-04.yaml
  .ci/azure-pipelines/build-ubuntu-19-10.yaml
  .ci/azure-pipelines/build-windows.yml
  cmake/pcl_targets.cmake
  test/CMakeLists.txt
Labels: module: cmake, platform: windows

#3663 Prefer prefix ++ operators for non-primitive types
  cuda/nn/organized_neighbor_search.hpp
  people/include/pcl/people/impl/person_cluster.hpp
  registration/include/pcl/registration/impl/ia_kfpcs.hpp
  registration/include/pcl/registration/impl/ndt.hpp
  surface/include/pcl/surface/impl/gp3.hpp
Labels: changelog: enhancement, effort: low, needs: pr merge

#3668 Fixed if/ifdef WIN32 issues
  apps/cloud_composer/src/cloud_composer.cpp
  apps/point_cloud_editor/include/pcl/apps/point_cloud_editor/cloud.h
  io/include/pcl/io/impl/pcd_io.hpp
  io/src/openni_camera/openni_driver.cpp
  io/src/pcd_grabber.cpp
Labels: platform: windows

#3676 Replace dirent with boost::filesystem
  common/include/pcl/common/file_io.h
  common/include/pcl/common/impl/file_io.hpp
Labels: changelog: enhancement, module: common, platform: linux, platform: windows

#3685 Set is_dense parameter based on input pointcloud
  filters/include/pcl/filters/impl/filter.hpp
Labels: module: filters

#3683 Downgrade RSSDK2 warning message to status
  cmake/Modules/FindRSSDK2.cmake
Labels: module: cmake, needs: pr merge

#3693 Fixed documentation for point cloud stream compression executable name
  doc/tutorials/content/compression.rst
Labels: changelog: fix, module: tutorials, needs: code review

#3694 Add -DPCL_ONLY_CORE_POINT_TYPES to mingw builds
  CMakeLists.txt
Labels: changelog: fix, module: cmake, platform: windows

#3634 Fix compilation of CUDA code on Windows
  common/include/pcl/common/io.h
  common/include/pcl/impl/point_types.hpp
  common/include/pcl/pcl_macros.h
  common/include/pcl/point_cloud.h
  features/include/pcl/features/rsd.h
  filters/include/pcl/filters/passthrough.h
  io/include/pcl/compression/entropy_range_coder.h
  io/include/pcl/io/ascii_io.h
  io/include/pcl/io/grabber.h
  io/include/pcl/io/hdl_grabber.h
  octree/include/pcl/octree/octree2buf_base.h
  octree/include/pcl/octree/octree_base.h
  recognition/include/pcl/recognition/mask_map.h
  segmentation/include/pcl/segmentation/euclidean_cluster_comparator.h
  segmentation/include/pcl/segmentation/organized_multi_plane_segmentation.h
  segmentation/include/pcl/segmentation/segment_differences.h
  segmentation/include/pcl/segmentation/supervoxel_clustering.h
  surface/include/pcl/surface/mls.h
  surface/src/3rdparty/opennurbs/opennurbs_annotation2.cpp
  visualization/include/pcl/visualization/point_cloud_color_handlers.h
Labels: module: common
