Repository PointCloudLibrary/pcl, pull requests merged in 2020-11, with the labels that each got.

#4470 Change a function's name in conditional euclidean clustering tutorial
  doc/tutorials/content/sources/conditional_euclidean_clustering/conditional_euclidean_clustering.cpp
Labels: module: docs, needs: feedback

#4141 [io] Throw error if the device bluffs about its capability
  io/src/openni2/openni2_device.cpp
Labels: changelog: enhancement, module: io, needs: code review

#4484 [io] Fix crash in Dinast Grabber due to bad initialization of device handle
  io/src/dinast_grabber.cpp
Labels: changelog: fix, module: io, needs: code review

#4430 KdTree: handle 0 or negative k for nearestKSearch
  kdtree/include/pcl/kdtree/impl/kdtree_flann.hpp
  kdtree/include/pcl/kdtree/kdtree.h
  kdtree/include/pcl/kdtree/kdtree_flann.h
Labels: changelog: API break, changelog: enhancement, module: kdtree, needs: code review

#4495 [visualization] Replace std::stringstream by std::string
  visualization/include/pcl/visualization/impl/registration_visualizer.hpp
  visualization/include/pcl/visualization/registration_visualizer.h
  visualization/src/common/io.cpp
  visualization/src/pcl_visualizer.cpp
Labels: module: visualization

#4466 Fix the covariance calculation as suggested by @zxd123
  filters/include/pcl/filters/impl/voxel_grid_covariance.hpp
Labels: changelog: fix, module: filters, needs: code review, needs: more work

#4450 Format registration/src
  .dev/format.sh
  registration/src/correspondence_rejection_distance.cpp
  registration/src/correspondence_rejection_features.cpp
  registration/src/correspondence_rejection_median_distance.cpp
  registration/src/correspondence_rejection_one_to_one.cpp
  registration/src/correspondence_rejection_organized_boundary.cpp
  registration/src/correspondence_rejection_surface_normal.cpp
  registration/src/correspondence_rejection_trimmed.cpp
  registration/src/correspondence_rejection_var_trimmed.cpp
  registration/src/correspondence_types.cpp
  registration/src/gicp6d.cpp
  registration/src/joint_icp.cpp
  registration/src/lum.cpp
  registration/src/ndt.cpp
  registration/src/ppf_registration.cpp
  registration/src/pyramid_feature_matching.cpp
  registration/src/registration.cpp
  registration/src/transformation_estimation_2D.cpp
Labels: module: registration, needs: more work

#4395 [ci] Add UINT64 indices to release CI to check when 1.12 is "ready"
  .ci/azure-pipelines/release.yaml
  .dev/docker/release/Dockerfile
Labels: module: ci, needs: code review

#4464 Better for loops
  apps/include/pcl/apps/impl/dominant_plane_segmentation.hpp
  features/include/pcl/features/impl/board.hpp
  features/include/pcl/features/impl/gfpfh.hpp
  features/include/pcl/features/impl/ppfrgb.hpp
  gpu/examples/segmentation/src/seg.cpp
  kdtree/include/pcl/kdtree/impl/kdtree_flann.hpp
  keypoints/include/pcl/keypoints/impl/harris_3d.hpp
  keypoints/include/pcl/keypoints/impl/harris_6d.hpp
  keypoints/include/pcl/keypoints/impl/susan.hpp
  people/include/pcl/people/impl/person_cluster.hpp
  registration/include/pcl/registration/impl/correspondence_estimation.hpp
  registration/include/pcl/registration/impl/correspondence_estimation_backprojection.hpp
  registration/include/pcl/registration/impl/correspondence_estimation_normal_shooting.hpp
  registration/include/pcl/registration/impl/correspondence_estimation_organized_projection.hpp
  registration/include/pcl/registration/impl/correspondence_rejection_sample_consensus.hpp
  registration/include/pcl/registration/impl/ia_fpcs.hpp
  registration/include/pcl/registration/impl/ia_ransac.hpp
  surface/include/pcl/surface/impl/concave_hull.hpp
  surface/include/pcl/surface/impl/gp3.hpp
  surface/include/pcl/surface/impl/surfel_smoothing.hpp
  surface/include/pcl/surface/impl/texture_mapping.hpp
  surface/src/on_nurbs/fitting_surface_im.cpp
  test/kdtree/test_kdtree.cpp
  test/search/test_flann_search.cpp
Labels: needs: code review

#4503 Fix typo in mls.h and mls.hpp
  surface/include/pcl/surface/impl/mls.hpp
  surface/include/pcl/surface/mls.h
Labels: module: surface

#4500 [3d_rec_framework] Remove unused code in persistence_utils.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/utils/persistence_utils.h
Labels: changelog: removal, module: apps

#4492 PLY face definition accepts uint fields as well
  io/src/ply_io.cpp
  test/io/test_ply_mesh_io.cpp
Labels: changelog: fix, module: io

#4509 Use more recent LTS versions on CI instead of the old 16.04
  .ci/azure-pipelines/azure-pipelines.yaml
  .ci/azure-pipelines/documentation.yaml
  .ci/azure-pipelines/formatting.yaml
  .ci/azure-pipelines/tutorials.yaml
Labels: module: ci

#4489 Use `std::array` instead of C-array for ColorLUT
  common/src/colors.cpp
Labels: changelog: API break, module: common

#4439 [filters] Adding better support for functor filter
  doc/tutorials/content/function_filter.rst
  doc/tutorials/content/sources/function_filter/CMakeLists.txt
  doc/tutorials/content/sources/function_filter/sphere_removal.cpp
  filters/CMakeLists.txt
  filters/include/pcl/filters/experimental/functor_filter.h
  test/filters/test_functor_filter.cpp
Labels: module: docs, module: filters

#4496 Faster organized search
  search/include/pcl/search/impl/organized.hpp
  search/include/pcl/search/organized.h
Labels: changelog: enhancement, module: search, needs: code review

#4105 [segmentation] Deprecate unused `max_label` in `extractLabeledEuclideanClusters`
  segmentation/include/pcl/segmentation/extract_labeled_clusters.h
  segmentation/include/pcl/segmentation/impl/extract_labeled_clusters.hpp
  segmentation/src/extract_clusters.cpp
Labels: changelog: deprecation, module: segmentation, needs: code review

#4494 [tools] Replace std::stringstream by std::string
  tools/fast_bilateral_filter.cpp
  tools/grid_min.cpp
  tools/image_grabber_saver.cpp
  tools/local_max.cpp
  tools/morph.cpp
  tools/normal_estimation.cpp
  tools/openni_image.cpp
  tools/openni_save_image.cpp
  tools/passthrough_filter.cpp
  tools/pcd_viewer.cpp
  tools/progressive_morphological_filter.cpp
  tools/radius_filter.cpp
  tools/sac_segmentation_plane.cpp
  tools/tiff2pcd.cpp
  tools/unary_classifier_segment.cpp
  tools/virtual_scanner.cpp
Labels: module: tools
