Repository PointCloudLibrary/pcl, pull requests merged in 2020-04, with the labels that each got.

#3826 Add an option to add a list of excluded PRs to the changelog
  .ci/azure-pipelines/documentation.yaml
  .dev/scripts/generate_changelog.py
Labels: module: docs

#3847 [CI] Strip leading tag in commit message from changelog
  .dev/scripts/generate_changelog.py
Labels: changelog: enhancement, module: ci

#3835 [sample_consensus] Use better types for indices: `int` -> `index_t`, `std::vector<int>` ->`Indices`
  sample_consensus/include/pcl/sample_consensus/impl/lmeds.hpp
  sample_consensus/include/pcl/sample_consensus/impl/mlesac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/msac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/prosac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/ransac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/rmsac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/rransac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_circle.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_circle3d.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cone.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cylinder.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_line.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_normal_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_normal_sphere.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_parallel_line.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_parallel_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_perpendicular_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_registration.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_registration_2d.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_sphere.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_stick.hpp
  sample_consensus/include/pcl/sample_consensus/sac.h
  sample_consensus/include/pcl/sample_consensus/sac_model.h
  sample_consensus/include/pcl/sample_consensus/sac_model_circle.h
  sample_consensus/include/pcl/sample_consensus/sac_model_circle3d.h
  sample_consensus/include/pcl/sample_consensus/sac_model_cone.h
  sample_consensus/include/pcl/sample_consensus/sac_model_cylinder.h
  sample_consensus/include/pcl/sample_consensus/sac_model_line.h
  sample_consensus/include/pcl/sample_consensus/sac_model_normal_parallel_plane.h
  sample_consensus/include/pcl/sample_consensus/sac_model_normal_plane.h
  sample_consensus/include/pcl/sample_consensus/sac_model_normal_sphere.h
  sample_consensus/include/pcl/sample_consensus/sac_model_parallel_line.h
  sample_consensus/include/pcl/sample_consensus/sac_model_parallel_plane.h
  sample_consensus/include/pcl/sample_consensus/sac_model_perpendicular_plane.h
  sample_consensus/include/pcl/sample_consensus/sac_model_plane.h
  sample_consensus/include/pcl/sample_consensus/sac_model_registration.h
  sample_consensus/include/pcl/sample_consensus/sac_model_registration_2d.h
  sample_consensus/include/pcl/sample_consensus/sac_model_sphere.h
  sample_consensus/include/pcl/sample_consensus/sac_model_stick.h
Labels: changelog: fix, module: sample_consensus, needs: code review

#3795 Convert CI to multi-stage pipelines
  .ci/azure-pipelines/azure-pipelines.yaml
  .ci/azure-pipelines/build-macos.yaml
  .ci/azure-pipelines/build-ubuntu.yaml
  .ci/azure-pipelines/build-windows.yaml
  .ci/azure-pipelines/documentation.yaml
  .ci/azure-pipelines/formatting.yaml
  .ci/azure-pipelines/tutorials.yaml
Labels: module: ci, needs: code review

#3858 [registration] variable assigned a value which is never used
  registration/include/pcl/registration/impl/correspondence_estimation_backprojection.hpp
  registration/include/pcl/registration/impl/correspondence_estimation_normal_shooting.hpp
  registration/include/pcl/registration/impl/ia_kfpcs.hpp
  registration/include/pcl/registration/impl/transformation_estimation_svd_scale.hpp
Labels: module: registration

#3845 [docs] update automatic code formatting info to clang-format
  doc/advanced/content/pcl_style_guide.rst
Labels: changelog: fix, module: docs, needs: code review

#3846 [docs ] replace formula with math
  doc/tutorials/content/images/form_0.png
  doc/tutorials/content/images/form_1.png
  doc/tutorials/content/walkthrough.rst
Labels: changelog: enhancement, module: docs

#3716 Updated style-guide - Added rules for variable declaration
  doc/advanced/content/pcl_style_guide.rst
Labels: module: tutorials

#3895 [ci] Shift to clang-format-10 to resolve bug in clang-format-{7-9}
  .ci/azure-pipelines/formatting.yaml
  .clang-format
  .dev/docker/fmt/Dockerfile
  cmake/clang-format.cmake
  ml/include/pcl/ml/ferns/fern.h
  octree/include/pcl/octree/octree2buf_base.h
  octree/include/pcl/octree/octree_iterator.h
  octree/include/pcl/octree/octree_nodes.h
Labels: changelog: fix, module: ci, needs: code review, needs: feedback

#3894 Set BOOST_ROOT to BOOST_ROOT_1_69_0 in Azure Windows job
  .ci/azure-pipelines/build-windows.yaml
Labels: module: ci, platform: windows

#3886 Re-add temporary fix for skipping of tests
  .ci/azure-pipelines/build-ubuntu.yaml
Labels: module: ci

#3903 Set target standard for formatting to C++14 (not latest)
  .clang-format
  doc/advanced/content/pcl_style_guide.rst
Labels: module: ci, needs: code review

#3906 Remove very old deprecated headers
  io/CMakeLists.txt
  io/include/pcl/io/pxc_grabber.h
  recognition/include/pcl/recognition/auxiliary.h
  recognition/include/pcl/recognition/bvh.h
  recognition/include/pcl/recognition/model_library.h
  recognition/include/pcl/recognition/obj_rec_ransac.h
  recognition/include/pcl/recognition/orr_graph.h
  recognition/include/pcl/recognition/orr_octree.h
  recognition/include/pcl/recognition/orr_octree_zprojection.h
  recognition/include/pcl/recognition/rigid_transform_space.h
  recognition/include/pcl/recognition/simple_octree.h
  recognition/include/pcl/recognition/trimmed_icp.h
  recognition/include/pcl/recognition/voxel_structure.h
  tools/CMakeLists.txt
  tools/organized_pcd_to_png.cpp
Labels: changelog: removal, module: io, module: recognition, module: tools

#3871 Fix warning C4067: unexpected tokens following preprocessor directive- expected a newline
  common/include/pcl/pcl_macros.h
Labels: changelog: fix, module: common, platform: windows

#3857 [2d] variable assigned a value which is never used
  2d/include/pcl/2d/impl/kernel.hpp
  2d/include/pcl/2d/impl/keypoint.hpp
Labels: changelog: fix, module: 2d, needs: code review, needs: feedback

#3827 New line character added at the end of text files
  AUTHORS.txt
  apps/CMakeLists.txt
  doc/advanced/CMakeLists.txt
  doc/tutorials/content/sources/bspline_fitting/CMakeLists.txt
  doc/tutorials/content/sources/conditional_euclidean_clustering/CMakeLists.txt
  doc/tutorials/content/sources/correspondence_grouping/CMakeLists.txt
  doc/tutorials/content/sources/cylinder_segmentation/CMakeLists.txt
  doc/tutorials/content/sources/don_segmentation/CMakeLists.txt
  doc/tutorials/content/sources/extract_indices/CMakeLists.txt
  doc/tutorials/content/sources/global_hypothesis_verification/CMakeLists.txt
  doc/tutorials/content/sources/gpu/people_detect/CMakeLists.txt.backup
  doc/tutorials/content/sources/implicit_shape_model/CMakeLists.txt
  doc/tutorials/content/sources/min_cut_segmentation/CMakeLists.txt
  doc/tutorials/content/sources/moment_of_inertia/CMakeLists.txt
  doc/tutorials/content/sources/narf_descriptor_visualization/CMakeLists.txt
  doc/tutorials/content/sources/narf_feature_extraction/CMakeLists.txt
  doc/tutorials/content/sources/narf_keypoint_extraction/CMakeLists.txt
  doc/tutorials/content/sources/openni_range_image_visualization/CMakeLists.txt
  doc/tutorials/content/sources/region_growing_segmentation/CMakeLists.txt
  doc/tutorials/content/sources/rops_feature/CMakeLists.txt
  gpu/CMakeLists.txt
  ml/CMakeLists.txt
  visualization/CMakeLists.txt
Labels: needs: code review

#3840 [search] Use better types for indices: `int` -> `index_t`, `std::vector<int>` ->`Indices`
  search/include/pcl/search/brute_force.h
  search/include/pcl/search/flann_search.h
  search/include/pcl/search/impl/brute_force.hpp
  search/include/pcl/search/impl/flann_search.hpp
  search/include/pcl/search/impl/kdtree.hpp
  search/include/pcl/search/impl/organized.hpp
  search/include/pcl/search/impl/search.hpp
  search/include/pcl/search/kdtree.h
  search/include/pcl/search/octree.h
  search/include/pcl/search/organized.h
  search/include/pcl/search/search.h
Labels: changelog: enhancement, module: search, needs: feedback

#3888 Deprecating functions in non-speclialized Passthrough filter
  filters/include/pcl/filters/passthrough.h
Labels: changelog: deprecation, module: filters, needs: code review

#3721 Fix compilation in OSX Catalina with OMP enabled
  .ci/azure-pipelines/build-macos.yaml
  CMakeLists.txt
  cmake/pcl_targets.cmake
Labels: changelog: fix, module: cmake, needs: code review, platform: macos

#3872 Suppress unavoidable deprecated warning in clang
  common/include/pcl/point_cloud.h
Labels: module: common, needs: code review, platform: macos

#3905 Fix PCL_DEPRECATED usage in doxygen for a proper Deprecation List in documentation
  .ci/azure-pipelines/documentation.yaml
  doc/doxygen/doxyfile.in
Labels: changelog: fix, module: docs, needs: code review

#3927 Show proper message in CMake config for default-off modules
  apps/CMakeLists.txt
  cmake/pcl_targets.cmake
  test/CMakeLists.txt
Labels: changelog: fix, module: cmake

#3770 Provide dynamic and static pointer casts in namespace pcl to allow easy migration in future
  apps/src/feature_matching.cpp
  apps/src/organized_segmentation_demo.cpp
  common/include/pcl/memory.h
  doc/tutorials/content/sources/iccv2011/src/tutorial.cpp
  io/src/oni_grabber.cpp
  recognition/include/pcl/recognition/impl/implicit_shape_model.hpp
  recognition/src/face_detection/rf_face_detector_trainer.cpp
  registration/include/pcl/registration/correspondence_rejection.h
  registration/include/pcl/registration/correspondence_rejection_distance.h
  registration/include/pcl/registration/correspondence_rejection_median_distance.h
  registration/include/pcl/registration/correspondence_rejection_organized_boundary.h
  registration/include/pcl/registration/correspondence_rejection_surface_normal.h
  registration/include/pcl/registration/correspondence_rejection_var_trimmed.h
  registration/include/pcl/registration/icp.h
  registration/src/correspondence_rejection_organized_boundary.cpp
  segmentation/include/pcl/segmentation/impl/sac_segmentation.hpp
  segmentation/include/pcl/segmentation/sac_segmentation.h
Labels: changelog: new feature, module: common, needs: code review

#3803 [apps] remove unwanted variables/initialisations
  apps/in_hand_scanner/src/icp.cpp
  apps/src/pcd_select_object_plane.cpp
Labels: module: apps, needs: code review

#3929 [doc] Modify Major.Minor for doxygen in place (and not show on stdout)
  .ci/azure-pipelines/documentation.yaml
Labels: module: docs, needs: code review

#3915 [docs] Remove backup (and defunct) `CMakeLists.txt`
  doc/tutorials/content/sources/gpu/people_detect/CMakeLists.txt.backup
Labels: changelog: removal, module: docs

#3930 Remove double include of pcl_targets
  CMakeLists.txt
Labels: module: cmake

#3893 Remove boost shared pointer usage and headers in favor of `pcl/memory.h`
  common/include/pcl/Vertices.h
  common/include/pcl/common/boost.h
  common/include/pcl/pcl_base.h
  cuda/apps/src/kinect_debayering.cpp
  cuda/apps/src/kinect_dediscretize.cpp
  cuda/apps/src/kinect_mapping.cpp
  cuda/apps/src/kinect_normals_cuda.cpp
  cuda/apps/src/kinect_ransac.cpp
  cuda/apps/src/kinect_segmentation_cuda.cpp
  cuda/apps/src/kinect_segmentation_planes_cuda.cpp
  cuda/apps/src/kinect_tool_standalone.cpp
  cuda/apps/src/kinect_viewer_cuda.cpp
  cuda/common/include/pcl/cuda/pcl_cuda_base.h
  doc/tutorials/content/sources/iccv2011/include/surface.h
  doc/tutorials/content/sources/iros2011/include/solution/surface.h
  doc/tutorials/content/sources/iros2011/include/surface.h
  features/include/pcl/features/integral_image2D.h
  filters/include/pcl/filters/boost.h
  geometry/include/pcl/geometry/boost.h
  gpu/examples/octree/src/octree_search.cpp
  gpu/kinfu_large_scale/include/pcl/gpu/kinfu_large_scale/raycaster.h
  gpu/kinfu_large_scale/tools/kinfu_app_sim.cpp
  gpu/people/include/pcl/gpu/people/bodyparts_detector.h
  gpu/people/include/pcl/gpu/people/face_detector.h
  gpu/people/include/pcl/gpu/people/organized_plane_detector.h
  io/include/pcl/io/boost.h
  io/include/pcl/io/image_grabber.h
  io/include/pcl/io/openni2/openni2_device.h
  io/src/openni2/openni2_convert.cpp
  ml/include/pcl/ml/dt/decision_tree_data_provider.h
  octree/include/pcl/octree/octree_pointcloud_changedetector.h
  recognition/include/pcl/recognition/face_detection/face_detector_data_provider.h
  registration/include/pcl/registration/boost.h
  segmentation/include/pcl/segmentation/boost.h
  segmentation/include/pcl/segmentation/euclidean_cluster_comparator.h
  segmentation/include/pcl/segmentation/ground_plane_comparator.h
  simulation/include/pcl/simulation/model.h
  simulation/include/pcl/simulation/scene.h
  simulation/tools/sim_terminal_demo.cpp
  simulation/tools/sim_test_performance.cpp
  simulation/tools/sim_test_simple.cpp
  simulation/tools/sim_viewer.cpp
  simulation/tools/simulation_io.hpp
  surface/include/pcl/surface/boost.h
  tools/boost.h
  tools/depth_sense_viewer.cpp
  tools/real_sense_viewer.cpp
  tracking/include/pcl/tracking/distance_coherence.h
  tracking/include/pcl/tracking/particle_filter.h
  visualization/include/pcl/visualization/boost.h
Labels: changelog: fix, needs: code review

#3804 [cuda] remove unwanted variable/initialisations
  cuda/apps/src/kinect_debayering.cpp
  cuda/apps/src/kinect_dediscretize.cpp
  cuda/apps/src/kinect_mapping.cpp
  cuda/apps/src/kinect_planes_cuda.cpp
  cuda/apps/src/kinect_ransac.cpp
  cuda/apps/src/kinect_segmentation_cuda.cpp
  cuda/apps/src/kinect_segmentation_planes_cuda.cpp
  cuda/apps/src/kinect_tool_standalone.cpp
  cuda/common/include/pcl/cuda/cutil_inline_drvapi.h
  cuda/common/include/pcl/cuda/cutil_inline_runtime.h
  cuda/nn/organized_neighbor_search.hpp
Labels: module: cuda

#3932 Add PCL_UNUSED to fix doxygen warnings
  common/include/pcl/pcl_macros.h
  doc/doxygen/doxyfile.in
  filters/include/pcl/filters/normal_refinement.h
  segmentation/include/pcl/segmentation/organized_multi_plane_segmentation.h
Labels: changelog: new feature, module: common, needs: code review

#3933 Fix "warning: Found unknown command `\detail'" from doxygen
  common/include/pcl/pcl_macros.h
  common/include/pcl/type_traits.h
Labels: module: common, module: docs

#3938 Fix Findlibusb-1.0.cmake on Windows
  cmake/Modules/Findlibusb-1.0.cmake
Labels: module: cmake

#3939 Remove use of VTK_EXCLUDE_STRSTREAM_HEADERS (unavailable since VTK 6.0.0)
  gpu/kinfu/tools/kinfu_app_sim.cpp
  gpu/kinfu_large_scale/tools/kinfu_app_sim.cpp
  simulation/tools/sim_test_performance.cpp
  simulation/tools/sim_test_simple.cpp
  simulation/tools/sim_viewer.cpp
  simulation/tools/simulation_io.hpp
Labels: changelog: removal

#3861 Check and warn user about missing normals in `OrganizedMultiPlaneSegmentation`
  segmentation/include/pcl/segmentation/impl/organized_multi_plane_segmentation.hpp
Labels: changelog: enhancement, module: segmentation

#3942 Add `ignore` function to remove Doxygen warnings for unused arguments
  common/include/pcl/common/utils.h
  common/include/pcl/pcl_macros.h
  filters/include/pcl/filters/normal_refinement.h
  segmentation/include/pcl/segmentation/organized_multi_plane_segmentation.h
Labels: changelog: new feature, module: common, needs: code review

#3937 [doc] Generate TODO list
  doc/doxygen/doxyfile.in
Labels: changelog: new feature, module: docs, needs: code review

#3862 NormalSpaceSampling - fix bucket assignment, remove use of raw distribution pointer, unit-test rewriting
  filters/include/pcl/filters/impl/normal_space.hpp
  filters/include/pcl/filters/normal_space.h
  test/filters/test_sampling.cpp
Labels: changelog: ABI break, changelog: fix, module: filters

#3909 Force include order via clang-format
  .clang-format
  2d/src/examples.cpp
  ml/include/pcl/ml/densecrf.h
  ml/include/pcl/ml/dt/decision_forest.h
  ml/include/pcl/ml/dt/decision_forest_evaluator.h
  ml/include/pcl/ml/dt/decision_forest_trainer.h
  ml/include/pcl/ml/dt/decision_tree_evaluator.h
  ml/include/pcl/ml/dt/decision_tree_trainer.h
  ml/include/pcl/ml/ferns/fern_evaluator.h
  ml/include/pcl/ml/ferns/fern_trainer.h
  ml/include/pcl/ml/impl/dt/decision_forest_evaluator.hpp
  ml/include/pcl/ml/impl/dt/decision_tree_evaluator.hpp
  ml/include/pcl/ml/impl/ferns/fern_evaluator.hpp
  ml/include/pcl/ml/kmeans.h
  ml/include/pcl/ml/multi_channel_2d_comparison_feature_handler.h
  ml/include/pcl/ml/pairwise_potential.h
  ml/include/pcl/ml/permutohedral.h
  ml/include/pcl/ml/svm_wrapper.h
  ml/src/svm.cpp
  ml/src/svm_wrapper.cpp
  octree/include/pcl/octree/impl/octree_base.hpp
  octree/include/pcl/octree/impl/octree_pointcloud.hpp
  octree/include/pcl/octree/octree.h
  octree/include/pcl/octree/octree2buf_base.h
  octree/include/pcl/octree/octree_base.h
  octree/include/pcl/octree/octree_container.h
  octree/include/pcl/octree/octree_impl.h
  octree/include/pcl/octree/octree_iterator.h
  octree/include/pcl/octree/octree_node_pool.h
  octree/include/pcl/octree/octree_nodes.h
  octree/include/pcl/octree/octree_pointcloud.h
  octree/include/pcl/octree/octree_pointcloud_changedetector.h
  octree/include/pcl/octree/octree_search.h
  simulation/include/pcl/simulation/camera.h
  simulation/include/pcl/simulation/glsl_shader.h
  simulation/include/pcl/simulation/model.h
  simulation/include/pcl/simulation/range_likelihood.h
  simulation/include/pcl/simulation/sum_reduce.h
  simulation/src/camera.cpp
  simulation/src/glsl_shader.cpp
  simulation/src/range_likelihood.cpp
  simulation/tools/sim_terminal_demo.cpp
  simulation/tools/sim_test_performance.cpp
  simulation/tools/sim_test_simple.cpp
  simulation/tools/sim_viewer.cpp
  simulation/tools/simulation_io.cpp
  simulation/tools/simulation_io.hpp
  stereo/include/pcl/stereo/digital_elevation_map.h
  stereo/include/pcl/stereo/disparity_map_converter.h
  stereo/include/pcl/stereo/impl/disparity_map_converter.hpp
  stereo/include/pcl/stereo/stereo_grabber.h
  stereo/include/pcl/stereo/stereo_matching.h
  stereo/src/digital_elevation_map.cpp
  stereo/src/stereo_grabber.cpp
Labels: changelog: new feature, needs: code review

#3940 Eliminate all references to maintainer mode
  CMakeLists.txt
  common/include/pcl/point_types.h
  io/include/pcl/io/ply/ply_parser.h
  tracking/include/pcl/tracking/tracking.h
Labels: module: cmake, needs: code review

#3964 Fix excessive warnings on MSVC
  common/include/pcl/point_cloud.h
  test/common/test_io.cpp
Labels: changelog: fix, module: common, platform: windows

#3889 Remove sign-compare, loop-analysis and unused-parameter warnings
  .ci/azure-pipelines/build-macos.yaml
  features/include/pcl/features/impl/brisk_2d.hpp
  people/src/hog.cpp
  registration/include/pcl/registration/impl/ia_fpcs.hpp
  search/include/pcl/search/impl/brute_force.hpp
  test/common/test_type_traits.cpp
  test/features/test_normal_estimation.cpp
  test/filters/test_filters.cpp
Labels: changelog: fix, platform: macos

#3945 [common] Refactoring `PCL_DEPRECATED` macro
  common/include/pcl/pcl_macros.h
Labels: changelog: enhancement, module: common, needs: code review

#3967 Correcting type mismatch
  common/include/pcl/impl/point_types.hpp
Labels: changelog: fix, module: common, needs: code review

#3853 Optimize VoxelGrid Filter
  filters/include/pcl/filters/impl/voxel_grid.hpp
  filters/src/voxel_grid.cpp
Labels: changelog: enhancement, module: filters, needs: code review

#3859 [segmentation] variable assigned a value which is never used
  segmentation/include/pcl/segmentation/impl/approximate_progressive_morphological_filter.hpp
  segmentation/include/pcl/segmentation/impl/crf_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/lccp_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/min_cut_segmentation.hpp
Labels: module: segmentation

#3941 Formatting and CI optimizations
  .ci/azure-pipelines/build-macos.yaml
  .ci/azure-pipelines/build-ubuntu.yaml
  .ci/azure-pipelines/build-windows.yaml
  .ci/azure-pipelines/documentation.yaml
  .ci/azure-pipelines/formatting.yaml
  .ci/azure-pipelines/tutorials.yaml
  .dev/docker/fmt/Dockerfile
  cmake/Modules/FindClangFormat.cmake
Labels: module: ci, module: cmake

#3971 [filters] Fix error due to multiple declarations of template member function specializations in convolution
  apps/CMakeLists.txt
  filters/CMakeLists.txt
  filters/include/pcl/filters/impl/convolution.hpp
  filters/src/convolution.cpp
Labels: changelog: fix, module: filters

#3982 [ci] Hotfix for Azure's weirdness with Alpine image
  .dev/docker/fmt/Dockerfile
Labels: module: ci

#3988 [visualization] Minor fix for converting unorganized PointClouds to VTK data
  visualization/include/pcl/visualization/impl/pcl_visualizer.hpp
Labels: changelog: fix, module: visualization

#3991 Fix typos in kdtree documentation
  doc/tutorials/content/kdtree_search.rst
Labels: changelog: fix, module: docs

#3884 [apps] Apply clang-format to modeler
  .dev/format.sh
  apps/modeler/include/pcl/apps/modeler/abstract_item.h
  apps/modeler/include/pcl/apps/modeler/abstract_worker.h
  apps/modeler/include/pcl/apps/modeler/channel_actor_item.h
  apps/modeler/include/pcl/apps/modeler/cloud_mesh.h
  apps/modeler/include/pcl/apps/modeler/cloud_mesh_item.h
  apps/modeler/include/pcl/apps/modeler/cloud_mesh_item_updater.h
  apps/modeler/include/pcl/apps/modeler/dock_widget.h
  apps/modeler/include/pcl/apps/modeler/icp_registration_worker.h
  apps/modeler/include/pcl/apps/modeler/impl/parameter.hpp
  apps/modeler/include/pcl/apps/modeler/impl/scene_tree.hpp
  apps/modeler/include/pcl/apps/modeler/main_window.h
  apps/modeler/include/pcl/apps/modeler/normal_estimation_worker.h
  apps/modeler/include/pcl/apps/modeler/normals_actor_item.h
  apps/modeler/include/pcl/apps/modeler/parameter.h
  apps/modeler/include/pcl/apps/modeler/parameter_dialog.h
  apps/modeler/include/pcl/apps/modeler/points_actor_item.h
  apps/modeler/include/pcl/apps/modeler/poisson_worker.h
  apps/modeler/include/pcl/apps/modeler/render_window.h
  apps/modeler/include/pcl/apps/modeler/render_window_item.h
  apps/modeler/include/pcl/apps/modeler/scene_tree.h
  apps/modeler/include/pcl/apps/modeler/statistical_outlier_removal_worker.h
  apps/modeler/include/pcl/apps/modeler/surface_actor_item.h
  apps/modeler/include/pcl/apps/modeler/thread_controller.h
  apps/modeler/include/pcl/apps/modeler/voxel_grid_downsample_worker.h
  apps/modeler/src/abstract_item.cpp
  apps/modeler/src/abstract_worker.cpp
  apps/modeler/src/channel_actor_item.cpp
  apps/modeler/src/cloud_mesh.cpp
  apps/modeler/src/cloud_mesh_item.cpp
  apps/modeler/src/cloud_mesh_item_updater.cpp
  apps/modeler/src/dock_widget.cpp
  apps/modeler/src/icp_registration_worker.cpp
  apps/modeler/src/main.cpp
  apps/modeler/src/main_window.cpp
  apps/modeler/src/normal_estimation_worker.cpp
  apps/modeler/src/normals_actor_item.cpp
  apps/modeler/src/parameter.cpp
  apps/modeler/src/parameter_dialog.cpp
  apps/modeler/src/points_actor_item.cpp
  apps/modeler/src/poisson_worker.cpp
  apps/modeler/src/render_window.cpp
  apps/modeler/src/render_window_item.cpp
  apps/modeler/src/scene_tree.cpp
  apps/modeler/src/statistical_outlier_removal_worker.cpp
  apps/modeler/src/surface_actor_item.cpp
  apps/modeler/src/thread_controller.cpp
  apps/modeler/src/voxel_grid_downsample_worker.cpp
Labels: module: apps

#3997 Fix typos in planar segmentation tutorial
  doc/tutorials/content/planar_segmentation.rst
Labels: module: tutorials

#3998 Fix typos in Random Sample Consensus tutorial
  doc/tutorials/content/random_sample_consensus.rst
Labels: module: tutorials

#3972 Fix error due to multiple declarations of template member function specializations in Poisson4
  surface/CMakeLists.txt
  surface/include/pcl/surface/3rdparty/poisson4/bspline_data.h
  surface/include/pcl/surface/3rdparty/poisson4/bspline_data.hpp
  surface/include/pcl/surface/3rdparty/poisson4/polynomial.hpp
  surface/include/pcl/surface/3rdparty/poisson4/ppolynomial.hpp
  surface/src/3rdparty/poisson4/bspline_data.cpp
Labels: changelog: fix, module: surface, needs: code review

#3854 [registration] Better Generalized ICP optimizer gradient check management
  registration/include/pcl/registration/bfgs.h
  registration/include/pcl/registration/gicp.h
  registration/include/pcl/registration/impl/gicp.hpp
Labels: changelog: API break, changelog: enhancement, module: registration, needs: more work

#4003 HotFix #4002
  people/src/hog.cpp
Labels: module: people, needs: code review
