Repository PointCloudLibrary/pcl, pull requests merged in 2020-03, with the labels that each got.

#3665 Reduce scope of variables
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_classifier.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_crh.hpp
  apps/in_hand_scanner/src/integration.cpp
  common/include/pcl/common/impl/common.hpp
  common/include/pcl/common/impl/polynomial_calculations.hpp
  cuda/nn/organized_neighbor_search.hpp
  features/include/pcl/features/impl/brisk_2d.hpp
  features/include/pcl/features/impl/crh.hpp
  features/include/pcl/features/impl/esf.hpp
  features/include/pcl/features/impl/principal_curvatures.hpp
  features/include/pcl/features/impl/vfh.hpp
  filters/include/pcl/filters/impl/conditional_removal.hpp
  filters/include/pcl/filters/impl/voxel_grid_occlusion_estimation.hpp
  io/include/pcl/compression/impl/octree_pointcloud_compression.hpp
  keypoints/include/pcl/keypoints/impl/sift_keypoint.hpp
  ml/include/pcl/ml/impl/kmeans.hpp
  octree/include/pcl/octree/impl/octree2buf_base.hpp
  octree/include/pcl/octree/impl/octree_base.hpp
  octree/include/pcl/octree/impl/octree_iterator.hpp
  octree/include/pcl/octree/impl/octree_search.hpp
  outofcore/include/pcl/outofcore/impl/octree_disk_container.hpp
  people/include/pcl/people/impl/height_map_2d.hpp
  people/include/pcl/people/impl/person_classifier.hpp
  recognition/include/pcl/recognition/impl/ransac_based/simple_octree.hpp
  registration/include/pcl/registration/impl/elch.hpp
  registration/include/pcl/registration/impl/ia_fpcs.hpp
  registration/include/pcl/registration/impl/ia_ransac.hpp
  registration/include/pcl/registration/impl/lum.hpp
  registration/include/pcl/registration/impl/ndt.hpp
  registration/include/pcl/registration/impl/ndt_2d.hpp
  registration/include/pcl/registration/impl/pyramid_feature_matching.hpp
  sample_consensus/include/pcl/sample_consensus/impl/ransac.hpp
  segmentation/include/pcl/segmentation/impl/lccp_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/region_growing_rgb.hpp
  surface/include/pcl/surface/impl/concave_hull.hpp
  surface/include/pcl/surface/impl/gp3.hpp
  surface/include/pcl/surface/impl/texture_mapping.hpp
  visualization/include/pcl/visualization/impl/point_cloud_color_handlers.hpp
Labels: changelog: exclude

#3652 [tools] Continue on pcd load failure in train_linemod
  tools/train_linemod_template.cpp
Labels: changelog: behavior change, module: tools, needs: code review

#3690 Single check for USE_ROS macro
  common/include/pcl/PCLHeader.h
  common/include/pcl/PCLImage.h
  common/include/pcl/PCLPointCloud2.h
  common/include/pcl/PCLPointField.h
  common/include/pcl/point_representation.h
Labels: changelog: removal, module: common, needs: pr merge

#3720 Update doc grouping for UniformSampling
  filters/include/pcl/filters/uniform_sampling.h
Labels: module: docs

#3708 [apps] Remove some unwanted variables
  apps/cloud_composer/src/cloud_browser.cpp
  apps/cloud_composer/src/cloud_view.cpp
  cuda/apps/src/kinect_normals_cuda.cpp
Labels: changelog: exclude, module: apps, needs: code review, needs: pr merge

#3739 Remove old issue template
  .github/issue_template.md
Labels: changelog: exclude, needs: pr merge

#3732 Better PointType ctor and reduced warnings in `register_point_struct.h`
  common/include/pcl/common/point_tests.h
  common/include/pcl/impl/point_types.hpp
  common/include/pcl/point_traits.h
  common/include/pcl/register_point_struct.h
Labels: changelog: fix, module: common, needs: pr merge

#3737 [gpu] fix compilation bug in initRegistration for only OpenNi
  gpu/kinfu_large_scale/tools/kinfuLS_app.cpp
Labels: changelog: fix, module: gpu, needs: pr merge

#3718 [surface] Add default initializer to Marching Cubes
  surface/include/pcl/surface/marching_cubes.h
Labels: changelog: fix, module: surface, needs: pr merge

#3709 [Cmake]Remove unused variables and fix cmake for tools
  CMakeLists.txt
  gpu/people/CMakeLists.txt
  gpu/people/tools/CMakeLists.txt
  io/tools/CMakeLists.txt
  outofcore/tools/CMakeLists.txt
  simulation/CMakeLists.txt
  simulation/tools/CMakeLists.txt
Labels: changelog: enhancement, module: cmake, needs: pr merge

#3743 [CUDA] Add test for pcl::gpu::NormalEstimation (issue #2371, GPU NaNs)
  gpu/features/test/test_normals.cpp
Labels: module: test, needs: author reply

#3736 Add Catalina and Xcode toolchain for MacOS CI
  .ci/azure-pipelines/build-macos.yml
Labels: changelog: exclude, module: ci

#3711 Add precompiled computeApproximateCovariances; fix compilation error for the same
  features/CMakeLists.txt
  features/include/pcl/features/from_meshes.h
  features/src/from_meshes.cpp
Labels: changelog: enhancement, changelog: fix, module: features, needs: pr merge

#3755 Fix missing standard includes, reduce warnings in doxygen-enabled builds
  common/include/pcl/common/bivariate_polynomial.h
  common/include/pcl/common/impl/bivariate_polynomial.hpp
  common/include/pcl/common/impl/eigen.hpp
  common/include/pcl/common/impl/file_io.hpp
  common/include/pcl/common/impl/piecewise_linear_function.hpp
  common/include/pcl/common/impl/transforms.hpp
  common/include/pcl/common/synchronizer.h
  common/include/pcl/common/utils.h
  filters/include/pcl/filters/impl/convolution_3d.hpp
  io/include/pcl/io/impl/lzf_image_io.hpp
  io/include/pcl/io/ply/byte_order.h
  io/include/pcl/io/real_sense_grabber.h
  octree/include/pcl/octree/octree_key.h
  outofcore/include/pcl/outofcore/impl/lru_cache.hpp
  recognition/include/pcl/recognition/color_modality.h
  recognition/include/pcl/recognition/impl/ransac_based/simple_octree.hpp
  recognition/include/pcl/recognition/ransac_based/orr_graph.h
  recognition/include/pcl/recognition/ransac_based/simple_octree.h
  recognition/include/pcl/recognition/surface_normal_modality.h
  registration/include/pcl/registration/impl/correspondence_types.hpp
  visualization/include/pcl/visualization/area_picking_event.h
Labels: changelog: enhancement, module: docs

#3681 Remove BOOST_DISABLE_ASSERTS and EIGEN_NO_DEBUG
  CMakeLists.txt
Labels: module: cmake

#3628 Added test for ICP example code
  doc/tutorials/content/sources/iterative_closest_point/iterative_closest_point.cpp
  test/registration/test_registration.cpp
Labels: changelog: enhancement, module: test, needs: author reply

#3756 Fix issues with math defines on mingw-w64.
  common/include/pcl/pcl_macros.h
Labels: module: common, platform: windows

#3642 [sample consensus] Better performance, error handling and other improvements
  sample_consensus/include/pcl/sample_consensus/impl/lmeds.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_circle.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_circle3d.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cone.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cylinder.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_line.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_normal_parallel_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_normal_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_normal_sphere.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_parallel_line.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_parallel_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_perpendicular_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_registration.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_registration_2d.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_sphere.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_stick.hpp
  sample_consensus/include/pcl/sample_consensus/sac_model.h
  sample_consensus/include/pcl/sample_consensus/sac_model_normal_sphere.h
Labels: changelog: enhancement, module: sample_consensus, needs: code review

#3701 Fix non-documentation Doxygen warnings -- Part 1
  common/include/pcl/common/io.h
  common/include/pcl/pcl_macros.h
  common/include/pcl/point_cloud.h
  common/include/pcl/range_image/bearing_angle_image.h
  common/include/pcl/range_image/range_image.h
  doc/doxygen/doxyfile.in
  features/include/pcl/features/from_meshes.h
  features/include/pcl/features/gasd.h
  features/include/pcl/features/impl/intensity_gradient.hpp
  filters/include/pcl/filters/impl/plane_clipper3D.hpp
  geometry/geometry.doxy
  gpu/kinfu/tools/tsdf_volume.h
  gpu/kinfu_large_scale/include/pcl/gpu/kinfu_large_scale/tsdf_volume.h
  gpu/people/src/cuda/nvidia/NPP_staging.hpp
  io/include/pcl/io/openni_grabber.h
  io/include/pcl/io/pcd_io.h
  io/include/pcl/io/real_sense_2_grabber.h
  ml/include/pcl/ml/impl/kmeans.hpp
  octree/include/pcl/octree/octree_search.h
  registration/include/pcl/registration/gicp.h
  registration/include/pcl/registration/meta_registration.h
  registration/include/pcl/registration/transformation_estimation_symmetric_point_to_plane_lls.h
  segmentation/include/pcl/segmentation/cpc_segmentation.h
  segmentation/include/pcl/segmentation/edge_aware_plane_comparator.h
  segmentation/include/pcl/segmentation/lccp_segmentation.h
  segmentation/include/pcl/segmentation/min_cut_segmentation.h
  surface/include/pcl/surface/3rdparty/poisson4/geometry.hpp
  surface/include/pcl/surface/3rdparty/poisson4/multi_grid_octree_data.hpp
  surface/include/pcl/surface/3rdparty/poisson4/octree_poisson.hpp
  surface/include/pcl/surface/marching_cubes_hoppe.h
  surface/include/pcl/surface/mls.h
  visualization/include/pcl/visualization/common/common.h
  visualization/include/pcl/visualization/common/impl/common.hpp
  visualization/include/pcl/visualization/pcl_visualizer.h
Labels: changelog: fix, module: docs

#3745 Update build type to release & remove multi-step build in CI
  .ci/azure-pipelines/build-macos.yaml
  .ci/azure-pipelines/build-ubuntu-16-04.yaml
  .ci/azure-pipelines/build-ubuntu-19-10.yaml
  .ci/azure-pipelines/build-windows.yaml
  .ci/azure-pipelines/documentation.yaml
  .ci/azure-pipelines/formatting.yaml
  .ci/azure-pipelines/tutorials.yaml
  octree/include/pcl/octree/octree_base.h
  surface/include/pcl/surface/3rdparty/opennurbs/opennurbs_array_defs.h
Labels: module: ci

#3626 Refactor grabber to use `unique_ptr`
  io/include/pcl/io/grabber.h
  io/include/pcl/io/image_grabber.h
  io/include/pcl/io/pcd_grabber.h
  stereo/include/pcl/stereo/stereo_grabber.h
Labels: changelog: ABI break, changelog: API break, changelog: behavior change, module: io, needs: code review

#3780 Be explicit about no indendation in namespace
  .clang-format
Labels: module: ci

#3777 Fix sign-compare warnings issued by AppleClang
  features/include/pcl/features/impl/board.hpp
  features/include/pcl/features/impl/cppf.hpp
  features/include/pcl/features/impl/flare.hpp
  features/include/pcl/features/impl/fpfh.hpp
  features/src/range_image_border_extractor.cpp
Labels: changelog: fix, platform: macos

#3651 Adding configurable `pcl::index_t`
  common/CMakeLists.txt
  common/include/pcl/PCLHeader.h
  common/include/pcl/PCLPointField.h
  common/include/pcl/make_shared.h
  common/include/pcl/pcl_macros.h
  common/include/pcl/types.h
  io/include/pcl/io/image.h
  io/include/pcl/io/image_metadata_wrapper.h
  io/src/lzf.cpp
  octree/include/pcl/octree/octree_container.h
  octree/include/pcl/octree/octree_key.h
  simulation/include/pcl/simulation/camera.h
Labels: changelog: API break, module: common

#3789 Temporary fix for skipping of certain tests
  .ci/azure-pipelines/build-ubuntu-16-04.yaml
Labels: changelog: fix, module: ci

#3698 Adding type_traits as the more common name
  common/CMakeLists.txt
  common/include/pcl/PCLPointField.h
  common/include/pcl/common/centroid.h
  common/include/pcl/common/impl/copy_point.hpp
  common/include/pcl/conversions.h
  common/include/pcl/memory.h
  common/include/pcl/point_cloud.h
  common/include/pcl/point_traits.h
  common/include/pcl/point_types.h
  common/include/pcl/register_point_struct.h
  common/include/pcl/type_traits.h
  filters/include/pcl/filters/impl/random_sample.hpp
  io/include/pcl/io/impl/vtk_lib_io.hpp
  surface/include/pcl/surface/impl/mls.hpp
  test/common/test_type_traits.cpp
  test/io/test_io.cpp
  test/io/test_ply_mesh_io.cpp
Labels: changelog: deprecation

#3687 Fix Memory Leaks
  gpu/people/tools/people_tracking.cpp
  ml/src/svm.cpp
  search/include/pcl/search/flann_search.h
  test/2d/test_2d.cpp
  test/io/test_octree_compression.cpp
  test/search/test_auto_search.cpp
  test/search/test_flann_search.cpp
  test/search/test_kdtree.cpp
  test/search/test_octree.cpp
  test/search/test_organized_index.cpp
  test/test_recognition_ransac_based_ORROctree.cpp
  tools/oni_viewer_simple.cpp
  visualization/src/point_cloud_handlers.cpp
Labels: changelog: fix

#3787 Fix a memory leak in `OctreeBase::operator=`
  octree/include/pcl/octree/octree_base.h
Labels: changelog: fix, module: octree

#3791 [People] Missing include on windows
  people/include/pcl/people/hog.h
  people/src/hog.cpp
Labels: changelog: fix, module: people, platform: windows

#3783 Simplify Ubuntu CI using matrix strategy
  .ci/azure-pipelines/build-ubuntu-16-04.yaml
  .ci/azure-pipelines/build-ubuntu.yaml
  .dev/docker/env/Dockerfile
Labels: changelog: enhancement, module: ci, needs: code review

#3807 Clean up code duplication in `FilterIndices` derived classes
  filters/include/pcl/filters/crop_box.h
  filters/include/pcl/filters/filter_indices.h
  filters/include/pcl/filters/frustum_culling.h
  filters/include/pcl/filters/impl/crop_box.hpp
  filters/include/pcl/filters/impl/filter_indices.hpp
  filters/include/pcl/filters/impl/frustum_culling.hpp
  filters/include/pcl/filters/impl/model_outlier_removal.hpp
  filters/include/pcl/filters/impl/normal_space.hpp
  filters/include/pcl/filters/impl/passthrough.hpp
  filters/include/pcl/filters/impl/radius_outlier_removal.hpp
  filters/include/pcl/filters/impl/random_sample.hpp
  filters/include/pcl/filters/impl/statistical_outlier_removal.hpp
  filters/include/pcl/filters/model_outlier_removal.h
  filters/include/pcl/filters/normal_space.h
  filters/include/pcl/filters/passthrough.h
  filters/include/pcl/filters/radius_outlier_removal.h
  filters/include/pcl/filters/random_sample.h
  filters/include/pcl/filters/statistical_outlier_removal.h
  filters/src/filter_indices.cpp
Labels: changelog: enhancement, module: filters, needs: code review

#3524 Use default(none) for OpenMP definitions
  CMakeLists.txt
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_crh.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_cvfh.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/local_recognizer.hpp
  common/include/pcl/pcl_macros.h
  common/src/fft/kiss_fft.c
  common/src/range_image.cpp
  features/include/pcl/features/impl/fpfh_omp.hpp
  features/include/pcl/features/impl/intensity_gradient.hpp
  features/include/pcl/features/impl/normal_3d_omp.hpp
  features/include/pcl/features/impl/shot_lrf_omp.hpp
  features/include/pcl/features/impl/shot_omp.hpp
  features/src/narf.cpp
  features/src/range_image_border_extractor.cpp
  filters/include/pcl/filters/impl/convolution.hpp
  filters/include/pcl/filters/impl/convolution_3d.hpp
  filters/include/pcl/filters/impl/fast_bilateral_omp.hpp
  filters/include/pcl/filters/impl/pyramid.hpp
  gpu/kinfu/src/tsdf_volume.cpp
  gpu/kinfu/tools/record_tsdfvolume.cpp
  gpu/kinfu/tools/tsdf_volume.hpp
  gpu/kinfu_large_scale/include/pcl/gpu/kinfu_large_scale/impl/standalone_marching_cubes.hpp
  gpu/kinfu_large_scale/src/tsdf_volume.cpp
  gpu/kinfu_large_scale/tools/record_tsdfvolume.cpp
  gpu/people/src/cuda/shs.cu
  gpu/people/src/people_detector.cpp
  io/include/pcl/io/impl/lzf_image_io.hpp
  io/src/real_sense_2_grabber.cpp
  keypoints/include/pcl/keypoints/impl/harris_2d.hpp
  keypoints/include/pcl/keypoints/impl/harris_3d.hpp
  keypoints/include/pcl/keypoints/impl/harris_6d.hpp
  keypoints/include/pcl/keypoints/impl/iss_3d.hpp
  keypoints/include/pcl/keypoints/impl/susan.hpp
  keypoints/include/pcl/keypoints/impl/trajkovic_2d.hpp
  keypoints/include/pcl/keypoints/impl/trajkovic_3d.hpp
  keypoints/src/narf_keypoint.cpp
  recognition/include/pcl/recognition/impl/hv/hv_go.hpp
  registration/include/pcl/registration/impl/ia_fpcs.hpp
  segmentation/include/pcl/segmentation/impl/approximate_progressive_morphological_filter.hpp
  surface/include/pcl/surface/impl/mls.hpp
  test/search/test_search.cpp
  tools/fast_bilateral_filter.cpp
  tools/normal_estimation.cpp
  tracking/include/pcl/tracking/impl/kld_adaptive_particle_filter_omp.hpp
  tracking/include/pcl/tracking/impl/particle_filter_omp.hpp
  tracking/include/pcl/tracking/impl/pyramidal_klt.hpp
Labels: changelog: fix, needs: code review, skill: openmp

#3808 Improving PCL_DEPRECATED with encorcable deprecation policy
  common/include/pcl/common/io.h
  common/include/pcl/impl/point_types.hpp
  common/include/pcl/pcl_macros.h
  common/include/pcl/point_cloud.h
  common/include/pcl/types.h
  doc/doxygen/doxyfile.in
  features/include/pcl/features/rsd.h
  filters/include/pcl/filters/passthrough.h
  io/include/pcl/compression/entropy_range_coder.h
  io/include/pcl/io/ascii_io.h
  io/include/pcl/io/grabber.h
  io/include/pcl/io/hdl_grabber.h
  octree/include/pcl/octree/octree2buf_base.h
  octree/include/pcl/octree/octree_base.h
  recognition/include/pcl/recognition/mask_map.h
  segmentation/include/pcl/segmentation/euclidean_cluster_comparator.h
  segmentation/include/pcl/segmentation/organized_multi_plane_segmentation.h
  segmentation/include/pcl/segmentation/segment_differences.h
  segmentation/include/pcl/segmentation/supervoxel_clustering.h
  surface/include/pcl/surface/mls.h
  surface/src/3rdparty/opennurbs/opennurbs_annotation2.cpp
  visualization/include/pcl/visualization/point_cloud_color_handlers.h
Labels: changelog: enhancement, module: common, needs: code review

#3778 Add new changelog generator script
  .ci/azure-pipelines/documentation.yaml
  .dev/docker/doc/Dockerfile
  .dev/scripts/generate_changelog.py
  .github/change_log.py
  doc/doxygen/pcl.doxy
Labels: module: ci, module: docs

#3817 [Surface, CI] Add inline comment regarding MacOS and OpenGL
  .ci/azure-pipelines/build-macos.yaml
Labels: module: ci, platform: macos

#3819 Add a stamp file to build documentation once
  doc/doxygen/.gitignore
  doc/doxygen/CMakeLists.txt
Labels: changelog: fix, module: cmake, needs: code review

#3821 Hotfix for the prefix in changelog
  .dev/scripts/generate_changelog.py
Labels: module: ci, needs: code review

#3824 Fix erroneous PCL version in deprecated message
  common/include/pcl/pcl_macros.h
Labels: changelog: fix, module: common, needs: code review

#3823 Fix OpenMP code for Clang 10
  common/include/pcl/pcl_macros.h
  common/src/fft/kiss_fft.c
Labels: module: common

#3822 Define `PointIndices` based on the global `Indices` type alias
  common/include/pcl/PointIndices.h
  common/include/pcl/pcl_base.h
  common/include/pcl/types.h
Labels: changelog: fix, module: common, needs: code review

#3726 Clean up `Filter` and `FilterIndices`, move `indices_`/`input_` from public to protected section
  common/include/pcl/pcl_base.h
  filters/include/pcl/filters/filter.h
  filters/include/pcl/filters/filter_indices.h
Labels: changelog: API break, module: filters

#3829 Fix function name in error message in `estimateProjectionMatrix()`
  search/include/pcl/search/impl/organized.hpp
Labels: module: search

#3830 Fix GNUC macro name
  common/include/pcl/pcl_macros.h
  common/src/fft/kiss_fft.c
Labels: changelog: fix, module: common
