Repository PointCloudLibrary/pcl, pull requests merged in 2020-12, with the labels that each got.

#4526 Misc documentation fixes
  doc/tutorials/content/planar_segmentation.rst
  doc/tutorials/content/resampling.rst
  filters/include/pcl/filters/project_inliers.h
  filters/include/pcl/filters/radius_outlier_removal.h
  filters/include/pcl/filters/statistical_outlier_removal.h
Labels: module: docs, module: filters

#4538 Set header in two toPCLPointCloud2 functions
  common/include/pcl/conversions.h
Labels: changelog: fix, module: common

#4535 Fix force no recompute
  registration/include/pcl/registration/correspondence_estimation.h
  registration/include/pcl/registration/correspondence_rejection.h
  registration/include/pcl/registration/registration.h
  registration/include/pcl/registration/transformation_validation_euclidean.h
  test/registration/test_ndt.cpp
  test/registration/test_registration.cpp
  test/registration/test_sac_ia.cpp
Labels: changelog: fix, module: registration, module: test, needs: code review

#4162 [segmentation] Fix the dotproduct calculation in `extractEuclideanClusters` for smooth surfaces
  segmentation/include/pcl/segmentation/extract_clusters.h
Labels: changelog: fix, module: segmentation, needs: code review, needs: more work

#4533 Visualization: move towards pcl::index_t and pcl::Indices
  visualization/include/pcl/visualization/area_picking_event.h
  visualization/include/pcl/visualization/common/io.h
  visualization/include/pcl/visualization/histogram_visualizer.h
  visualization/include/pcl/visualization/impl/histogram_visualizer.hpp
  visualization/include/pcl/visualization/impl/registration_visualizer.hpp
  visualization/include/pcl/visualization/pcl_plotter.h
  visualization/include/pcl/visualization/point_picking_event.h
  visualization/include/pcl/visualization/registration_visualizer.h
  visualization/src/common/io.cpp
  visualization/src/histogram_visualizer.cpp
  visualization/src/pcl_plotter.cpp
  visualization/src/point_picking_event.cpp
Labels: module: visualization, needs: code review

#4424 Faster sample consensus functions
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_circle.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_circle3d.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cone.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cylinder.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_normal_sphere.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_sphere.hpp
  sample_consensus/include/pcl/sample_consensus/sac_model.h
Labels: changelog: enhancement, module: sample_consensus
