Repository PointCloudLibrary/pcl, pull requests merged in 2020-01, with the labels that each got.

#3520 Typos in help message
  tools/marching_cubes_reconstruction.cpp
Labels: module: tools

#3522 Update pcd_io.cpp
  io/src/pcd_io.cpp
Labels: bug, module: io

#3514 Add parallel RANSAC implementation
  sample_consensus/include/pcl/sample_consensus/impl/mlesac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/msac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/ransac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/rmsac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/rransac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_circle.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_circle3d.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cone.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cylinder.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_line.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_normal_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_normal_sphere.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_parallel_line.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_parallel_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_perpendicular_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_registration.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_registration_2d.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_sphere.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_stick.hpp
  sample_consensus/include/pcl/sample_consensus/ransac.h
  sample_consensus/include/pcl/sample_consensus/sac.h
  sample_consensus/include/pcl/sample_consensus/sac_model.h
  sample_consensus/include/pcl/sample_consensus/sac_model_circle.h
  sample_consensus/include/pcl/sample_consensus/sac_model_circle3d.h
  sample_consensus/include/pcl/sample_consensus/sac_model_cone.h
  sample_consensus/include/pcl/sample_consensus/sac_model_cylinder.h
  sample_consensus/include/pcl/sample_consensus/sac_model_line.h
  sample_consensus/include/pcl/sample_consensus/sac_model_normal_plane.h
  sample_consensus/include/pcl/sample_consensus/sac_model_normal_sphere.h
  sample_consensus/include/pcl/sample_consensus/sac_model_parallel_line.h
  sample_consensus/include/pcl/sample_consensus/sac_model_parallel_plane.h
  sample_consensus/include/pcl/sample_consensus/sac_model_perpendicular_plane.h
  sample_consensus/include/pcl/sample_consensus/sac_model_plane.h
  sample_consensus/include/pcl/sample_consensus/sac_model_registration.h
  sample_consensus/include/pcl/sample_consensus/sac_model_registration_2d.h
  sample_consensus/include/pcl/sample_consensus/sac_model_sphere.h
  sample_consensus/include/pcl/sample_consensus/sac_model_stick.h
  segmentation/include/pcl/segmentation/impl/sac_segmentation.hpp
  segmentation/include/pcl/segmentation/sac_segmentation.h
  test/sample_consensus/test_sample_consensus_plane_models.cpp
Labels: enhancement, module: sample_consensus

#3539 Compilation errors related to symmetric ICP objective
  registration/include/pcl/registration/icp.h
  registration/include/pcl/registration/impl/transformation_estimation_symmetric_point_to_plane_lls.hpp
  test/registration/test_registration.cpp
Labels: module: registration

#3500 Restructure and add functionality to PCLPointCloud2 filters Par…
  filters/src/crop_box.cpp
  filters/src/extract_indices.cpp
  filters/src/radius_outlier_removal.cpp
  filters/src/random_sample.cpp
Labels: module: filters

#3542 Make PLY parser more tolerant towards files not adhering to sta…
  io/include/pcl/io/ply/ply_parser.h
  io/src/ply/ply_parser.cpp
  test/io/test_ply_io.cpp
Labels: module: io

#3549 Fix memory leak in TextureMapping
  surface/include/pcl/surface/impl/texture_mapping.hpp
Labels: module: surface

#3553 Fixed memory leaks in openni apps
  apps/src/openni_3d_concave_hull.cpp
  apps/src/openni_3d_convex_hull.cpp
  apps/src/openni_boundary_estimation.cpp
  apps/src/openni_change_viewer.cpp
  apps/src/openni_fast_mesh.cpp
  apps/src/openni_feature_persistence.cpp
  apps/src/openni_ii_normal_estimation.cpp
  apps/src/openni_mls_smoothing.cpp
  apps/src/openni_octree_compression.cpp
  apps/src/openni_organized_compression.cpp
  apps/src/openni_organized_edge_detection.cpp
  apps/src/openni_organized_multi_plane_segmentation.cpp
  apps/src/openni_planar_convex_hull.cpp
  apps/src/openni_planar_segmentation.cpp
  apps/src/openni_tracking.cpp
  apps/src/openni_uniform_sampling.cpp
  apps/src/openni_voxel_grid.cpp
Labels: module: apps

#3533 Replace raw arrays with `std::vector`s in `RangeImageBorderExtractor`
  features/include/pcl/features/range_image_border_extractor.h
  features/src/range_image_border_extractor.cpp
Labels: modernization

#3567 Set compile features on imported PCL targets
  PCLConfig.cmake.in
Labels: module: cmake

#3561 Fix undefined behaviour in `OctNode`
  surface/include/pcl/surface/3rdparty/poisson4/octree_poisson.hpp
Labels: module: surface

#3566 Merge pull request #3566 from kunaltyagi/stereo
  stereo/include/pcl/stereo/stereo_matching.h
Labels: module: stereo

#3540 Merge pull request #3540 from facontidavide/fix_filter
  filters/include/pcl/filters/impl/conditional_removal.hpp
Labels: module: filters

#3581 Enable Dockerfile to choose a cuda image as base image
  .dev/docker/env/Dockerfile
Labels: module: ci

#3587 [cuda/apps] Fixing memory leaks
  cuda/apps/src/kinect_mapping.cpp
  cuda/apps/src/kinect_normals_cuda.cpp
  cuda/apps/src/kinect_planes_cuda.cpp
  cuda/apps/src/kinect_ransac.cpp
  cuda/apps/src/kinect_segmentation_cuda.cpp
  cuda/apps/src/kinect_segmentation_planes_cuda.cpp
Labels: module: cuda

#3593 [features] Using arrays for brewity in vfh
  features/include/pcl/features/impl/vfh.hpp
  features/include/pcl/features/vfh.h
Labels: module: features

#3588 Merge pull request #3588 from charkops/overload_PointXYZRGB
  common/include/pcl/impl/point_types.hpp
Labels: module: common

#3601 close the correct file in pcl::io::savePLYFileBinary
  io/src/ply_io.cpp
Labels: module: io

#3607 Merge pull request #3607 from kunaltyagi/unshadow
  features/include/pcl/features/impl/vfh.hpp
Labels: module: features

#3611 Explicit substraction instead of typo wrt '->'
  surface/include/pcl/surface/3rdparty/poisson4/octree_poisson.hpp
Labels: module: surface

#3597 Make ctors more uniform for PCL Point Types
  common/include/pcl/impl/point_types.hpp
Labels: changes: deprecation, module: common

#3582 [features] Refactoring and proper Eigen usage (5/N)
  features/include/pcl/features/cvfh.h
  features/include/pcl/features/impl/3dsc.hpp
  features/include/pcl/features/impl/board.hpp
  features/include/pcl/features/impl/fpfh.hpp
  features/include/pcl/features/impl/fpfh_omp.hpp
  features/include/pcl/features/impl/gasd.hpp
  features/include/pcl/features/impl/gfpfh.hpp
  features/include/pcl/features/impl/grsd.hpp
  features/include/pcl/features/impl/moment_invariants.hpp
Labels: module: features

#3574 Fix indexing in IntegralImageNormalEstimation #3573
  features/include/pcl/features/impl/integral_image_normal.hpp
  test/features/test_normal_estimation.cpp
Labels: module: features, status: in progress

#3618 Fix compile issue in people_app.cpp as shared_ptr was ambiguous.
  gpu/people/tools/people_app.cpp
Labels: module: gpu

#2998 Add Mojave build to CI.
  .ci/azure-pipelines/build-macos.yml
Labels: module: ci, platform: osx
