Repository PointCloudLibrary/pcl, pull requests merged in 2020-06, with the labels that each got.

#4158 Don't generate php files with doxygen
  .ci/azure-pipelines/documentation.yaml
Labels: module: ci, module: docs

#4161 [segmentation] Update angle between 2 planes to be the smallest angle between them
  segmentation/include/pcl/segmentation/extract_clusters.h
Labels: changelog: fix, module: segmentation

#4128 [io] Better conversion of depth data + focal length into X,Y,Z point data
  io/include/pcl/compression/organized_pointcloud_conversion.h
Labels: changelog: fix, module: io

#4173 [test] Replace usage of `std::vector<int>` with `Indices` in common module tests
  test/common/test_centroid.cpp
  test/common/test_common.cpp
  test/common/test_io.cpp
  test/common/test_transforms.cpp
Labels: module: test, priority: gsoc

#4182 [CMake] Fix name warnings for PCAP, libusb and Ensenso.
  cmake/Modules/FindEnsenso.cmake
  cmake/Modules/FindPcap.cmake
  cmake/Modules/Findlibusb-1.0.cmake
Labels: changelog: fix, module: cmake

#4185 [CMake] Select only possible values to PCL_INDEX_SIZE
  cmake/pcl_options.cmake
Labels: module: cmake

#4184 [ci] Add CI for 64bit and unsigned indices
  .ci/azure-pipelines/azure-pipelines.yaml
  .ci/azure-pipelines/build/ubuntu_indices.yaml
Labels: module: ci, needs: code review, priority: gsoc

#4188 Run indices and GPU CI in parallel
  .ci/azure-pipelines/azure-pipelines.yaml
Labels: module: ci

#4183 [Keypoints] Add correct include and use `isXYZFinite` in Harris 2D
  keypoints/include/pcl/keypoints/impl/harris_2d.hpp
Labels: module: keypoints

#3880 [apps] Apply clang-format to 3d_rec_framework
  .dev/format.sh
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/global/crh_estimator.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/global/cvfh_estimator.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/global/esf_estimator.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/global/global_estimator.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/global/ourcvfh_estimator.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/global/vfh_estimator.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/local/colorshot_local_estimator.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/local/fpfh_local_estimator.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/local/fpfh_local_estimator_omp.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/local/local_estimator.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/local/shot_local_estimator.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/local/shot_local_estimator_omp.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/normal_estimator.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pc_source/mesh_source.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pc_source/registered_views_source.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pc_source/source.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/global_nn_classifier.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/global_nn_recognizer_crh.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/global_nn_recognizer_cvfh.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_classifier.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_crh.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_cvfh.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/local_recognizer.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/local_recognizer.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/tools/openni_frame_source.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/utils/metrics.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/utils/persistence_utils.h
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/utils/vtk_model_sampling.h
  apps/3d_rec_framework/src/pipeline/global_nn_classifier.cpp
  apps/3d_rec_framework/src/pipeline/global_nn_recognizer_crh.cpp
  apps/3d_rec_framework/src/pipeline/global_nn_recognizer_cvfh.cpp
  apps/3d_rec_framework/src/pipeline/local_recognizer.cpp
  apps/3d_rec_framework/src/tools/global_classification.cpp
  apps/3d_rec_framework/src/tools/local_recognition_mian_dataset.cpp
  apps/3d_rec_framework/src/tools/openni_frame_source.cpp
Labels: module: apps, needs: code review

#4186 Reduce flakiness of a sample consensus model test
  test/sample_consensus/test_sample_consensus.cpp
Labels: module: test, needs: code review

#4191 [IO] Tell compiler to not worry about variables unused when VTK is absent
  io/src/image_grabber.cpp
Labels: module: io, needs: code review

#4061 Fix unknown pragma warning on MSVC in test_type_traits.cpp
  test/common/test_type_traits.cpp
Labels: module: ci, platform: windows

#4205 [common] Add always-unsigned index type `uindex_t` dependent on `index_t`
  common/include/pcl/types.h
Labels: changelog: new feature, module: common, needs: code review, priority: gsoc

#4181 [registration] Fix bug in NDT step interval convergence criteria
  registration/include/pcl/registration/impl/ndt.hpp
Labels: changelog: fix, module: registration, needs: code review

#4165 Fix missing symbol issue on Windows for `filters::convolution` and `poisson4::bspline`
  filters/include/pcl/filters/impl/convolution.hpp
  surface/include/pcl/surface/3rdparty/poisson4/bspline_data.hpp
  test/filters/test_convolution.cpp
Labels: changelog: fix, needs: code review

#4216 Adding `data` member function to `PointCloud`
  common/include/pcl/point_cloud.h
Labels: changelog: enhancement, module: common, needs: code review

#4211 [common] Switch `int` to `index_t` for field indec variables in `pclBase`, add `pcl::UNAVAILABLE` for same
  common/include/pcl/pcl_base.h
  common/src/pcl_base.cpp
  filters/src/passthrough.cpp
  filters/src/radius_outlier_removal.cpp
  filters/src/statistical_outlier_removal.cpp
  filters/src/voxel_grid.cpp
  visualization/include/pcl/visualization/impl/point_cloud_geometry_handlers.hpp
  visualization/include/pcl/visualization/point_cloud_geometry_handlers.h
  visualization/src/point_cloud_handlers.cpp
Labels: changelog: enhancement, module: common, needs: code review, priority: gsoc

#4220 Add `assign` indirection for `points` to `PointCloud`
  common/include/pcl/point_cloud.h
Labels: needs: code review, priority: gsoc

#4224 [common] Modify index type for PCLPointField
  common/include/pcl/PCLPointField.h
  common/include/pcl/pcl_base.h
  common/src/common.cpp
  io/src/pcd_io.cpp
  test/io/test_io.cpp
  visualization/include/pcl/visualization/impl/histogram_visualizer.hpp
  visualization/src/histogram_visualizer.cpp
Labels: module: common, needs: code review, priority: gsoc

#4225 [common] Added `resize` with 2 arguments to `PointCloud`
  common/include/pcl/point_cloud.h
Labels: changelog: enhancement, module: common, needs: code review, priority: gsoc
