Repository PointCloudLibrary/pcl, pull requests merged in 2021-05, with the labels that each got.

#4742 [common] Added `namespace pcl` to free functions: `aligned_{malloc/free}`
  common/include/pcl/pcl_macros.h
Labels: changelog: API break, module: common

#4740 [Fix] Add missing copy ctor for PointXYZLAB
  common/include/pcl/impl/point_types.hpp
Labels: module: common

#4735 Add `constexpr` to static member functions for point types, add macro for `if constexpr`
  common/include/pcl/impl/point_types.hpp
  common/include/pcl/pcl_macros.h
Labels: changelog: enhancement, changelog: new feature, module: common

#4712 Fix/enable more output for intermittently failing tests
  registration/include/pcl/registration/impl/ia_fpcs.hpp
  test/registration/test_kfpcs_ia.cpp
  test/sample_consensus/test_sample_consensus.cpp
  test/search/test_octree.cpp
  test/search/test_organized.cpp
  test/search/test_organized_index.cpp
Labels: module: test, needs: code review

#4746 Fix typo in kdtree_search.cpp tutorial source (#1)
  doc/tutorials/content/sources/kdtree_search/kdtree_search.cpp
Labels: module: tutorials

#4755 [outofcore] Fix compile issue due to missing include under MSVC 2019
  outofcore/include/pcl/outofcore/outofcore_breadth_first_iterator.h
Labels: changelog: fix, module: outofcore, platform: windows

#4753 Add formal documentation of PCD binary_compressed format
  doc/tutorials/content/pcd_file_format.rst
Labels: module: docs

#4745 Fix `PolygonMesh::concatenate` and its unit test
  common/include/pcl/PolygonMesh.h
  test/common/test_polygon_mesh.cpp
Labels: changelog: fix, module: common, module: test, needs: code review

#4426 [CI] Use windows docker image in CI.
  .ci/azure-pipelines/azure-pipelines.yaml
  .ci/azure-pipelines/build/windows.yaml
  cmake/pcl_options.cmake
  test/CMakeLists.txt
Labels: changelog: new feature, module: ci

#4760 Replace PassThrough with removeNaNFromPointCloud in 3 tutorials
  doc/tutorials/content/min_cut_segmentation.rst
  doc/tutorials/content/region_growing_rgb_segmentation.rst
  doc/tutorials/content/region_growing_segmentation.rst
  doc/tutorials/content/sources/concave_hull_2d/concave_hull_2d.cpp
  doc/tutorials/content/sources/convex_hull_2d/convex_hull_2d.cpp
  doc/tutorials/content/sources/cylinder_segmentation/cylinder_segmentation.cpp
  doc/tutorials/content/sources/min_cut_segmentation/min_cut_segmentation.cpp
  doc/tutorials/content/sources/region_growing_rgb_segmentation/region_growing_rgb_segmentation.cpp
  doc/tutorials/content/sources/region_growing_segmentation/region_growing_segmentation.cpp
Labels: module: tutorials, needs: code review

#4748 Small container improvement
  cmake/pcl_find_cuda.cmake
  gpu/containers/src/initialization.cpp
Labels: module: gpu

#4540 Add support for reentrant qhull
  .ci/azure-pipelines/azure-pipelines.yaml
  cmake/Modules/FindQhull.cmake
  pcl_config.h.in
  surface/include/pcl/surface/convex_hull.h
  surface/include/pcl/surface/impl/concave_hull.hpp
  surface/include/pcl/surface/impl/convex_hull.hpp
  surface/include/pcl/surface/qhull.h
Labels: needs: testing

#4758 Use more pcl::Indices
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/normal_estimator.h
  apps/cloud_composer/include/pcl/apps/cloud_composer/tools/impl/organized_segmentation.hpp
  apps/cloud_composer/tools/euclidean_clustering.cpp
  apps/modeler/src/cloud_mesh.cpp
  apps/modeler/src/normal_estimation_worker.cpp
  apps/modeler/src/normals_actor_item.cpp
  apps/src/ni_linemod.cpp
  cuda/sample_consensus/src/sac_model.cu
  features/include/pcl/features/impl/organized_edge_detection.hpp
  filters/include/pcl/filters/impl/bilateral.hpp
  filters/include/pcl/filters/impl/crop_box.hpp
  filters/src/crop_box.cpp
  gpu/kinfu_large_scale/include/pcl/gpu/kinfu_large_scale/impl/world_model.hpp
  gpu/kinfu_large_scale/include/pcl/gpu/kinfu_large_scale/world_model.h
  gpu/people/include/pcl/gpu/people/label_tree.h
  gpu/people/include/pcl/gpu/people/people_detector.h
  gpu/people/src/people_detector.cpp
  io/src/vtk_lib_io.cpp
  octree/include/pcl/octree/impl/octree_pointcloud.hpp
  recognition/include/pcl/recognition/impl/hv/hv_go.hpp
  registration/include/pcl/registration/correspondence_rejection_features.h
  registration/include/pcl/registration/correspondence_rejection_sample_consensus.h
  registration/include/pcl/registration/gicp.h
  registration/include/pcl/registration/impl/correspondence_estimation_backprojection.hpp
  registration/include/pcl/registration/impl/correspondence_rejection_sample_consensus_2d.hpp
  registration/include/pcl/registration/impl/gicp.hpp
  registration/include/pcl/registration/impl/ia_fpcs.hpp
  registration/include/pcl/registration/impl/ia_ransac.hpp
  registration/include/pcl/registration/impl/sample_consensus_prerejective.hpp
  registration/include/pcl/registration/impl/transformation_estimation_point_to_plane_lls_weighted.hpp
  registration/include/pcl/registration/impl/transformation_estimation_point_to_plane_weighted.hpp
  registration/include/pcl/registration/impl/transformation_validation_euclidean.hpp
  registration/include/pcl/registration/transformation_estimation_point_to_plane_lls_weighted.h
  registration/include/pcl/registration/transformation_estimation_point_to_plane_weighted.h
  registration/src/gicp6d.cpp
  segmentation/include/pcl/segmentation/impl/conditional_euclidean_clustering.hpp
  segmentation/include/pcl/segmentation/impl/extract_clusters.hpp
  segmentation/include/pcl/segmentation/impl/grabcut_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/region_growing.hpp
  segmentation/include/pcl/segmentation/impl/region_growing_rgb.hpp
  segmentation/include/pcl/segmentation/region_growing.h
  segmentation/include/pcl/segmentation/region_growing_rgb.h
  surface/include/pcl/surface/gp3.h
  surface/include/pcl/surface/impl/gp3.hpp
  test/gpu/octree/perfomance.cpp
  test/gpu/octree/test_approx_nearest.cpp
  test/gpu/octree/test_host_radius_search.cpp
  test/gpu/octree/test_knn_search.cpp
  tools/obj_rec_ransac_result.cpp
  tools/octree_viewer.cpp
  visualization/include/pcl/visualization/impl/pcl_visualizer.hpp
Labels: needs: code review

#4776 [docs] Updated binaries doc
  doc/tutorials/content/walkthrough.rst
Labels: module: tutorials

#4777 list of supported boost versions updated to include latest 1.76.0
  PCLConfig.cmake.in
  cmake/pcl_find_boost.cmake
Labels: module: cmake
