Repository PointCloudLibrary/pcl, pull requests merged in 2021-01, with the labels that each got.

#4565 [features] Use more pcl::Indices
  features/include/pcl/features/board.h
  features/include/pcl/features/boundary.h
  features/include/pcl/features/cvfh.h
  features/include/pcl/features/feature.h
  features/include/pcl/features/impl/3dsc.hpp
  features/include/pcl/features/impl/board.hpp
  features/include/pcl/features/impl/boundary.hpp
  features/include/pcl/features/impl/cvfh.hpp
  features/include/pcl/features/impl/feature.hpp
  features/include/pcl/features/impl/flare.hpp
  features/include/pcl/features/impl/fpfh.hpp
  features/include/pcl/features/impl/fpfh_omp.hpp
  features/include/pcl/features/impl/intensity_gradient.hpp
  features/include/pcl/features/impl/intensity_spin.hpp
  features/include/pcl/features/impl/moment_invariants.hpp
  features/include/pcl/features/impl/moment_of_inertia_estimation.hpp
  features/include/pcl/features/impl/normal_3d.hpp
  features/include/pcl/features/impl/normal_3d_omp.hpp
  features/include/pcl/features/impl/normal_based_signature.hpp
  features/include/pcl/features/impl/our_cvfh.hpp
  features/include/pcl/features/impl/pfh.hpp
  features/include/pcl/features/impl/pfhrgb.hpp
  features/include/pcl/features/impl/ppfrgb.hpp
  features/include/pcl/features/impl/principal_curvatures.hpp
  features/include/pcl/features/impl/rift.hpp
  features/include/pcl/features/impl/rops_estimation.hpp
  features/include/pcl/features/impl/rsd.hpp
  features/include/pcl/features/impl/shot.hpp
  features/include/pcl/features/impl/shot_lrf.hpp
  features/include/pcl/features/impl/shot_lrf_omp.hpp
  features/include/pcl/features/impl/shot_omp.hpp
  features/include/pcl/features/impl/spin_image.hpp
  features/include/pcl/features/impl/statistical_multiscale_interest_region_extraction.hpp
  features/include/pcl/features/impl/usc.hpp
  features/include/pcl/features/impl/vfh.hpp
  features/include/pcl/features/intensity_gradient.h
  features/include/pcl/features/intensity_spin.h
  features/include/pcl/features/moment_invariants.h
  features/include/pcl/features/narf_descriptor.h
  features/include/pcl/features/normal_3d.h
  features/include/pcl/features/our_cvfh.h
  features/include/pcl/features/pfh.h
  features/include/pcl/features/pfhrgb.h
  features/include/pcl/features/principal_curvatures.h
  features/include/pcl/features/rift.h
  features/include/pcl/features/rops_estimation.h
  features/include/pcl/features/rsd.h
  features/include/pcl/features/shot.h
  features/include/pcl/features/statistical_multiscale_interest_region_extraction.h
  features/include/pcl/features/vfh.h
  features/src/narf.cpp
Labels: module: features

#4562 [apps] Replace std::stringstream by std::string, part 2
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_classifier.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_cvfh.hpp
Labels: module: apps

#4571 Add missing include to nurbs_solve_umfpack.cpp
  surface/src/on_nurbs/nurbs_solve_umfpack.cpp
Labels: changelog: fix, module: surface

#4567 [test] Replace std::stringstream by std::string
  test/geometry/test_quad_mesh.cpp
Labels: module: test

#4539 [registration] Correct documentation in ia_fpcs
  registration/include/pcl/registration/ia_fpcs.h
Labels: module: registration, needs: code review

#4556 Filters: fix wrong initialization of covariance in VoxelGridCovariance
  filters/include/pcl/filters/voxel_grid_covariance.h
Labels: changelog: fix, module: filters, needs: code review

#4568 [surface] Use more pcl::Indices and pcl::index_t
  surface/include/pcl/surface/grid_projection.h
  surface/include/pcl/surface/impl/concave_hull.hpp
  surface/include/pcl/surface/impl/gp3.hpp
  surface/include/pcl/surface/impl/grid_projection.hpp
  surface/include/pcl/surface/impl/marching_cubes_hoppe.hpp
  surface/include/pcl/surface/impl/mls.hpp
  surface/include/pcl/surface/impl/surfel_smoothing.hpp
  surface/include/pcl/surface/impl/texture_mapping.hpp
  surface/include/pcl/surface/mls.h
  surface/include/pcl/surface/on_nurbs/sequential_fitter.h
  surface/include/pcl/surface/simplification_remove_unused_vertices.h
  surface/include/pcl/surface/texture_mapping.h
  surface/src/on_nurbs/sequential_fitter.cpp
Labels: module: surface, needs: code review

#4570 [ml] Fix un-initialized centroids bug (k-means)
  ml/src/kmeans.cpp
  test/CMakeLists.txt
  test/ml/CMakeLists.txt
  test/ml/test_kmeans.cpp
Labels: changelog: fix, module: ml, needs: code review

#4549 tar xvfj cannot work for xxx.tar.gz
  doc/tutorials/content/compiling_pcl_posix.rst
Labels: module: tutorials

#4551 Make euclidean clustering with normals faster
  segmentation/include/pcl/segmentation/extract_clusters.h
Labels: changelog: enhancement, module: segmentation, needs: code review

#4574 [test] Use more pcl::Indices and pcl::index_t
  test/common/test_io.cpp
  test/features/test_base_feature.cpp
  test/features/test_board_estimation.cpp
  test/features/test_boundary_estimation.cpp
  test/features/test_curvatures_estimation.cpp
  test/features/test_cvfh_estimation.cpp
  test/features/test_flare_estimation.cpp
  test/features/test_grsd_estimation.cpp
  test/features/test_invariants_estimation.cpp
  test/features/test_normal_estimation.cpp
  test/features/test_pfh_estimation.cpp
  test/features/test_rsd_estimation.cpp
  test/features/test_shot_estimation.cpp
  test/features/test_shot_lrf_estimation.cpp
  test/features/test_spin_estimation.cpp
  test/filters/test_clipper.cpp
  test/filters/test_filters.cpp
  test/filters/test_model_outlier_removal.cpp
  test/io/test_io.cpp
  test/kdtree/test_kdtree.cpp
  test/keypoints/test_keypoints.cpp
  test/recognition/test_recognition_cg.cpp
  test/sample_consensus/test_sample_consensus_line_models.cpp
  test/sample_consensus/test_sample_consensus_plane_models.cpp
  test/sample_consensus/test_sample_consensus_quadric_models.cpp
  test/search/test_flann_search.cpp
  test/search/test_kdtree.cpp
  test/search/test_octree.cpp
  test/search/test_search.cpp
Labels: module: test, needs: code review

#4550 Sample consensus: solve maybe-uninitialized warning in line model
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_line.hpp
Labels: module: sample_consensus, needs: code review

#4553 Reduce code duplication
  visualization/include/pcl/visualization/impl/pcl_visualizer.hpp
Labels: module: visualization
