Repository PointCloudLibrary/pcl, pull requests merged in 2021-09, with the labels that each got.

#4921 Remove declaration of updateCamera
  visualization/include/pcl/visualization/pcl_visualizer.h
Labels: module: visualization, changelog: fix

#4932 Minor indentation fix
  filters/include/pcl/filters/voxel_grid.h
Labels: module: filters

#4934 fix: max_id size should be equal to histogram.size() - 1
  common/src/feature_histogram.cpp
Labels: module: common, changelog: fix

#4925 Deprecate the cuda VoxelGrid filter
  cuda/filters/include/pcl/cuda/filters/voxel_grid.h
Labels: module: cuda

#4922 Fix doxylink, and doxygen, rst warnings
  doc/advanced/content/conf.py
  doc/tutorials/content/conf.py
  doc/tutorials/content/davidsdk.rst
  doc/tutorials/content/index.rst
  doc/tutorials/content/rops_feature.rst
  doc/tutorials/content/using_pcl_pcl_config.rst
  doc/tutorials/content/writing_new_classes.rst
  gpu/containers/include/pcl/gpu/containers/device_memory.h
  io/include/pcl/io/real_sense_2_grabber.h
  kdtree/include/pcl/kdtree/kdtree_flann.h
  octree/include/pcl/octree/octree_iterator.h
  registration/include/pcl/registration/gicp6d.h
  surface/include/pcl/surface/mls.h
Labels: module: docs

#4937 Modified eigen value error check in VoxelGridCovariance::applyFilter …
  filters/include/pcl/filters/impl/voxel_grid_covariance.hpp
Labels: module: filters

#4880 [cmake] Correct the documentation for `PCL_MAKE_PKGCONFIG`
  cmake/pcl_targets.cmake
Labels: module: cmake

#4938 Added reserve function before storing points in PointCloud in VoxelGr…
  filters/include/pcl/filters/impl/voxel_grid_covariance.hpp
Labels: module: filters

#4956 Add `PCL_MAKE_ALIGNED_OPERATOR_NEW` to CropBox for better Eigen support
  filters/include/pcl/filters/crop_box.h
Labels: module: filters, changelog: fix

#4935 Remove casts, use more auto and uindex_t in conversions.h
  common/include/pcl/conversions.h
Labels: module: common
