Repository PointCloudLibrary/pcl, pull requests merged in 2021-02, with the labels that each got.

#4590 [Docker] Install xvfb to enable visualization test.
  .dev/docker/env/Dockerfile
Labels: module: ci

#4581 Prevent segfault in vtk2mesh
  io/src/vtk_lib_io.cpp
Labels: changelog: fix, module: io

#4505 MLS: correct typo in `principle` by using `principal` instead
  surface/include/pcl/surface/impl/mls.hpp
  surface/include/pcl/surface/mls.h
Labels: changelog: deprecation, module: surface, needs: code review

#4527 [Test] Add test to visualizer
  test/visualization/test_visualization.cpp
Labels: module: test

#4566 Prevent exception in PCDReader for misformed PCD files
  io/src/pcd_io.cpp
Labels: changelog: fix, module: io, needs: code review

#4593 [common] Reduce code duplication
  common/include/pcl/common/impl/common.hpp
  common/include/pcl/common/impl/io.hpp
  test/common/test_common.cpp
Labels: module: common, needs: code review

#4599 Use better for-loops
  doc/tutorials/content/sources/conditional_euclidean_clustering/conditional_euclidean_clustering.cpp
  features/include/pcl/features/impl/fpfh_omp.hpp
  features/include/pcl/features/impl/statistical_multiscale_interest_region_extraction.hpp
  keypoints/include/pcl/keypoints/impl/harris_3d.hpp
  keypoints/include/pcl/keypoints/impl/harris_6d.hpp
  keypoints/include/pcl/keypoints/impl/iss_3d.hpp
  keypoints/include/pcl/keypoints/impl/smoothed_surfaces_keypoint.hpp
  registration/include/pcl/registration/impl/lum.hpp
  segmentation/include/pcl/segmentation/impl/min_cut_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/region_growing.hpp
  segmentation/include/pcl/segmentation/impl/region_growing_rgb.hpp
  simulation/src/model.cpp
  test/kdtree/test_kdtree.cpp
  test/search/test_kdtree.cpp
  tools/outlier_removal.cpp
Labels: needs: code review

#4510 Update the CI to move ahead on the ubuntu versions
  .ci/azure-pipelines/azure-pipelines.yaml
  cmake/pcl_targets.cmake
  common/include/pcl/common/io.h
  common/src/io.cpp
  io/src/real_sense_2_grabber.cpp
  keypoints/include/pcl/keypoints/impl/harris_3d.hpp
  registration/include/pcl/registration/impl/ppf_registration.hpp
  surface/src/on_nurbs/sparse_mat.cpp
  test/sample_consensus/test_sample_consensus_plane_models.cpp
Labels: module: ci

#4609 Replace std::stringstream by std::string [surface]
  surface/include/pcl/surface/impl/texture_mapping.hpp
Labels: module: surface

#4614 PPFRegistration: remove cast to eliminate sign-compare-warning
  registration/include/pcl/registration/impl/ppf_registration.hpp
Labels: module: registration

#4397 [common] Add more operators to `PointCloud` to prevent perf regression in refactoring
  common/include/pcl/point_cloud.h
Labels: changelog: enhancement, module: common, needs: code review

#4488 Make sure that organized point clouds are still organized after transformPointCloud
  common/include/pcl/common/impl/transforms.hpp
  test/common/test_transforms.cpp
Labels: changelog: fix, module: common, needs: code review

#4575 [sample_consensus] Fix and improve MLESAC
  common/include/pcl/common/common.h
  sample_consensus/include/pcl/sample_consensus/impl/lmeds.hpp
  sample_consensus/include/pcl/sample_consensus/impl/mlesac.hpp
  test/common/test_common.cpp
Labels: changelog: enhancement, changelog: fix, module: sample_consensus
