Repository PointCloudLibrary/pcl, pull requests merged in 2021-11, with the labels that each got.

#4429 Add a grabber for SICK 2D LiDAR: tim
  io/CMakeLists.txt
  io/include/pcl/io/tim_grabber.h
  io/src/tim_grabber.cpp
  test/io/CMakeLists.txt
  test/io/test_tim_grabber.cpp
Labels: changelog: new feature, module: io

#5010 Improve correspondence grouping tutorial
  doc/tutorials/content/correspondence_grouping.rst
Labels: module: tutorials

#5020 Corrected cos_angle calculation from rotation matrix in ndt.hpp. (#5016)
  registration/include/pcl/registration/impl/ndt.hpp
Labels: module: registration

#5022 Add support for Visual Studio 2022
  CMakeLists.txt
  cmake/pcl_cpack.cmake
Labels: module: cmake

#5018 Update one macOS CI from 10.14 to 11
  .ci/azure-pipelines/azure-pipelines.yaml
  README.md
Labels: module: ci

#5000 Link to missing boost date_time
  io/tools/CMakeLists.txt
  tools/CMakeLists.txt
Labels: changelog: fix

#5037 Require sphinx>=3 to fix errors on readthedocs
  doc/requirements.txt
Labels: module: docs, changelog: fix

#5033 PLY parser: accept files with whitespace at line end
  io/src/ply/ply_parser.cpp
Labels: module: io

#5026 [pcl_cuda_common] Export the pkgconfig file
  cuda/common/CMakeLists.txt
Labels: module: cmake

#5005 Update Qt tutorials with VTK9
  doc/tutorials/content/qt_colorize_cloud.rst
  doc/tutorials/content/qt_visualizer.rst
  doc/tutorials/content/sources/qt_colorize_cloud/pclviewer.cpp
  doc/tutorials/content/sources/qt_colorize_cloud/pclviewer.h
  doc/tutorials/content/sources/qt_colorize_cloud/pclviewer.ui
  doc/tutorials/content/sources/qt_visualizer/pclviewer.cpp
  doc/tutorials/content/sources/qt_visualizer/pclviewer.h
  doc/tutorials/content/sources/qt_visualizer/pclviewer.ui
Labels: module: tutorials

#4983 Fix inaccurate covariance matrix computation
  common/include/pcl/common/impl/centroid.hpp
  sample_consensus/include/pcl/sample_consensus/sac_model_registration.h
  test/features/test_normal_estimation.cpp
  test/filters/test_sampling.cpp
  test/sample_consensus/test_sample_consensus_plane_models.cpp
Labels: needs: code review, module: common, changelog: fix

#4969 Support of Qt6 besides Qt5 #4959
  CMakeLists.txt
  apps/CMakeLists.txt
  apps/cloud_composer/CMakeLists.txt
  apps/cloud_composer/ComposerTool.cmake
  apps/in_hand_scanner/CMakeLists.txt
  apps/modeler/CMakeLists.txt
  apps/point_cloud_editor/CMakeLists.txt
  cmake/pcl_find_qt.cmake
  doc/tutorials/content/sources/qt_colorize_cloud/CMakeLists.txt
  doc/tutorials/content/sources/qt_visualizer/CMakeLists.txt
Labels: module: cmake

#4996 Update PCLConfig.cmake.in to 3.10 for default policy.
  PCLConfig.cmake.in
Labels: changelog: behavior change, module: cmake

#5015 Link to specific libraries for IO, Surface and visualization.
  apps/CMakeLists.txt
  apps/cloud_composer/CMakeLists.txt
  apps/modeler/CMakeLists.txt
  cmake/pcl_find_vtk.cmake
  gpu/kinfu/CMakeLists.txt
  gpu/kinfu_large_scale/CMakeLists.txt
  io/CMakeLists.txt
  people/CMakeLists.txt
  surface/CMakeLists.txt
  test/people/CMakeLists.txt
  test/people/test_people_groundBasedPeopleDetectionApp.cpp
  tools/CMakeLists.txt
  tools/tiff2pcd.cpp
  visualization/CMakeLists.txt
Labels: module: cmake

#4979 fix uninitialized warning
  common/src/fft/kiss_fft.c
Labels: module: common

#5049 Fix duplicate definition error in mls
  surface/include/pcl/surface/impl/mls.hpp
  surface/src/mls.cpp
Labels: module: surface, changelog: fix
