Repository PointCloudLibrary/pcl, pull requests merged in 2021-04, with the labels that each got.

#4681 [tracking] pyramidal klt: switch keypoints_status_ to int vector
  apps/src/openni_klt.cpp
  tracking/include/pcl/tracking/impl/pyramidal_klt.hpp
  tracking/include/pcl/tracking/pyramidal_klt.h
Labels: changelog: deprecation, module: apps, module: tracking

#4685 [tracking] made ParticleFilterTracker API user friendly
  tracking/include/pcl/tracking/particle_filter.h
Labels: module: tracking

#4675 [GPU] MSVC / CUDA fix
  gpu/octree/src/utils/morton.hpp
Labels: module: gpu

#4688 Remove everything deprecated for version 1.12
  common/include/pcl/common/io.h
  common/src/io.cpp
  io/include/pcl/io/grabber.h
  kdtree/CMakeLists.txt
  kdtree/include/pcl/kdtree/flann.h
  keypoints/include/pcl/keypoints/uniform_sampling.h
  test/common/test_io.cpp
  tracking/include/pcl/tracking/boost.h
Labels: changelog: deprecation, changelog: removal

#4282 Add access to boxSearch
  search/include/pcl/search/octree.h
Labels: changelog: enhancement, module: search, needs: more work

#4648 [geometry] Update mesh_indices.h to not need a generator file
  geometry/include/pcl/geometry/mesh_indices.h
  geometry/include/pcl/geometry/mesh_indices.py
Labels: module: geometry, needs: more work

#4531 add ellipsoid shape to pcl_visualizer
  cmake/pcl_find_vtk.cmake
  visualization/CMakeLists.txt
  visualization/include/pcl/visualization/common/shapes.h
  visualization/include/pcl/visualization/pcl_visualizer.h
  visualization/src/common/shapes.cpp
  visualization/src/pcl_visualizer.cpp
Labels: changelog: new feature, module: visualization

#4640 Move the init of static variables to library load time
  common/include/pcl/common/colors.h
  features/include/pcl/features/impl/shot.hpp
  features/include/pcl/features/shot.h
  registration/src/gicp6d.cpp
Labels: changelog: ABI break, changelog: fix, module: features

#4598 [CMake] Add AVX for windows
  CMakeLists.txt
  cmake/pcl_find_avx.cmake
  cmake/pcl_options.cmake
Labels: changelog: enhancement, module: cmake

#4678 Improve documentation, fix warnings
  common/include/pcl/common/common.h
  common/include/pcl/point_cloud.h
  doc/advanced/content/c_cache.rst
  doc/tutorials/content/function_filter.rst
  doc/tutorials/content/how_features_work.rst
  doc/tutorials/content/random_sample_consensus.rst
  gpu/octree/include/pcl/gpu/octree/octree.hpp
  registration/include/pcl/registration/correspondence_estimation_organized_projection.h
  registration/include/pcl/registration/gicp.h
  registration/include/pcl/registration/transformation_estimation.h
  registration/include/pcl/registration/transformation_estimation_2D.h
  registration/include/pcl/registration/transformation_estimation_3point.h
  registration/include/pcl/registration/transformation_estimation_dq.h
  registration/include/pcl/registration/transformation_estimation_dual_quaternion.h
  registration/include/pcl/registration/transformation_estimation_lm.h
  registration/include/pcl/registration/transformation_estimation_point_to_plane_lls.h
  registration/include/pcl/registration/transformation_estimation_point_to_plane_lls_weighted.h
  registration/include/pcl/registration/transformation_estimation_point_to_plane_weighted.h
  registration/include/pcl/registration/transformation_estimation_svd.h
  registration/include/pcl/registration/transformation_estimation_symmetric_point_to_plane_lls.h
  segmentation/include/pcl/segmentation/extract_labeled_clusters.h
Labels: module: docs

#4596 [CMake] Add SSE definitions for SSE 4.1 and 4.2
  CMakeLists.txt
  cmake/pcl_find_sse.cmake
Labels: changelog: enhancement, module: cmake

#4650 Add deprecation for incorrectly installed headers
  recognition/CMakeLists.txt
  recognition/include/pcl/recognition/auxiliary.h
  recognition/include/pcl/recognition/bvh.h
  recognition/include/pcl/recognition/hypothesis.h
  recognition/include/pcl/recognition/impl/line_rgbd.hpp
  recognition/include/pcl/recognition/impl/simple_octree.hpp
  recognition/include/pcl/recognition/impl/voxel_structure.hpp
  recognition/include/pcl/recognition/line_rgbd.h
  recognition/include/pcl/recognition/model_library.h
  recognition/include/pcl/recognition/obj_rec_ransac.h
  recognition/include/pcl/recognition/orr_graph.h
  recognition/include/pcl/recognition/orr_octree.h
  recognition/include/pcl/recognition/orr_octree_zprojection.h
  recognition/include/pcl/recognition/rigid_transform_space.h
  recognition/include/pcl/recognition/simple_octree.h
  recognition/include/pcl/recognition/trimmed_icp.h
  recognition/include/pcl/recognition/voxel_structure.h
Labels: changelog: deprecation, module: recognition

#4704 Consistently use lowercase for headers and libs for Windows
  io/include/pcl/io/low_level_io.h
  surface/CMakeLists.txt
Labels: platform: windows

#4708 Alias `ssize_t` to `SSIZE_T` only for MSVC (fix for mingw)
  io/include/pcl/io/low_level_io.h
Labels: module: io, platform: windows

#3976 Adding tests for CropHull and using hull_cloud instead of input in getHullCloudRange
  filters/include/pcl/filters/impl/crop_hull.hpp
  test/filters/CMakeLists.txt
  test/filters/test_crop_hull.cpp
Labels: changelog: fix, module: filters

#4691 [CI] Exclude doc files from CI to save CI time
  .ci/azure-pipelines/azure-pipelines.yaml
  .ci/azure-pipelines/docs-pipeline.yaml
Labels: module: ci

#4710 [GPU] More std::floor to floorf fixes.
  gpu/features/src/fpfh.cu
  gpu/features/src/pfh.cu
  gpu/features/src/spinimages.cu
  gpu/features/src/vfh.cu
Labels: module: gpu

#4697 Enable more warnings on tutorial CI
  .ci/scripts/build_tutorials.sh
  doc/tutorials/content/sources/bare_earth/bare_earth.cpp
  doc/tutorials/content/sources/concatenate_fields/concatenate_fields.cpp
  doc/tutorials/content/sources/concatenate_points/concatenate_points.cpp
  doc/tutorials/content/sources/concave_hull_2d/concave_hull_2d.cpp
  doc/tutorials/content/sources/conditional_euclidean_clustering/conditional_euclidean_clustering.cpp
  doc/tutorials/content/sources/conditional_removal/conditional_removal.cpp
  doc/tutorials/content/sources/convex_hull_2d/convex_hull_2d.cpp
  doc/tutorials/content/sources/cylinder_segmentation/cylinder_segmentation.cpp
  doc/tutorials/content/sources/extract_indices/extract_indices.cpp
  doc/tutorials/content/sources/function_filter/sphere_removal.cpp
  doc/tutorials/content/sources/global_hypothesis_verification/global_hypothesis_verification.cpp
  doc/tutorials/content/sources/greedy_projection/greedy_projection.cpp
  doc/tutorials/content/sources/iccv2011/include/feature_estimation.h
  doc/tutorials/content/sources/iccv2011/src/build_all_object_models.cpp
  doc/tutorials/content/sources/iccv2011/src/build_object_model.cpp
  doc/tutorials/content/sources/iccv2011/src/correspondence_viewer.cpp
  doc/tutorials/content/sources/iccv2011/src/openni_capture.cpp
  doc/tutorials/content/sources/iccv2011/src/test_object_recognition.cpp
  doc/tutorials/content/sources/iccv2011/src/tutorial.cpp
  doc/tutorials/content/sources/interactive_icp/interactive_icp.cpp
  doc/tutorials/content/sources/iros2011/include/object_recognition.h
  doc/tutorials/content/sources/iros2011/include/solution/feature_estimation.h
  doc/tutorials/content/sources/iros2011/include/surface.h
  doc/tutorials/content/sources/iros2011/src/build_all_object_models.cpp
  doc/tutorials/content/sources/iros2011/src/build_object_model.cpp
  doc/tutorials/content/sources/iros2011/src/correspondence_viewer.cpp
  doc/tutorials/content/sources/iros2011/src/openni_capture.cpp
  doc/tutorials/content/sources/iros2011/src/test_object_recognition.cpp
  doc/tutorials/content/sources/iterative_closest_point/iterative_closest_point.cpp
  doc/tutorials/content/sources/kdtree_search/kdtree_search.cpp
  doc/tutorials/content/sources/min_cut_segmentation/min_cut_segmentation.cpp
  doc/tutorials/content/sources/model_outlier_removal/model_outlier_removal.cpp
  doc/tutorials/content/sources/narf_descriptor_visualization/narf_descriptor_visualization.cpp
  doc/tutorials/content/sources/normal_distributions_transform/normal_distributions_transform.cpp
  doc/tutorials/content/sources/octree_change_detection/octree_change_detection.cpp
  doc/tutorials/content/sources/octree_search/octree_search.cpp
  doc/tutorials/content/sources/openni_narf_keypoint_extraction/openni_narf_keypoint_extraction.cpp
  doc/tutorials/content/sources/openni_range_image_visualization/openni_range_image_visualization.cpp
  doc/tutorials/content/sources/passthrough/passthrough.cpp
  doc/tutorials/content/sources/pcd_read/pcd_read.cpp
  doc/tutorials/content/sources/pcd_write/pcd_write.cpp
  doc/tutorials/content/sources/pcl_painter2D/pcl_painter2D_demo.cpp
  doc/tutorials/content/sources/pcl_plotter/pcl_plotter_demo.cpp
  doc/tutorials/content/sources/planar_segmentation/planar_segmentation.cpp
  doc/tutorials/content/sources/point_cloud_compression/point_cloud_compression.cpp
  doc/tutorials/content/sources/project_inliers/project_inliers.cpp
  doc/tutorials/content/sources/qt_colorize_cloud/pclviewer.cpp
  doc/tutorials/content/sources/radius_outlier_removal/radius_outlier_removal.cpp
  doc/tutorials/content/sources/random_sample_consensus/random_sample_consensus.cpp
  doc/tutorials/content/sources/range_image_creation/range_image_creation.cpp
  doc/tutorials/content/sources/region_growing_rgb_segmentation/region_growing_rgb_segmentation.cpp
  doc/tutorials/content/sources/region_growing_segmentation/region_growing_segmentation.cpp
  doc/tutorials/content/sources/registration_api/example2.cpp
  doc/tutorials/content/sources/resampling/resampling.cpp
  doc/tutorials/content/sources/statistical_removal/statistical_removal.cpp
  doc/tutorials/content/sources/voxel_grid/voxel_grid.cpp
Labels: module: ci, module: docs

#4431 Suppress cmake warnings for pcl modules
  PCLConfig.cmake.in
Labels: module: cmake, needs: code review

#4728 [GPU_Octree]Add missing include GPU Octree test
  test/gpu/octree/test_approx_nearest.cpp
Labels: changelog: fix, module: test, platform: windows

#4711 [Registration] Skip non-finite points for Pyramid Feature Matching
  common/include/pcl/common/point_tests.h
  registration/include/pcl/registration/impl/pyramid_feature_matching.hpp
  test/registration/test_registration.cpp
Labels: changelog: fix, module: registration

#4720 [features] Use correct cloud for checking finite-ness in fpfh
  features/include/pcl/features/impl/fpfh_omp.hpp
Labels: changelog: fix, module: features

#4727 [I/O] Fix addition of Carriage Return to PCD files.
  io/include/pcl/io/impl/pcd_io.hpp
  io/src/pcd_io.cpp
Labels: changelog: fix, module: io

#4196 [GPU] Export and template extract clusters
  gpu/segmentation/CMakeLists.txt
  gpu/segmentation/include/pcl/gpu/segmentation/gpu_extract_clusters.h
  gpu/segmentation/include/pcl/gpu/segmentation/gpu_extract_labeled_clusters.h
  gpu/segmentation/include/pcl/gpu/segmentation/gpu_seeded_hue_segmentation.h
  gpu/segmentation/include/pcl/gpu/segmentation/impl/gpu_extract_clusters.hpp
  gpu/segmentation/include/pcl/gpu/segmentation/impl/gpu_extract_labeled_clusters.hpp
  gpu/segmentation/src/extract_clusters.cpp
Labels: changelog: API break, module: gpu
