Repository PointCloudLibrary/pcl, pull requests merged in 2021-03, with the labels that each got.

#4627 Add missing SSE and AVX includes
  common/include/pcl/common/common.h
  sample_consensus/include/pcl/sample_consensus/sac_model_circle.h
  sample_consensus/include/pcl/sample_consensus/sac_model_plane.h
  sample_consensus/include/pcl/sample_consensus/sac_model_sphere.h
Labels: changelog: fix

#4632 Correct documentation in icp.h
  registration/include/pcl/registration/icp.h
Labels: module: registration

#4634 Applying clang-format to geometry module
  .dev/format.sh
  geometry/include/pcl/geometry/boost.h
  geometry/include/pcl/geometry/eigen.h
  geometry/include/pcl/geometry/get_boundary.h
  geometry/include/pcl/geometry/impl/polygon_operations.hpp
  geometry/include/pcl/geometry/line_iterator.h
  geometry/include/pcl/geometry/mesh_base.h
  geometry/include/pcl/geometry/mesh_circulators.h
  geometry/include/pcl/geometry/mesh_conversion.h
  geometry/include/pcl/geometry/mesh_elements.h
  geometry/include/pcl/geometry/mesh_indices.h
  geometry/include/pcl/geometry/mesh_indices.py
  geometry/include/pcl/geometry/mesh_io.h
  geometry/include/pcl/geometry/mesh_traits.h
  geometry/include/pcl/geometry/organized_index_iterator.h
  geometry/include/pcl/geometry/planar_polygon.h
  geometry/include/pcl/geometry/polygon_mesh.h
  geometry/include/pcl/geometry/polygon_operations.h
  geometry/include/pcl/geometry/quad_mesh.h
  geometry/include/pcl/geometry/triangle_mesh.h
Labels: module: geometry

#4628 Deprecate unneeded meta-headers
  common/include/pcl/common/boost.h
  features/include/pcl/features/boost.h
  features/include/pcl/features/boundary.h
  features/include/pcl/features/eigen.h
  features/include/pcl/features/impl/statistical_multiscale_interest_region_extraction.hpp
  features/include/pcl/features/narf.h
  features/include/pcl/features/principal_curvatures.h
  filters/include/pcl/filters/boost.h
  geometry/include/pcl/geometry/eigen.h
  io/include/pcl/io/eigen.h
  octree/include/pcl/octree/boost.h
  recognition/include/pcl/recognition/boost.h
  registration/include/pcl/registration/correspondence_rejection_distance.h
  registration/include/pcl/registration/correspondence_rejection_median_distance.h
  registration/include/pcl/registration/correspondence_rejection_one_to_one.h
  registration/include/pcl/registration/correspondence_rejection_organized_boundary.h
  registration/include/pcl/registration/correspondence_rejection_surface_normal.h
  registration/include/pcl/registration/correspondence_rejection_trimmed.h
  registration/include/pcl/registration/correspondence_rejection_var_trimmed.h
  registration/include/pcl/registration/eigen.h
  registration/include/pcl/registration/impl/correspondence_rejection_distance.hpp
  registration/include/pcl/registration/impl/correspondence_rejection_median_distance.hpp
  registration/include/pcl/registration/impl/correspondence_rejection_one_to_one.hpp
  registration/include/pcl/registration/impl/correspondence_rejection_organized_boundary.hpp
  registration/include/pcl/registration/impl/correspondence_rejection_surface_normal.hpp
  registration/include/pcl/registration/impl/correspondence_rejection_trimmed.hpp
  registration/include/pcl/registration/impl/correspondence_rejection_var_trimmed.hpp
  sample_consensus/include/pcl/sample_consensus/boost.h
  surface/include/pcl/surface/boost.h
  surface/include/pcl/surface/eigen.h
  visualization/include/pcl/visualization/eigen.h
Labels: changelog: deprecation

#4483 Refactor cmake find script of libusb
  CMakeLists.txt
  PCLConfig.cmake.in
  apps/3d_rec_framework/CMakeLists.txt
  apps/CMakeLists.txt
  cmake/Modules/FindOpenNI.cmake
  cmake/Modules/FindOpenNI2.cmake
  cmake/Modules/Findlibusb-1.0.cmake
  cmake/Modules/Findlibusb.cmake
  io/CMakeLists.txt
Labels: changelog: enhancement, module: cmake, needs: more work

#4597 Fix and improve documentation
  doc/tutorials/content/function_filter.rst
  doc/tutorials/content/gpu_people.rst
  sample_consensus/sample_consensus.doxy
  surface/include/pcl/surface/reconstruction.h
Labels: module: docs

#4404 [CI] Make CI find test.xml again.
  .ci/azure-pipelines/build/windows.yaml
Labels: module: ci

#4350 Enable arbitary size Indices for Octree module
  .ci/azure-pipelines/build/ubuntu_indices.yaml
  common/include/pcl/common/io.h
  common/src/io.cpp
  io/include/pcl/compression/color_coding.h
  io/include/pcl/compression/impl/octree_pointcloud_compression.hpp
  io/include/pcl/compression/octree_pointcloud_compression.h
  io/include/pcl/compression/point_coding.h
  kdtree/include/pcl/kdtree/impl/io.hpp
  kdtree/include/pcl/kdtree/impl/kdtree_flann.hpp
  kdtree/include/pcl/kdtree/io.h
  kdtree/include/pcl/kdtree/kdtree.h
  kdtree/include/pcl/kdtree/kdtree_flann.h
  octree/include/pcl/octree/impl/octree2buf_base.hpp
  octree/include/pcl/octree/impl/octree_base.hpp
  octree/include/pcl/octree/impl/octree_iterator.hpp
  octree/include/pcl/octree/impl/octree_pointcloud.hpp
  octree/include/pcl/octree/impl/octree_pointcloud_adjacency.hpp
  octree/include/pcl/octree/impl/octree_pointcloud_voxelcentroid.hpp
  octree/include/pcl/octree/impl/octree_search.hpp
  octree/include/pcl/octree/octree2buf_base.h
  octree/include/pcl/octree/octree_base.h
  octree/include/pcl/octree/octree_container.h
  octree/include/pcl/octree/octree_iterator.h
  octree/include/pcl/octree/octree_key.h
  octree/include/pcl/octree/octree_pointcloud.h
  octree/include/pcl/octree/octree_pointcloud_adjacency.h
  octree/include/pcl/octree/octree_pointcloud_adjacency_container.h
  octree/include/pcl/octree/octree_pointcloud_changedetector.h
  octree/include/pcl/octree/octree_pointcloud_density.h
  octree/include/pcl/octree/octree_pointcloud_voxelcentroid.h
  octree/include/pcl/octree/octree_search.h
  octree/src/octree_inst.cpp
  test/octree/test_octree.cpp
Labels: changelog: enhancement, module: io, module: octree, needs: code review

#4652 Cleaned a loop with for-range
  apps/src/openni_tracking.cpp
Labels: module: apps

#4654 Tests: use better asserts and expects
  test/filters/test_uniform_sampling.cpp
  test/io/test_ply_io.cpp
  test/octree/test_octree.cpp
  test/registration/test_registration.cpp
  test/search/test_flann_search.cpp
  test/search/test_kdtree.cpp
  test/search/test_octree.cpp
  test/search/test_organized.cpp
  test/search/test_organized_index.cpp
Labels: module: test

#4643 [tracking] Use SFINAE instead of relying on macro `PCL_TRACKING_NORMAL_SUPPORTED`
  tracking/include/pcl/tracking/impl/particle_filter.hpp
  tracking/include/pcl/tracking/particle_filter.h
  tracking/src/kld_adaptive_particle_filter.cpp
  tracking/src/particle_filter.cpp
Labels: changelog: ABI break, changelog: API break, module: tracking

#4524 Added fuzzer
  test/fuzz/build.sh
  test/fuzz/ply_reader_fuzzer.cpp
Labels: module: test

#4669 Adding README to explain LICENSE for metslib
  recognition/include/pcl/recognition/3rdparty/metslib/README.md
Labels: module: recognition

#4389 Fix application of setMinimumPointsNumberPerVoxel for PCLPointCloud2 implementation of VoxelGrid
  filters/src/voxel_grid.cpp
  test/filters/test_filters.cpp
Labels: changelog: fix, module: filters, needs: author reply

#4618 Add unit tests to new functions in PointCloud
  test/common/test_common.cpp
Labels: module: test

#4674 Refactor test_common to have a separate test_pointcloud
  common/include/pcl/point_cloud.h
  test/common/CMakeLists.txt
  test/common/test_common.cpp
  test/common/test_pointcloud.cpp
Labels: module: test

#4261 Improve logging in module `sample_consensus`
  sample_consensus/include/pcl/sample_consensus/impl/lmeds.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_circle.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_circle3d.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cone.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cylinder.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_line.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_normal_parallel_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_parallel_line.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_parallel_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_perpendicular_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_sphere.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_stick.hpp
Labels: changelog: enhancement, module: sample_consensus, needs: code review

#4657 Fix problems in octree search functions when using dynamic depth
  octree/include/pcl/octree/impl/octree_search.hpp
  test/octree/test_octree.cpp
Labels: changelog: fix, module: octree

#4682 [Apps] Only set QT_NO_DEBUG flag when in Release build
  apps/cloud_composer/ComposerTool.cmake
Labels: module: apps
