Repository PointCloudLibrary/pcl, pull requests merged in 2021-07, with the labels that each got.

#4833 [Benchmarks] Add approximate_voxel_grid and voxel_grid benchmarks
  benchmarks/CMakeLists.txt
  benchmarks/filters/voxel_grid.cpp
Labels: module: benchmarks

#4836 Fix normal distribution sigma value in VoxelGridCovariance::getDisplyCloud
  filters/include/pcl/filters/impl/voxel_grid_covariance.hpp
Labels: changelog: enhancement, module: filters

#4843 Optionally copy PDB files of pcl_libraries to install bin
  cmake/pcl_targets.cmake
Labels: module: cmake, needs: code review, platform: windows

#4851 Clear the output indices in function `CropHull::applyFilters`
  filters/include/pcl/filters/impl/crop_hull.hpp
  test/filters/test_crop_hull.cpp
Labels: changelog: fix, module: filters

#4844 Improve logging in `multi_grid_octree_data.hpp`
  surface/include/pcl/surface/3rdparty/poisson4/multi_grid_octree_data.hpp
Labels: changelog: fix, module: surface

#4845 [Filters] Fix unresolved linking to Convolution
  filters/include/pcl/filters/impl/convolution.hpp
  filters/src/convolution.cpp
Labels: changelog: fix, module: filters, platform: windows

#4853 Test ply reader for empty cloud and f64 points
  test/io/test_ply_io.cpp
Labels: changelog: enhancement, module: test

#4848 Add missing include of hpp file in flann_search.h
  search/include/pcl/search/flann_search.h
  test/search/test_flann_search.cpp
Labels: changelog: fix, module: search

#4858 wrap QMatrix in namespace pcl
  ml/src/svm.cpp
Labels: module: ml

#4863 Bugfix: Number of OpenMP threads was not validated, ...
  keypoints/include/pcl/keypoints/impl/iss_3d.hpp
  keypoints/include/pcl/keypoints/iss_3d.h
Labels: changelog: fix, module: keypoints

#4861 Add deprecation for filter getters with bool reference
  cuda/filters/include/pcl/cuda/filters/filter.h
  filters/include/pcl/filters/voxel_grid.h
Labels: changelog: deprecation, module: cuda, module: filters

#4698 [CMake] Add AVX for Linux & macos
  CMakeLists.txt
  PCLConfig.cmake.in
  cmake/pcl_find_avx.cmake
  cmake/pcl_find_sse.cmake
  cmake/pcl_options.cmake
  cmake/pcl_pclconfig.cmake
  pcl_config.h.in
Labels: changelog: enhancement, module: cmake, needs: code review
