Repository PointCloudLibrary/pcl, pull requests merged in 2021-06, with the labels that each got.

#4779 Add missing includes to density and singlepoint octree
  octree/include/pcl/octree/octree_pointcloud_density.h
  octree/include/pcl/octree/octree_pointcloud_singlepoint.h
Labels: module: octree

#4774 [io] Specify no face elements in PLY files (from point cloud) to make them interoperable with VTK
  io/src/ply_io.cpp
Labels: changelog: enhancement, module: io

#4784 PCLConfig.cmake.in edit for boost version to be same as the one in pcl_find_boost.cmake
  PCLConfig.cmake.in
  cmake/pcl_find_boost.cmake
Labels: module: cmake

#4772 Remove assumptions (used while packaging PCL) for `getMatrixXfMap` documentation
  common/include/pcl/point_cloud.h
Labels: module: common

#4769 [Apps] Update apps cmake qt usage
  CMakeLists.txt
  apps/CMakeLists.txt
  apps/cloud_composer/CMakeLists.txt
  apps/cloud_composer/ComposerTool.cmake
  apps/cloud_composer/include/pcl/apps/cloud_composer/cloud_composer.h
  apps/in_hand_scanner/CMakeLists.txt
  apps/include/pcl/apps/manual_registration.h
  apps/modeler/CMakeLists.txt
  apps/point_cloud_editor/CMakeLists.txt
  apps/src/manual_registration/manual_registration.cpp
Labels: module: apps

#4642 Octree2BufBase: Fix bug that contents from previous buffer appear in current buffer
  io/include/pcl/compression/octree_pointcloud_compression.h
  octree/include/pcl/octree/impl/octree2buf_base.hpp
  test/io/CMakeLists.txt
  test/io/test_octree_compression.cpp
Labels: changelog: ABI break, changelog: fix, module: octree

#4778 Replace deprecated random shuffle with shuffle
  recognition/include/pcl/recognition/3rdparty/metslib/model.hh
Labels: module: recognition

#4785 Add protected ctor and setter for now private data member
  filters/include/pcl/filters/experimental/functor_filter.h
Labels: module: filters

#4752 unit tests for constexpr static member functions of point types
  common/include/pcl/conversions.h
  common/include/pcl/impl/point_types.hpp
  test/common/CMakeLists.txt
  test/common/test_point_type_static_member_functions.cpp
Labels: needs: code review

#4799 Fix PointXYZRGBA ctor, set A as 255 by default
  common/include/pcl/impl/point_types.hpp
Labels: changelog: behavior change, module: common

#4788 Remove pseudo-template-instantiations in eigen.h to reduce compilation time
  common/include/pcl/common/eigen.h
Labels: changelog: enhancement, module: common

#4801 Enable Clang-Format on CI for ungrouped apps
  .dev/format.sh
  apps/include/pcl/apps/impl/dominant_plane_segmentation.hpp
  apps/include/pcl/apps/nn_classification.h
  apps/include/pcl/apps/openni_passthrough.h
  apps/src/face_detection/filesystem_face_detection.cpp
  apps/src/grabcut_2d.cpp
  apps/src/manual_registration/manual_registration.cpp
  apps/src/ni_agast.cpp
  apps/src/ni_brisk.cpp
  apps/src/openni_feature_persistence.cpp
  apps/src/openni_grab_frame.cpp
  apps/src/openni_klt.cpp
  apps/src/openni_mls_smoothing.cpp
  apps/src/openni_octree_compression.cpp
  apps/src/openni_organized_compression.cpp
  apps/src/openni_passthrough.cpp
  apps/src/openni_tracking.cpp
  apps/src/organized_segmentation_demo.cpp
  apps/src/pcd_organized_multi_plane_segmentation.cpp
  apps/src/pcd_select_object_plane.cpp
  apps/src/pcd_video_player/pcd_video_player.cpp
  apps/src/ppf_object_recognition.cpp
  apps/src/render_views_tesselated_sphere.cpp
  apps/src/stereo_ground_segmentation.cpp
Labels: module: apps

#4741 [gpu] Add ability to download contiguous chunk of memory to host using `Device{Array,Memory}`
  gpu/containers/include/pcl/gpu/containers/device_array.h
  gpu/containers/include/pcl/gpu/containers/device_memory.h
  gpu/containers/include/pcl/gpu/containers/impl/device_array.hpp
  gpu/containers/src/device_memory.cpp
Labels: changelog: enhancement, module: gpu, needs: code review

#4595 Add pcl log stream macros
  common/include/pcl/console/print.h
Labels: changelog: new feature, module: common

#4809 [features] Better error message for FeaturesFromNormals
  features/include/pcl/features/impl/feature.hpp
Labels: module: features

#4677 Speeding up GPU clustering using smarter download strategy and memory allocations
  gpu/segmentation/include/pcl/gpu/segmentation/impl/gpu_extract_clusters.hpp
  gpu/segmentation/src/extract_clusters.cpp
Labels: changelog: enhancement, module: gpu

#4800 Modify KdTree for FLANN backend and UIN32, INT64 indices
  kdtree/include/pcl/kdtree/impl/kdtree_flann.hpp
  kdtree/include/pcl/kdtree/kdtree_flann.h
  search/include/pcl/search/impl/flann_search.hpp
Labels: module: kdtree, needs: code review

#4821 Only set PCL_ALL_IN_ONE_INSTALLER on Windows
  PCLConfig.cmake.in
Labels: module: cmake, platform: windows
