Repository PointCloudLibrary/pcl, pull requests merged in 2021-08, with the labels that each got.

#4846 NormalSpaceSampling filter: add constructor to specify `extract_removed_indices`
  filters/include/pcl/filters/normal_space.h
Labels: changelog: enhancement, module: filters

#4855 Fix keep_organized behavior in CropHull filter
  filters/include/pcl/filters/crop_hull.h
  filters/include/pcl/filters/impl/crop_hull.hpp
  test/filters/test_crop_hull.cpp
Labels: changelog: deprecation, changelog: fix, module: filters

#4619 Update cmake to 3.10 and add CUDA language support
  CMakeLists.txt
  cmake/CudaComputeTargetFlags.cmake
  cmake/Modules/FindOpenMP.cmake
  cmake/pcl_find_cuda.cmake
  cmake/pcl_targets.cmake
  gpu/containers/CMakeLists.txt
  gpu/kinfu/CMakeLists.txt
  gpu/kinfu/test/CMakeLists.txt
  gpu/kinfu/tools/CMakeLists.txt
  gpu/kinfu_large_scale/CMakeLists.txt
  gpu/kinfu_large_scale/test/CMakeLists.txt
  gpu/kinfu_large_scale/tools/CMakeLists.txt
  gpu/people/CMakeLists.txt
  gpu/people/src/organized_plane_detector.cpp
  gpu/people/tools/CMakeLists.txt
  gpu/surface/CMakeLists.txt
Labels: changelog: enhancement, module: cmake

#4411 Use pixel ratio to scale mouse events on HiDpi monitors
  apps/point_cloud_editor/src/cloudEditorWidget.cpp
Labels: changelog: fix, module: visualization, needs: testing

#4874 Update VCPKG to 2021.05.12.
  .ci/azure-pipelines/env.yml
  .dev/docker/windows/Dockerfile
Labels: platform: windows, module: ci

#2562 Implement `SampleConsensusModelSphere<PointT>::projectPoints` properly
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_sphere.hpp
  test/sample_consensus/test_sample_consensus_quadric_models.cpp
Labels: module: sample_consensus, kind: todo, changelog: fix

#4881 Fix SampleConsensusModelCylinder.projectPoints and verify with test
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cylinder.hpp
  test/sample_consensus/test_sample_consensus_quadric_models.cpp
Labels: module: sample_consensus, changelog: fix

#4883 [features] Add `isNormalFinite` check in `ShapeContext3DEstimation`
  features/include/pcl/features/3dsc.h
  features/include/pcl/features/impl/3dsc.hpp
Labels: module: features, changelog: fix

#4889 Fix typo in the hessian representation of NDT
  registration/include/pcl/registration/impl/ndt.hpp
Labels: changelog: behavior change, module: registration, changelog: fix

#4900 Fix CUDA Compute Capability version detection
  cmake/pcl_find_cuda.cmake
Labels: module: cmake

#4819 Clang format gpu/segmentation
  .dev/format.sh
  gpu/segmentation/include/pcl/gpu/segmentation/gpu_extract_clusters.h
  gpu/segmentation/include/pcl/gpu/segmentation/gpu_extract_labeled_clusters.h
  gpu/segmentation/include/pcl/gpu/segmentation/gpu_seeded_hue_segmentation.h
  gpu/segmentation/include/pcl/gpu/segmentation/impl/gpu_extract_clusters.hpp
  gpu/segmentation/include/pcl/gpu/segmentation/impl/gpu_extract_labeled_clusters.hpp
  gpu/segmentation/include/pcl/gpu/segmentation/impl/gpu_seeded_hue_segmentation.hpp
Labels: module: gpu

#4142 Reduce scope of variables
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_cvfh.hpp
  apps/3d_rec_framework/src/tools/local_recognition_mian_dataset.cpp
  apps/include/pcl/apps/impl/dominant_plane_segmentation.hpp
  io/include/pcl/compression/impl/organized_pointcloud_compression.hpp
  io/include/pcl/io/impl/vtk_lib_io.hpp
  surface/include/pcl/surface/impl/organized_fast_mesh.hpp
  surface/include/pcl/surface/impl/texture_mapping.hpp
  visualization/include/pcl/visualization/impl/point_cloud_color_handlers.hpp
Labels: needs: code review
