Repository PointCloudLibrary/pcl, pull requests merged in 2021-12, with the labels that each got.

#4390 [cmake] Allow PCL to have non-static dependencies for static builds and vice-versa
  cmake/pcl_options.cmake
Labels: changelog: enhancement, needs: code review, needs: testing, module: cmake

#4923 Enhance finding of qhull
  CMakeLists.txt
  PCLConfig.cmake.in
  cmake/Modules/FindQhull.cmake
  cmake/pcl_options.cmake
  common/CMakeLists.txt
  geometry/CMakeLists.txt
  surface/CMakeLists.txt
  test/common/CMakeLists.txt
  test/geometry/CMakeLists.txt
  test/segmentation/CMakeLists.txt
Labels: changelog: enhancement, module: cmake

#5061 Fix position of `EIGEN_ALIGN` in tutorial
  doc/tutorials/content/adding_custom_ptype.rst
Labels: module: tutorials

#4653 [CMake] Add a pcl_find_libusb.cmake
  CMakeLists.txt
  cmake/Modules/Findlibusb.cmake
  cmake/pcl_find_libusb.cmake
Labels: needs: code review

#5067 Update pcl_find_boost to allow compilation with Boost 1.78
  PCLConfig.cmake.in
  cmake/pcl_find_boost.cmake
Labels: changelog: enhancement, module: cmake

#5071 Fix wrong selection of static qhull/flann in downstream projects
  .dev/docker/perception_pcl_ros/Dockerfile
  PCLConfig.cmake.in
  cmake/Modules/FindFLANN.cmake
  cmake/Modules/FindQhull.cmake
Labels: module: cmake

#5077 [io] Link Boost with ply for proper compilation
  io/CMakeLists.txt
Labels: module: io

#5079 [cmake] fix install qhull to 3rdparty/qhull
  cmake/pcl_all_in_one_installer.cmake
Labels: platform: windows, module: cmake

#4962 Add `PCL_MAKE_ALIGNED_OPERATOR_NEW` to CropBox for better Eigen support
  filters/include/pcl/filters/crop_box.h
Labels: changelog: ABI break, module: filters, changelog: fix

#4852 Add more configuration options to GRSDEstimation
  features/include/pcl/features/grsd.h
  features/include/pcl/features/impl/grsd.hpp
Labels: changelog: enhancement, changelog: ABI break, module: features

#5095 Implement `SampleConsensusModelSphere<PointT>::projectPoints` properly
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_sphere.hpp
  test/sample_consensus/test_sample_consensus_quadric_models.cpp
Labels: changelog: ABI break, module: sample_consensus, changelog: fix

#4807 [GPU] Use C++11 `std::atomic` instead of non-standard extensions
  gpu/containers/include/pcl/gpu/containers/device_memory.h
  gpu/containers/src/device_memory.cpp
Labels: module: gpu, changelog: deprecation

#4977 Drop version from pkg-config files, now accessible as `pcl_{module}.pc`
  cmake/pcl_targets.cmake
Labels: changelog: behavior change, module: cmake

#4973 Fix mls voxel grid hashing out of bound
  surface/include/pcl/surface/impl/mls.hpp
  surface/include/pcl/surface/mls.h
  test/surface/test_moving_least_squares.cpp
Labels: module: surface, changelog: fix

#5080 Fix doxygen comment blocks in `ndt.h`
  registration/include/pcl/registration/ndt.h
Labels: module: registration, changelog: fix

#4933 applyFilter() made protected
  filters/include/pcl/filters/bilateral.h
Labels: changelog: API break, changelog: ABI break, module: filters

#4909 Fix division and subtraction operators
  common/include/pcl/register_point_struct.h
  test/common/test_operators.cpp
Labels: module: common, changelog: fix

#4943 Add `PointXY` specific behavior to `transformPointCloud()`
  common/include/pcl/common/impl/transforms.hpp
  common/include/pcl/common/transforms.h
  common/include/pcl/impl/point_types.hpp
  test/common/test_transforms.cpp
Labels: changelog: enhancement, module: common

#5073 Use likelihood instead of probability in `ndt`
  registration/include/pcl/registration/impl/ndt.hpp
  registration/include/pcl/registration/ndt.h
Labels: module: registration, changelog: deprecation

#5054 Fix Bug between addText3D and QVTKWidget
  visualization/include/pcl/visualization/impl/pcl_visualizer.hpp
Labels: module: visualization, changelog: fix

#5103 Perform static cast + transform instead of simple copy to avoid compiler warning
  kdtree/include/pcl/kdtree/impl/kdtree_flann.hpp
Labels: module: kdtree

#5100 Fix some compiler warnings
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/feature_wrapper/normal_estimator.h
  apps/modeler/include/pcl/apps/modeler/render_window.h
  apps/src/render_views_tesselated_sphere.cpp
  outofcore/include/pcl/outofcore/outofcore_base_data.h
  outofcore/src/outofcore_base_data.cpp
  recognition/include/pcl/recognition/impl/implicit_shape_model.hpp
  surface/include/pcl/surface/impl/grid_projection.hpp
  test/search/test_organized_index.cpp
  visualization/src/pcl_visualizer.cpp
Labels: needs: code review

#5109 Fix segfault executing multiscale feature persistence
  features/include/pcl/features/impl/multiscale_feature_persistence.hpp
Labels: module: features, changelog: fix

#5105 Drop $PCL_SOURCES_TREE from installation cmake
  PCLConfig.cmake.in
Labels: module: cmake
