Repository PointCloudLibrary/pcl, pull requests merged in 2022-04, with the labels that each got.

#5208 Add new CI to cover uncommon configurations, running weekly
  .ci/azure-pipelines/ubuntu-variety.yaml
  .dev/docker/ubuntu-variety/Dockerfile
Labels: changelog: new feature, module: ci

#5220 Added PointCloudXYZHSVtoXYZRGB function
  common/include/pcl/point_types_conversion.h
Labels: changelog: new feature

#5224 Update compiling_pcl_dependencies_windows.rst
  doc/tutorials/content/compiling_pcl_dependencies_windows.rst
Labels: module: tutorials

#5232 Add Ubuntu 22.04 docker image
  .ci/azure-pipelines/env.yml
Labels: module: ci

#5233 Add missing includes in convolution_3d.hpp
  filters/include/pcl/filters/impl/convolution_3d.hpp
Labels: module: filters

#5196 rename computeRDerivative's argument R
  registration/include/pcl/registration/gicp.h
  registration/include/pcl/registration/impl/gicp.hpp
Labels: module: registration
