Repository PointCloudLibrary/pcl, pull requests merged in 2022-02, with the labels that each got.

#5153 Treat all compiler IDs containing 'Clang' as clang
  CMakeLists.txt
Labels: module: cmake

#5145 Make PCL compile with VTK 8
  io/CMakeLists.txt
  tools/CMakeLists.txt
  visualization/CMakeLists.txt
Labels: module: cmake

#5158 added pcl/common/io.h at ply_io.h for copyPointCloud
  io/include/pcl/io/ply_io.h
Labels: module: io

#4804 [apps] Enable Clang-Format for in_hand_scanner
  .dev/format.sh
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/boost.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/common_types.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/eigen.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/help_window.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/icp.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/impl/common_types.hpp
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/in_hand_scanner.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/input_data_processing.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/integration.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/main_window.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/mesh_processing.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/offline_integration.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/opengl_viewer.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/utils.h
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/visibility_confidence.h
  apps/in_hand_scanner/src/help_window.cpp
  apps/in_hand_scanner/src/icp.cpp
  apps/in_hand_scanner/src/in_hand_scanner.cpp
  apps/in_hand_scanner/src/input_data_processing.cpp
  apps/in_hand_scanner/src/integration.cpp
  apps/in_hand_scanner/src/main.cpp
  apps/in_hand_scanner/src/main_offline_integration.cpp
  apps/in_hand_scanner/src/main_window.cpp
  apps/in_hand_scanner/src/mesh_processing.cpp
  apps/in_hand_scanner/src/offline_integration.cpp
  apps/in_hand_scanner/src/opengl_viewer.cpp
  apps/in_hand_scanner/src/visibility_confidence.cpp
Labels: module: apps

#5161 [registration] Fix typo in gicp
  registration/include/pcl/registration/impl/gicp.hpp
Labels: module: registration

#5149 RangeImage: add check before accessing lookup table
  common/include/pcl/range_image/impl/range_image.hpp
Labels: module: common, changelog: fix

#5165 Fix benchmark compilation issue on Ubuntu 21.10
  .dev/docker/env/Dockerfile
Labels: module: ci, changelog: fix

#4797 [GPU] Remove hand-rolled `static_assert`
  gpu/features/src/features.cpp
  gpu/octree/src/cuda/octree_builder.cu
  gpu/octree/src/octree.cpp
  gpu/surface/src/convex_hull.cpp
  gpu/surface/src/cuda/convex_hull.cu
  gpu/utils/include/pcl/gpu/utils/device/static_check.hpp
Labels: module: gpu, changelog: deprecation

#5169 Fix wrong header when saving PolygonMesh to ply file
  io/src/ply_io.cpp
  test/io/test_ply_mesh_io.cpp
Labels: module: io, changelog: fix

#5160 Add missing vtk library for context2d.
  cmake/pcl_find_vtk.cmake
  visualization/CMakeLists.txt
Labels: module: visualization, changelog: fix

#5136 Added region of interest for frustum culling
  filters/include/pcl/filters/frustum_culling.h
  filters/include/pcl/filters/impl/frustum_culling.hpp
  test/filters/test_filters.cpp
Labels: changelog: enhancement, changelog: ABI break, module: filters

#5190 Fix of compilation error caused by conflict with math.h
  test/visualization/test_visualization.cpp
Labels: module: test, changelog: fix
