Repository PointCloudLibrary/pcl, pull requests merged in 2022-10, with the labels that each got.

#5447 Fix can't compile getMeanPointDensity
  registration/include/pcl/registration/impl/ia_fpcs.hpp
Labels: module: registration, changelog: fix

#5453 Fix OpenMP compile issue under MSVC
  keypoints/include/pcl/keypoints/impl/trajkovic_2d.hpp
Labels: module: keypoints, changelog: fix

#5452 [windows] Fix compile issues when compiling OpenNIDriver
  io/src/openni_camera/openni_driver.cpp
Labels: module: io, changelog: fix

#5463 Solve an internal compiler issue on MSVC 2022 within openNURBS
  surface/src/3rdparty/opennurbs/opennurbs_lookup.cpp
Labels: platform: windows, module: surface, changelog: fix

#5464 fix quantized normals' bin boundaries not consistent in different places in linemod
  recognition/include/pcl/recognition/surface_normal_modality.h
Labels: module: recognition, changelog: fix

#5444 fix linemod binindex wrong range bug in surface normal modality
  recognition/include/pcl/recognition/surface_normal_modality.h
Labels: module: recognition, changelog: fix

#3723 Add farthest point sampling filter
  filters/CMakeLists.txt
  filters/include/pcl/filters/farthest_point_sampling.h
  filters/include/pcl/filters/impl/farthest_point_sampling.hpp
  filters/src/farthest_point_sampling.cpp
  test/filters/CMakeLists.txt
  test/filters/test_farthest_point_sampling.cpp
Labels: needs: author reply, changelog: new feature, module: filters

#4623 PCDReader: remove fields with zero count instead of throwing exception while reading
  io/src/pcd_io.cpp
Labels: module: io

#5460 Switch from Ubuntu 20.04 to 22.04 to get Clang-Format 14 instead of 10
  .ci/azure-pipelines/azure-pipelines.yaml
  .ci/azure-pipelines/docs-pipeline.yaml
  .ci/azure-pipelines/formatting.yaml
  .dev/docker/fmt/Dockerfile
  apps/in_hand_scanner/src/integration.cpp
  apps/src/convolve.cpp
  apps/src/openni_3d_concave_hull.cpp
  apps/src/openni_3d_convex_hull.cpp
  apps/src/openni_boundary_estimation.cpp
  apps/src/openni_change_viewer.cpp
  apps/src/openni_fast_mesh.cpp
  apps/src/openni_feature_persistence.cpp
  apps/src/openni_ii_normal_estimation.cpp
  apps/src/openni_mls_smoothing.cpp
  apps/src/openni_octree_compression.cpp
  apps/src/openni_organized_compression.cpp
  apps/src/openni_organized_edge_detection.cpp
  apps/src/openni_organized_multi_plane_segmentation.cpp
  apps/src/openni_planar_convex_hull.cpp
  apps/src/openni_planar_segmentation.cpp
  apps/src/openni_tracking.cpp
  apps/src/openni_uniform_sampling.cpp
  apps/src/openni_voxel_grid.cpp
  cmake/clang-format.cmake
  geometry/include/pcl/geometry/mesh_base.h
  geometry/include/pcl/geometry/mesh_indices.h
  gpu/containers/src/device_memory.cpp
  octree/include/pcl/octree/octree_container.h
  octree/include/pcl/octree/octree_pointcloud_density.h
  registration/include/pcl/registration/correspondence_estimation.h
  registration/include/pcl/registration/correspondence_rejection.h
  tracking/include/pcl/tracking/impl/pyramidal_klt.hpp
Labels: module: ci

#5481 Fix usage of dangling pointer in PCLVisualizer::getUniqueCameraFile
  visualization/src/pcl_visualizer.cpp
Labels: module: visualization, changelog: fix

#5483 Fix segfault in mls::performUpsampling
  surface/include/pcl/surface/impl/mls.hpp
Labels: module: surface, changelog: fix

#5480 Add ::Ptr and ::ConstPtr member typedefs to ConditionalRemoval
  filters/include/pcl/filters/conditional_removal.h
Labels: module: filters

#5484 Don't add OpenMP delayload flag for MSVC 2019 and MSVC 2022
  CMakeLists.txt
Labels: platform: windows, module: cmake

#5486 Deprecate remaining three boost.h headers
  geometry/include/pcl/geometry/boost.h
  outofcore/include/pcl/outofcore/boost.h
  visualization/include/pcl/visualization/boost.h
Labels: changelog: deprecation

#5492 Add define for static build google benchmark.
  benchmarks/CMakeLists.txt
  cmake/pcl_targets.cmake
Labels: module: cmake, changelog: fix, module: benchmarks

#5490 PassThrough: add more checks for field type and name
  filters/include/pcl/filters/impl/passthrough.hpp
Labels: changelog: enhancement, module: filters

#5476 point and area picking improvement for cloud names
  tools/pcd_viewer.cpp
  visualization/include/pcl/visualization/area_picking_event.h
  visualization/include/pcl/visualization/point_picking_event.h
  visualization/src/point_picking_event.cpp
Labels: changelog: enhancement, module: visualization
