Repository PointCloudLibrary/pcl, pull requests merged in 2022-01, with the labels that each got.

#5113 Fix division by 0 width in `PointCloud` structured `assign`
  common/include/pcl/point_cloud.h
Labels: module: common, changelog: fix

#5119 [filters] Use `-FLT_MAX` instead of `FLT_MIN` for minimum value
  filters/include/pcl/filters/passthrough.h
Labels: module: filters, changelog: fix

#5121 [features] BoundaryEstimation::isBoundaryPoint: initialize `max_dif` …
  features/include/pcl/features/impl/boundary.hpp
Labels: module: features

#5125 [filters] add PCL_ALIGNED_OPERATOR_NEW to classes Eigen::Vector4 members
  filters/include/pcl/filters/plane_clipper3D.h
  filters/include/pcl/filters/uniform_sampling.h
  filters/include/pcl/filters/voxel_grid.h
  filters/include/pcl/filters/voxel_grid_occlusion_estimation.h
Labels: module: filters

#5118 Fix collinearity check in plane model
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_plane.hpp
Labels: module: sample_consensus

#4971 Introduce buffer for texture coordinate indices in TextureMesh
  common/include/pcl/TextureMesh.h
  io/src/obj_io.cpp
  io/src/vtk_lib_io.cpp
Labels: changelog: ABI break, module: io

#5130 Fix asserts in tests
  features/include/pcl/features/impl/integral_image2D.hpp
  test/octree/test_octree.cpp
Labels: module: features, module: test

#5133 Accept small differences in radius search test
  test/search/test_search.cpp
Labels: module: test

#5128 Improve correspondence rejector test
  test/registration/test_correspondence_rejectors.cpp
Labels: module: test

#5137 Clean up test_io and improve raw_fallocate
  io/include/pcl/io/impl/pcd_io.hpp
  io/include/pcl/io/low_level_io.h
  test/io/test_io.cpp
Labels: module: io

#5141 Optimize header includes (9/N)
  apps/include/pcl/apps/nn_classification.h
  apps/src/openni_grab_images.cpp
  common/include/pcl/common/impl/io.hpp
  common/include/pcl/common/transforms.h
  common/include/pcl/conversions.h
  features/src/narf.cpp
  io/include/pcl/io/vtk_lib_io.h
  io/src/vtk_lib_io.cpp
  io/tools/openni_grabber_depth_example.cpp
  octree/include/pcl/octree/octree_key.h
  registration/include/pcl/registration/impl/ndt_2d.hpp
  stereo/src/stereo_grabber.cpp
  test/io/test_octree_compression.cpp
  tools/obj2pcd.cpp
  tools/obj2vtk.cpp
  tools/ply2vtk.cpp
  tools/virtual_scanner.cpp
  tools/vtk2pcd.cpp
  tools/vtk2ply.cpp
Labels: changelog: enhancement

#5147 Change static to const since it-stability is not guaranteed
  visualization/src/pcl_visualizer.cpp
Labels: module: visualization, changelog: fix
