Repository PointCloudLibrary/pcl, pull requests merged in 2022-05, with the labels that each got.

#5218 Misc small fixes and improvements
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/compilation-failure.md
  common/CMakeLists.txt
  doc/tutorials/content/sources/implicit_shape_model/implicit_shape_model.cpp
  examples/segmentation/example_extract_clusters_normals.cpp
  filters/src/project_inliers.cpp
  io/include/pcl/io/ply_io.h
  io/src/ply_io.cpp
  ml/src/svm.cpp
  octree/include/pcl/octree/impl/octree_pointcloud.hpp
  people/CMakeLists.txt
  recognition/include/pcl/recognition/impl/implicit_shape_model.hpp
  recognition/include/pcl/recognition/impl/linemod/line_rgbd.hpp
  segmentation/include/pcl/segmentation/impl/min_cut_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/region_growing.hpp
  segmentation/include/pcl/segmentation/impl/sac_segmentation.hpp
  segmentation/include/pcl/segmentation/region_growing.h
  surface/include/pcl/surface/impl/mls.hpp
  test/features/test_pfh_estimation.cpp
  test/features/test_shot_estimation.cpp
  test/registration/test_correspondence_rejectors.cpp
  test/registration/test_sac_ia.cpp
  test/segmentation/test_segmentation.cpp
  tools/compute_hausdorff.cpp
  tools/registration_visualizer.cpp
Labels: changelog: enhancement

#5236 fix: use `similarity_threshold_squared_` instead of `cardinality_` in…
  registration/include/pcl/registration/correspondence_rejection_poly.h
Labels: module: registration, changelog: fix

#5231 [sample_consensus] Rename variable p_no_outliers for clarity
  sample_consensus/include/pcl/sample_consensus/impl/mlesac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/msac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/ransac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/rmsac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/rransac.hpp
Labels: module: sample_consensus

#5250 Update to newer commit as msys dependencies has been removed.
  .ci/azure-pipelines/env.yml
Labels: module: ci

#4438 Fix of IterativeClosestPointWithNormals shared_ptr
  registration/include/pcl/registration/icp.h
Labels: module: registration, changelog: fix

#5256 Fix nonsense code in pcl/surface/3rdparty/poisson4/sparse_matrix.hpp
  surface/include/pcl/surface/3rdparty/poisson4/sparse_matrix.hpp
Labels: module: surface, changelog: fix

#5235 Use Ubuntu 22.04 instead of 21.10
  .ci/azure-pipelines/azure-pipelines.yaml
  README.md
Labels: module: ci

#5274 Fixup: do not use fixed interactor on non-unix systems
  visualization/src/vtk/vtkRenderWindowInteractorFix.cpp
Labels: module: visualization

#5181 Ensure centroid/cov_mat are modified only when needed
  common/include/pcl/common/impl/centroid.hpp
Labels: module: common

#5275 Misc fixes and improvements
  apps/3d_rec_framework/src/tools/global_classification.cpp
  common/include/pcl/PCLPointField.h
  doc/tutorials/content/hdl_grabber.rst
  doc/tutorials/content/sources/normal_estimation_using_integral_images/normal_estimation_using_integral_images.cpp
  doc/tutorials/content/sources/pcl_visualizer/pcl_visualizer_demo.cpp
  doc/tutorials/content/sources/resampling/resampling.cpp
  features/include/pcl/features/gfpfh.h
  features/include/pcl/features/grsd.h
  features/include/pcl/features/moment_invariants.h
  features/include/pcl/features/rsd.h
  io/src/ascii_io.cpp
  io/src/ifs_io.cpp
  octree/include/pcl/octree/octree_iterator.h
  outofcore/include/pcl/outofcore/outofcore_iterator_base.h
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_plane.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_sphere.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_stick.hpp
  test/features/test_base_feature.cpp
  test/octree/test_octree.cpp
  visualization/src/interactor_style.cpp
Labels: changelog: enhancement, changelog: fix

#5255 Fix CropHull::applyFilter3D()
  filters/include/pcl/filters/impl/crop_hull.hpp
  test/filters/test_crop_hull.cpp
Labels: module: filters, changelog: fix
