Repository PointCloudLibrary/pcl, pull requests merged in 2023-12, with the labels that each got.

#5861 Use real ALIAS target for flann to preserve properties on original target.
  cmake/Modules/FindFLANN.cmake
Labels: changelog: enhancement, module: cmake

#5894 Add instantiations for ICP and TransformationEstimationSVD
  apps/3d_rec_framework/CMakeLists.txt
  apps/CMakeLists.txt
  registration/include/pcl/registration/icp.h
  registration/include/pcl/registration/transformation_estimation_svd.h
  registration/src/icp.cpp
  registration/src/transformation_estimation_svd.cpp
Labels: changelog: enhancement, module: registration

#5901 replace deprecated boost filesystem basename
  gpu/kinfu_large_scale/tools/standalone_texture_mapping.cpp
  io/src/image_grabber.cpp
  outofcore/include/pcl/outofcore/impl/octree_base.hpp
  outofcore/include/pcl/outofcore/impl/octree_base_node.hpp
Labels: changelog: fix

#5903 Remove default(none) clause in some OpenMP for-loops
  .ci/azure-pipelines/ubuntu-variety.yaml
  .dev/docker/env/Dockerfile
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_crh.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/global_nn_recognizer_cvfh.hpp
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/local_recognizer.hpp
  common/src/range_image.cpp
  keypoints/include/pcl/keypoints/impl/harris_3d.hpp
  keypoints/src/narf_keypoint.cpp
  tools/fast_bilateral_filter.cpp
  tools/normal_estimation.cpp
Labels: changelog: fix

#5904 replace deprecated boost filesystem extension
  apps/in_hand_scanner/src/offline_integration.cpp
  doc/tutorials/content/sources/vfh_recognition/build_tree.cpp
  gpu/kinfu/tools/kinfu_app.cpp
  gpu/kinfu_large_scale/tools/kinfuLS_app.cpp
  gpu/kinfu_large_scale/tools/standalone_texture_mapping.cpp
  gpu/people/tools/people_app.cpp
  io/src/ascii_io.cpp
  io/src/image_grabber.cpp
  outofcore/include/pcl/outofcore/impl/octree_base.hpp
  outofcore/include/pcl/outofcore/impl/octree_base_node.hpp
  outofcore/tools/outofcore_print.cpp
  outofcore/tools/outofcore_viewer.cpp
  test/io/test_grabbers.cpp
  tools/fast_bilateral_filter.cpp
  tools/grid_min.cpp
  tools/local_max.cpp
  tools/morph.cpp
  tools/normal_estimation.cpp
  tools/passthrough_filter.cpp
  tools/pcd_grabber_viewer.cpp
  tools/progressive_morphological_filter.cpp
  tools/radius_filter.cpp
  tools/sac_segmentation_plane.cpp
  tools/unary_classifier_segment.cpp
  tools/uniform_sampling.cpp
  tools/virtual_scanner.cpp
Labels: changelog: fix

#5906 Make PCL compatible with Boost 1.84
  PCLConfig.cmake.in
  cmake/pcl_find_boost.cmake
  io/src/ply/ply_parser.cpp
Labels: module: cmake
