Repository PointCloudLibrary/pcl, pull requests merged in 2023-06, with the labels that each got.

#5690 function computeCentroidAndOBB
  common/include/pcl/common/centroid.h
  common/include/pcl/common/impl/centroid.hpp
  doc/tutorials/content/moment_of_inertia.rst
  test/common/test_centroid.cpp
Labels: changelog: enhancement, module: common

#5729 OrganizedNeighbor: add additional check to make sure the cloud is sui…
  search/include/pcl/search/impl/organized.hpp
Labels: changelog: enhancement, module: search

#5744 Make OpenMP available in downstream projects
  PCLConfig.cmake.in
  features/CMakeLists.txt
  filters/CMakeLists.txt
  io/CMakeLists.txt
  keypoints/CMakeLists.txt
  registration/CMakeLists.txt
  segmentation/CMakeLists.txt
  surface/CMakeLists.txt
  tracking/CMakeLists.txt
Labels: module: cmake

#5747 Misc small changes and improvements
  .ci/azure-pipelines/ubuntu-variety.yaml
  common/include/pcl/PCLPointCloud2.h
  common/include/pcl/impl/pcl_base.hpp
  common/src/pcl_base.cpp
  doc/tutorials/content/compiling_pcl_posix.rst
  doc/tutorials/content/global_hypothesis_verification.rst
  doc/tutorials/content/moment_of_inertia.rst
  doc/tutorials/content/normal_estimation_using_integral_images.rst
  doc/tutorials/content/registration_api.rst
  doc/tutorials/content/sources/cluster_extraction/cluster_extraction.cpp
  doc/tutorials/content/sources/implicit_shape_model/implicit_shape_model.cpp
  doc/tutorials/content/using_pcl_pcl_config.rst
  doc/tutorials/content/walkthrough.rst
  features/include/pcl/features/impl/normal_3d_omp.hpp
  io/include/pcl/io/io.h
  io/src/lzf_image_io.cpp
  recognition/include/pcl/recognition/impl/implicit_shape_model.hpp
  segmentation/include/pcl/segmentation/impl/region_growing.hpp
  segmentation/include/pcl/segmentation/impl/region_growing_rgb.hpp
  segmentation/include/pcl/segmentation/min_cut_segmentation.h
  segmentation/include/pcl/segmentation/organized_connected_component_segmentation.h
  visualization/include/pcl/visualization/impl/pcl_visualizer.hpp
Labels: changelog: enhancement
