Repository PointCloudLibrary/pcl, pull requests merged in 2023-04, with the labels that each got.

#5530 Improved manual registration
  apps/CMakeLists.txt
  apps/include/pcl/apps/manual_registration.h
  apps/include/pcl/apps/pcl_viewer_dialog.h
  apps/src/manual_registration/manual_registration.cpp
  apps/src/manual_registration/manual_registration.ui
  apps/src/manual_registration/pcl_viewer_dialog.cpp
  apps/src/manual_registration/pcl_viewer_dialog.ui
Labels: changelog: enhancement

#5646 Add hints for ordering of -matrix arguments for pcl_transform_point_cloud
  tools/transform_point_cloud.cpp
Labels: module: tools

#5651 MinCutSegmentation: use correct allocation size, fix segfault
  segmentation/include/pcl/segmentation/impl/min_cut_segmentation.hpp
Labels: module: segmentation, changelog: fix

#5655 Marching cubes: add hint for template parameter
  surface/include/pcl/surface/marching_cubes.h
  surface/include/pcl/surface/marching_cubes_hoppe.h
  surface/include/pcl/surface/marching_cubes_rbf.h
Labels: module: surface

#5658 People: fix segfault in SSE HoG computation
  people/src/hog.cpp
Labels: module: people, changelog: fix

#5657 io/doc: add overview of file reading and writing functions
  io/io.doxy
Labels: module: docs, module: io

#5668 Allow compilation with Boost 1.82
  PCLConfig.cmake.in
  cmake/pcl_find_boost.cmake
Labels: module: cmake

#5666 fix MSVS not supporting unsigned int in for loop with openMP
  io/src/real_sense_2_grabber.cpp
Labels: module: io, changelog: fix

#5669 [apps] Improve pcl_openni_face_detector
  apps/src/face_detection/openni_face_detection.cpp
Labels: changelog: enhancement, module: apps

#5542 Fix Linux and Windows spinOnce behaviour
  visualization/src/pcl_visualizer.cpp
Labels: module: visualization, changelog: fix

#5685 Point Cloud Editor: fix select2D after switch to QOpenGLWidget
  apps/point_cloud_editor/include/pcl/apps/point_cloud_editor/cloudEditorWidget.h
  apps/point_cloud_editor/include/pcl/apps/point_cloud_editor/select2DTool.h
  apps/point_cloud_editor/src/cloudEditorWidget.cpp
  apps/point_cloud_editor/src/select2DTool.cpp
Labels: module: apps, changelog: fix
