Repository PointCloudLibrary/pcl, pull requests merged in 2023-01, with the labels that each got.

#5563 Misc fixes and improvements
  .dev/scripts/bump_post_release.bash
  apps/3d_rec_framework/include/pcl/apps/3d_rec_framework/pipeline/impl/local_recognizer.hpp
  apps/cloud_composer/src/point_selectors/click_trackball_interactor_style.cpp
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/opengl_viewer.h
  common/include/pcl/common/impl/common.hpp
  common/include/pcl/common/impl/generate.hpp
  common/include/pcl/common/polynomial_calculations.h
  doc/doxygen/pcl.doxy
  doc/tutorials/content/depth_sense_grabber.rst
  doc/tutorials/content/ensenso_cameras.rst
  doc/tutorials/content/fpfh_estimation.rst
  doc/tutorials/content/gasd_estimation.rst
  doc/tutorials/content/hdl_grabber.rst
  doc/tutorials/content/kdtree_search.rst
  doc/tutorials/content/pcd_file_format.rst
  doc/tutorials/content/pcl_plotter.rst
  doc/tutorials/content/pfh_estimation.rst
  doc/tutorials/content/planar_segmentation.rst
  doc/tutorials/content/random_sample_consensus.rst
  doc/tutorials/content/sources/cloud_viewer/cloud_viewer.cpp
  doc/tutorials/content/sources/iccv2011/include/feature_estimation.h
  doc/tutorials/content/sources/iccv2011/src/correspondence_viewer.cpp
  doc/tutorials/content/sources/iccv2011/src/tutorial.cpp
  doc/tutorials/content/sources/iros2011/include/feature_estimation.h
  doc/tutorials/content/sources/iros2011/include/solution/feature_estimation.h
  doc/tutorials/content/sources/iros2011/src/correspondence_viewer.cpp
  doc/tutorials/content/sources/normal_estimation_using_integral_images/normal_estimation_using_integral_images.cpp
  doc/tutorials/content/sources/pairwise_incremental_registration/pairwise_incremental_registration.cpp
  doc/tutorials/content/vfh_estimation.rst
  doc/tutorials/content/visualization.rst
  doc/tutorials/content/walkthrough.rst
  filters/include/pcl/filters/convolution.h
  filters/include/pcl/filters/impl/conditional_removal.hpp
  gpu/kinfu/tools/plot_camera_poses.m
  io/include/pcl/compression/impl/organized_pointcloud_compression.hpp
  io/include/pcl/io/tar.h
  io/src/ifs_io.cpp
  kdtree/kdtree.doxy
  keypoints/keypoints.doxy
  registration/include/pcl/registration/bfgs.h
  sample_consensus/sample_consensus.doxy
  segmentation/include/pcl/segmentation/impl/extract_clusters.hpp
  surface/include/pcl/surface/impl/organized_fast_mesh.hpp
  surface/include/pcl/surface/texture_mapping.h
  tools/image_viewer.cpp
  tools/pcd_viewer.cpp
  tracking/include/pcl/tracking/impl/pyramidal_klt.hpp
  visualization/src/point_cloud_handlers.cpp
Labels: changelog: fix

#5568 [tools] Remove NaNs from clouds after loading in icp tool
  tools/icp.cpp
Labels: module: tools, module: registration, changelog: fix

#5572 [filters] Fix bug in LocalMaximum
  filters/include/pcl/filters/impl/local_maximum.hpp
  test/filters/test_local_maximum.cpp
Labels: module: filters, changelog: fix

#5570 Make apps Qt6 compatible
  apps/cloud_composer/src/cloud_composer.cpp
  apps/in_hand_scanner/CMakeLists.txt
  apps/in_hand_scanner/include/pcl/apps/in_hand_scanner/opengl_viewer.h
  apps/in_hand_scanner/src/offline_integration.cpp
  apps/in_hand_scanner/src/opengl_viewer.cpp
  apps/modeler/src/main_window.cpp
  apps/point_cloud_editor/CMakeLists.txt
  apps/point_cloud_editor/include/pcl/apps/point_cloud_editor/cloudEditorWidget.h
  apps/point_cloud_editor/include/pcl/apps/point_cloud_editor/select2DTool.h
  apps/point_cloud_editor/src/cloud.cpp
  apps/point_cloud_editor/src/cloudEditorWidget.cpp
  apps/point_cloud_editor/src/select1DTool.cpp
  cmake/pcl_find_qt.cmake
Labels: changelog: enhancement, module: apps

#5557 Fix potential memory problems in GICP and IncrementalRegistration
  registration/include/pcl/registration/gicp.h
  registration/include/pcl/registration/incremental_registration.h
Labels: module: registration

#5582 Make sure that find_package(PCL) does not leak internals or overwrite variables
  PCLConfig.cmake.in
  cmake/Modules/FindFLANN.cmake
  cmake/Modules/Findlibusb.cmake
  doc/tutorials/content/sources/cmake_test/CMakeLists.txt
Labels: module: cmake, changelog: fix

#5584 Added initial set of readability-* clang-tidy checks
  .clang-tidy
  common/include/pcl/PolygonMesh.h
  common/src/io.cpp
  features/include/pcl/features/impl/brisk_2d.hpp
  features/include/pcl/features/impl/range_image_border_extractor.hpp
  filters/include/pcl/filters/impl/conditional_removal.hpp
  filters/include/pcl/filters/impl/radius_outlier_removal.hpp
  filters/include/pcl/filters/passthrough.h
  filters/include/pcl/filters/voxel_grid.h
  io/src/openni2/openni2_device.cpp
  io/src/openni2_grabber.cpp
  io/src/openni_camera/openni_driver.cpp
  io/src/openni_grabber.cpp
  io/src/ply/ply_parser.cpp
  io/src/tim_grabber.cpp
  recognition/include/pcl/recognition/face_detection/rf_face_detector_trainer.h
  recognition/include/pcl/recognition/impl/cg/hough_3d.hpp
  segmentation/include/pcl/segmentation/impl/region_growing.hpp
  surface/include/pcl/surface/impl/mls.hpp
  surface/include/pcl/surface/organized_fast_mesh.h
  visualization/include/pcl/visualization/interactor_style.h
  visualization/src/pcl_visualizer.cpp
  visualization/src/point_cloud_handlers.cpp
Labels: changelog: enhancement

#5586 Fix crash in SpinImageEstimation
  features/include/pcl/features/impl/spin_image.hpp
  features/include/pcl/features/spin_image.h
Labels: module: features, changelog: fix

#5585 Fix access violation in IntegralImageNormalEstimation when using dept…
  features/include/pcl/features/impl/integral_image_normal.hpp
  features/include/pcl/features/integral_image_normal.h
Labels: module: features, changelog: fix

#5575 Adopt for failing tests on i386
  test/filters/test_convolution.cpp
  test/io/test_tim_grabber.cpp
  test/octree/test_octree.cpp
  test/sample_consensus/test_sample_consensus_plane_models.cpp
Labels: module: test

#5494 OpenNI apps: Improve handling of command line arguments
  apps/src/openni_3d_concave_hull.cpp
  apps/src/openni_3d_convex_hull.cpp
  apps/src/openni_boundary_estimation.cpp
  apps/src/openni_color_filter.cpp
  apps/src/openni_fast_mesh.cpp
  apps/src/openni_feature_persistence.cpp
  apps/src/openni_grab_images.cpp
  apps/src/openni_ii_normal_estimation.cpp
  apps/src/openni_klt.cpp
  apps/src/openni_mls_smoothing.cpp
  apps/src/openni_mobile_server.cpp
  apps/src/openni_organized_edge_detection.cpp
  apps/src/openni_planar_convex_hull.cpp
  apps/src/openni_planar_segmentation.cpp
  apps/src/openni_tracking.cpp
  apps/src/openni_uniform_sampling.cpp
  apps/src/openni_voxel_grid.cpp
Labels: changelog: enhancement, module: apps
