Repository PointCloudLibrary/pcl, pull requests merged in 2023-09, with the labels that each got.

#5790 Improve optimizeModelCoefficients for cone, cylinder, sphere models
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cone.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cylinder.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_sphere.hpp
  sample_consensus/include/pcl/sample_consensus/sac_model_cone.h
  sample_consensus/include/pcl/sample_consensus/sac_model_cylinder.h
  sample_consensus/include/pcl/sample_consensus/sac_model_sphere.h
  sample_consensus/src/sac_model_cone.cpp
  sample_consensus/src/sac_model_cylinder.cpp
  sample_consensus/src/sac_model_sphere.cpp
Labels: changelog: enhancement, module: sample_consensus

#5795 Deprecate CrfNormalSegmentation
  segmentation/CMakeLists.txt
  segmentation/include/pcl/segmentation/crf_normal_segmentation.h
  segmentation/src/crf_normal_segmentation.cpp
Labels: module: segmentation, changelog: deprecation

#5796 Deprecate SampleConsensusModelStick
  sample_consensus/include/pcl/sample_consensus/sac_model_stick.h
  sample_consensus/src/sac_model_stick.cpp
  segmentation/include/pcl/segmentation/impl/sac_segmentation.hpp
Labels: module: sample_consensus, changelog: deprecation

#5799 Remove 18.04 as its EOL.
  .ci/azure-pipelines/env.yml
Labels: changelog: new feature, module: ci, changelog: removal

#5810 Allow compilation with Boost 1.83
  PCLConfig.cmake.in
  cmake/pcl_find_boost.cmake
Labels: changelog: enhancement, module: cmake

#5812 Add missing cassert include
  io/include/pcl/io/openni2/openni_shift_to_depth_conversion.h
  io/include/pcl/io/openni_camera/openni_shift_to_depth_conversion.h
Labels: module: io, changelog: fix

#5821 sac_model_cylinder: fix bug in projectPointToCylinder function
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cylinder.hpp
Labels: module: sample_consensus, changelog: fix

#5818 update doc for OrganizedNeighnor
  search/include/pcl/search/organized.h
Labels: module: docs, module: search

#5813 Some improvements to gpu/segmentation
  gpu/examples/segmentation/src/seg.cpp
  gpu/segmentation/include/pcl/gpu/segmentation/impl/gpu_extract_clusters.hpp
  gpu/segmentation/src/extract_clusters.cpp
Labels: module: gpu
