Repository PointCloudLibrary/pcl, pull requests merged in 2023-05, with the labels that each got.

#5689 ConvexHull verbouse info on stdout enabled only by pcl::console::L_DEBUG
  surface/include/pcl/surface/impl/convex_hull.hpp
Labels: changelog: enhancement, module: surface

#5675 Enable writing very large PCD files on Windows
  io/include/pcl/io/impl/pcd_io.hpp
  io/src/lzf_image_io.cpp
  io/src/pcd_io.cpp
Labels: module: io, changelog: fix

#5718 Move /bigobj flag
  CMakeLists.txt
Labels: module: cmake, changelog: fix

#5699 Make io more locale invariant
  io/include/pcl/io/file_io.h
  io/src/ply_io.cpp
  test/io/test_io.cpp
  test/io/test_ply_io.cpp
Labels: module: io, changelog: fix

#5708 Avoid accessing vectors with zero length, by checking data sizes.
  common/include/pcl/conversions.h
  io/include/pcl/io/pcd_io.h
  io/src/pcd_io.cpp
Labels: module: io

#5538 Fix bug for tracking object rotation
  tracking/include/pcl/tracking/impl/particle_filter.hpp
  tracking/include/pcl/tracking/impl/tracking.hpp
  tracking/include/pcl/tracking/tracking.h
Labels: module: tracking, changelog: fix

#5653 Octree: grow in positive direction instead of negative
  octree/include/pcl/octree/impl/octree_pointcloud.hpp
  test/features/test_pfh_estimation.cpp
Labels: module: octree, changelog: fix
