Repository PointCloudLibrary/pcl, pull requests merged in 2023-02, with the labels that each got.

#4814 [Doc] Add tutorial for using VCPKG on Windows
  doc/tutorials/content/images/vcpkg/cmake_configure_1.png
  doc/tutorials/content/images/vcpkg/cmake_configure_2.png
  doc/tutorials/content/index.rst
  doc/tutorials/content/pcl_vcpkg_windows.rst
Labels: changelog: enhancement, module: docs, platform: windows

#5597 suggesting zero padding files when writing
  doc/tutorials/content/cluster_extraction.rst
  doc/tutorials/content/sources/cluster_extraction/cluster_extraction.cpp
Labels: module: tutorials

#5595 Remove pcl_video.cpp
  tools/CMakeLists.txt
  tools/pcl_video.cpp
Labels: module: tools, changelog: removal

#5607 Update VCPKG to 2023.01.09 Release - since ICU links are broken.
  .ci/azure-pipelines/env.yml
Labels: module: ci

#5608 Add overload to fromPCLPointCloud2 to avoid copying data
  common/include/pcl/conversions.h
Labels: module: common

#5598 Add writeBinary to ostream for PCDWriter
  io/include/pcl/io/pcd_io.h
  io/src/pcd_io.cpp
  test/io/test_io.cpp
Labels: changelog: new feature, module: io, changelog: fix

#5596 Remove last usage of date_time and replace it with std::chrono
  .dev/docker/env/Dockerfile
  .dev/docker/release/Dockerfile
  .dev/docker/ubuntu-variety/Dockerfile
  apps/src/openni_grab_frame.cpp
  apps/src/openni_grab_images.cpp
  apps/src/openni_klt.cpp
  cmake/pcl_find_boost.cmake
  cmake/pcl_pclconfig.cmake
  common/include/pcl/common/boost.h
  doc/tutorials/content/building_pcl.rst
  doc/tutorials/content/dinast_grabber.rst
  doc/tutorials/content/openni_grabber.rst
  doc/tutorials/content/pcl_visualizer.rst
  gpu/kinfu/tools/kinfu_app.cpp
  gpu/kinfu_large_scale/tools/kinfuLS_app.cpp
  io/CMakeLists.txt
  io/include/pcl/io/boost.h
  io/include/pcl/io/timestamp.h
  io/src/image_grabber.cpp
  io/tools/CMakeLists.txt
  io/tools/openni_pcd_recorder.cpp
  test/io/CMakeLists.txt
  test/io/test_timestamp.cpp
  tools/CMakeLists.txt
  tools/openni_image.cpp
  tools/openni_save_image.cpp
  visualization/include/pcl/visualization/boost.h
Labels: module: io, module: tools, changelog: removal, changelog: fix

#5605 Changes to tools
  common/CMakeLists.txt
  io/CMakeLists.txt
  io/tools/CMakeLists.txt
  io/tools/ply/CMakeLists.txt
  tools/CMakeLists.txt
  tools/convert_pcd_ascii_binary.cpp
  tools/converter.cpp
  tools/hdl_grabber_example.cpp
  tools/openni_grabber_depth_example.cpp
  tools/openni_grabber_example.cpp
  tools/openni_pcd_recorder.cpp
  tools/openni_viewer_simple.cpp
  tools/pcd_convert_NaN_nan.cpp
  tools/pcd_introduce_nan.cpp
  tools/ply2obj.cpp
  tools/ply2ply.cpp
  tools/ply2raw.cpp
  tools/plyheader.cpp
Labels: module: io, module: cmake, module: tools
