Repository PointCloudLibrary/pcl, pull requests merged in 2023-07, with the labels that each got.

#5756 ApproximateProgressiveMorphologicalFilter: check for finite-ness
  segmentation/include/pcl/segmentation/impl/approximate_progressive_morphological_filter.hpp
Labels: module: segmentation, changelog: fix

#5755 ICP: remove possibly inappropriate default setting of rotation convergence threshold when user does not set it.
  registration/include/pcl/registration/impl/icp.hpp
Labels: changelog: behavior change, module: registration

#5613 Eigen: switch to imported modules and NO_MODULE
  CMakeLists.txt
  PCLConfig.cmake.in
  cmake/Modules/FindEigen.cmake
  cmake/pcl_all_in_one_installer.cmake
  common/CMakeLists.txt
  cuda/features/CMakeLists.txt
  cuda/io/CMakeLists.txt
  cuda/segmentation/CMakeLists.txt
  doc/tutorials/content/building_pcl.rst
  gpu/containers/CMakeLists.txt
  io/CMakeLists.txt
Labels: changelog: enhancement, module: cmake

#5721 Clarify expected speedup with NormalEstimationOMP
  doc/tutorials/content/normal_estimation.rst
Labels: module: tutorials

#5765 Remove unnecessary pseudo-instantiations of checkCoordinateSystem
  common/include/pcl/common/eigen.h
Labels: changelog: enhancement, module: common

#5764 MovingLeastSquares: reduce the number of instantiations to reduce com…
  surface/src/mls.cpp
Labels: changelog: enhancement, changelog: behavior change, module: surface

#5772 Make Flann optional
  CMakeLists.txt
Labels: changelog: enhancement, module: cmake

#5766 Fix reading of origin and orientation from PLY files
  io/include/pcl/io/ply_io.h
  io/src/ply_io.cpp
  test/io/test_ply_io.cpp
Labels: module: io, changelog: fix
