Repository PointCloudLibrary/pcl, pull requests merged in 2023-08, with the labels that each got.

#5777 Add missing includes in cloud composer app
  apps/cloud_composer/include/pcl/apps/cloud_composer/signal_multiplexer.h
Labels: module: apps, changelog: fix

#5769 Fix behaviour of BoxClipper3D
  filters/include/pcl/filters/box_clipper3D.h
  filters/include/pcl/filters/impl/box_clipper3D.hpp
Labels: changelog: behavior change, module: filters

#5775 NormalEstimationOMP: use dynamic scheduling for faster computation
  features/include/pcl/features/impl/normal_3d_omp.hpp
  features/include/pcl/features/normal_3d_omp.h
Labels: changelog: enhancement, module: features

#5780 Modify FlannSearch to return Indices of Point Cloud (issue #5774)
  search/include/pcl/search/flann_search.h
  search/include/pcl/search/impl/flann_search.hpp
  test/search/test_search.cpp
Labels: module: search, changelog: fix

#5767 Improve PPFRegistration
  registration/include/pcl/registration/impl/ppf_registration.hpp
  registration/include/pcl/registration/ppf_registration.h
  test/registration/test_registration.cpp
Labels: changelog: enhancement, module: registration

#5792 fix: remove unnecessary indices erase in extract_clusters
  segmentation/include/pcl/segmentation/extract_clusters.h
  segmentation/include/pcl/segmentation/impl/extract_clusters.hpp
  segmentation/include/pcl/segmentation/impl/extract_labeled_clusters.hpp
Labels: module: segmentation

#5793 Fix Eigen alignment problem when user project is compiled as C++17 or newer
  cmake/pcl_pclconfig.cmake
Labels: module: cmake, changelog: fix
