Repository PointCloudLibrary/pcl, pull requests merged in 2023-10, with the labels that each got.

#5832 [surface] Fix memory leak bug of poisson reconstruction
  surface/include/pcl/surface/3rdparty/poisson4/bspline_data.hpp
Labels: module: surface, changelog: fix

#5840 Let setInputCloud of search methods indicate success or failure
  filters/include/pcl/filters/impl/local_maximum.hpp
  filters/include/pcl/filters/impl/radius_outlier_removal.hpp
  filters/include/pcl/filters/impl/statistical_outlier_removal.hpp
  filters/include/pcl/filters/local_maximum.h
  filters/include/pcl/filters/radius_outlier_removal.h
  filters/include/pcl/filters/statistical_outlier_removal.h
  search/include/pcl/search/flann_search.h
  search/include/pcl/search/impl/flann_search.hpp
  search/include/pcl/search/impl/kdtree.hpp
  search/include/pcl/search/impl/organized.hpp
  search/include/pcl/search/impl/search.hpp
  search/include/pcl/search/kdtree.h
  search/include/pcl/search/octree.h
  search/include/pcl/search/organized.h
  search/include/pcl/search/search.h
Labels: module: filters, module: search

#5849 MSAC and RMSAC: fix check array distances empty
  sample_consensus/include/pcl/sample_consensus/impl/msac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/rmsac.hpp
Labels: module: sample_consensus, changelog: fix

#5825 GICP: add Newton optimizer
  registration/include/pcl/registration/gicp.h
  registration/include/pcl/registration/impl/gicp.hpp
  test/registration/test_registration.cpp
Labels: changelog: new feature, module: registration

#5857 GreedyProjectionTriangulation: add hint about PointInT
  surface/include/pcl/surface/gp3.h
Labels: module: surface

#5855 Fix PCD load crashes on empty files
  common/include/pcl/common/io.h
  io/src/pcd_io.cpp
Labels: module: io, changelog: fix
