Repository PointCloudLibrary/pcl, pull requests merged in 2024-09, with the labels that each got.

#6116 Update clang-tidy github action
  .github/workflows/clang-tidy.yml
Labels: module: ci

#6100 Remove findGLEW and FindOpenMP as they are already present in CMake. Update minimum required cmake to 3.16.3
  CMakeLists.txt
  PCLConfig.cmake.in
  cmake/Modules/FindFLANN.cmake
  cmake/Modules/FindGLEW.cmake
  cmake/Modules/FindGTestSource.cmake
  cmake/Modules/FindOpenMP.cmake
  cmake/Modules/FindOpenNI.cmake
  cmake/Modules/FindQhull.cmake
Labels: module: cmake

#6134 PCLConfig.cmake.in: Handle potentially empty ${LIB} variable
  PCLConfig.cmake.in
Labels: module: cmake, changelog: fix

#6136 add PCL_HIGH convenience macro
  common/include/pcl/console/print.h
Labels: module: common

#6140 Fix spelling error in pcl::NormalDistributionsTransform
  registration/include/pcl/registration/ndt.h
Labels: module: registration

#5779 Allow hidden visibility default on gcc/clang
  cmake/pcl_options.cmake
  common/include/pcl/exceptions.h
  common/include/pcl/pcl_exports.h
  common/include/pcl/pcl_macros.h
  common/include/pcl/range_image/range_image.h
  common/src/range_image.cpp
  filters/src/convolution.cpp
  gpu/containers/src/initialization.cpp
  pcl_config.h.in
  registration/include/pcl/registration/transformation_estimation_svd.h
  segmentation/include/pcl/segmentation/impl/crf_normal_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/supervoxel_clustering.hpp
  segmentation/include/pcl/segmentation/supervoxel_clustering.h
  segmentation/src/supervoxel_clustering.cpp
Labels: changelog: new feature
