Repository PointCloudLibrary/pcl, pull requests merged in 2024-10, with the labels that each got.

#6143 Update opennurbs VS issue
  surface/src/3rdparty/opennurbs/opennurbs_lookup.cpp
Labels: module: surface, changelog: fix

#6147 Update macOS on CI (macOS 12 is now unmaintained)
  .ci/azure-pipelines/azure-pipelines.yaml
  README.md
Labels: module: ci

#6150 make_directory is deprecated since version 3.0
  CMakeLists.txt
Labels: module: cmake, changelog: fix

#6144 Updates to CXX flags and removal of cmake checks less than 3.16.
  CMakeLists.txt
  cmake/Modules/FindSphinx.cmake
  cmake/pcl_find_cuda.cmake
  cmake/pcl_targets.cmake
Labels: module: cmake

#6153 CI updates
  .ci/azure-pipelines/env.yml
  .ci/azure-pipelines/ubuntu-variety.yaml
Labels: changelog: enhancement, module: ci

#6155 Convolution3D: use dynamic schedule for OpenMP
  filters/include/pcl/filters/impl/convolution_3d.hpp
Labels: changelog: enhancement, module: filters

#6141 Remove unnecessary PCL_EXPORTS in common
  common/include/pcl/common/colors.h
  common/include/pcl/common/intersections.h
  common/include/pcl/common/io.h
  common/include/pcl/point_cloud.h
Labels: module: common, changelog: fix

#6114 Fix OpenMP on macOS
  CMakeLists.txt
Labels: platform: macos, module: cmake, module: ci
