Repository PointCloudLibrary/pcl, pull requests merged in 2024-03, with the labels that each got.

#5973 updated broken link to FLANN project page
  doc/tutorials/content/walkthrough.rst
Labels: module: docs

#5953 Cmake cuda find_package cuda is deprecated.
  cmake/pcl_find_cuda.cmake
  gpu/people/CMakeLists.txt
Labels: module: cmake

#5975 Add PLYwriter::writeBinary ostream overload
  io/include/pcl/io/ply_io.h
  io/src/ply_io.cpp
Labels: changelog: new feature, module: io

#5976 fix build with CUDA
  cmake/pcl_find_cuda.cmake
  gpu/features/src/centroid.cu
  gpu/octree/src/cuda/octree_builder.cu
  gpu/octree/src/utils/approx_nearest_utils.hpp
  gpu/surface/src/cuda/convex_hull.cu
Labels: module: cmake, changelog: fix

#5980 fix container overflow read
  filters/include/pcl/filters/impl/statistical_outlier_removal.hpp
  filters/src/statistical_outlier_removal.cpp
Labels: module: filters, changelog: fix
