Repository PointCloudLibrary/pcl, pull requests merged in 2024-05, with the labels that each got.

#5935 C++17 filesystem for recognition module
  recognition/include/pcl/recognition/face_detection/face_detector_data_provider.h
  recognition/src/face_detection/face_detector_data_provider.cpp
Labels: changelog: ABI break, module: recognition

#5968 UniformSampling Filter | add a minimum number of points required for a voxel option
  filters/include/pcl/filters/impl/uniform_sampling.hpp
  filters/include/pcl/filters/uniform_sampling.h
Labels: changelog: new feature, module: filters

#4520 [registration] Add OMP based Multi-threading to IterativeClosestPoint
  registration/include/pcl/registration/correspondence_estimation.h
  registration/include/pcl/registration/icp.h
  registration/include/pcl/registration/impl/correspondence_estimation.hpp
Labels: needs: code review, changelog: ABI break, module: registration

#6028 Updated 23.04 to 24.04 for docker images.
  .ci/azure-pipelines/env.yml
Labels: module: ci

#6035 Remove deprecated readdir_r
  surface/src/3rdparty/opennurbs/opennurbs_archive.cpp
Labels: module: surface, changelog: fix

#6033 Update windows docker boost and cmake
  .dev/docker/windows/Dockerfile
Labels: module: ci

#6036 Fix issue 6024
  filters/include/pcl/filters/impl/bilateral.hpp
  filters/include/pcl/filters/impl/sampling_surface_normal.hpp
  visualization/include/pcl/visualization/impl/pcl_visualizer.hpp
Labels: module: visualization, module: filters, changelog: fix

#6037 Faster octree nearestKSearch
  octree/include/pcl/octree/impl/octree_search.hpp
Labels: changelog: enhancement, module: octree

#6048 Added parallel implementation of PrincipalCurvaturesEstimation
  features/include/pcl/features/impl/principal_curvatures.hpp
  features/include/pcl/features/principal_curvatures.h
Labels: changelog: enhancement, module: features

#6053 Fix boost hash data type
  visualization/src/pcl_visualizer.cpp
Labels: module: visualization, changelog: fix

#6047 Fix obj loader
  io/src/obj_io.cpp
  test/io/test_io.cpp
Labels: module: io, changelog: fix

#6045 Faster octree radiusSearch
  octree/include/pcl/octree/impl/octree_pointcloud.hpp
  octree/include/pcl/octree/impl/octree_search.hpp
Labels: changelog: enhancement, module: octree

#5816 Torus ransac model
  sample_consensus/CMakeLists.txt
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_torus.hpp
  sample_consensus/include/pcl/sample_consensus/sac_model_torus.h
  sample_consensus/src/sac_model_torus.cpp
  test/sample_consensus/test_sample_consensus_quadric_models.cpp
Labels: changelog: new feature, module: sample_consensus

#6009 Remove global includes and use target include for Apps
  apps/3d_rec_framework/CMakeLists.txt
  apps/CMakeLists.txt
  apps/cloud_composer/CMakeLists.txt
  apps/in_hand_scanner/CMakeLists.txt
  apps/modeler/CMakeLists.txt
  apps/point_cloud_editor/CMakeLists.txt
  examples/CMakeLists.txt
  outofcore/tools/CMakeLists.txt
  simulation/tools/CMakeLists.txt
Labels: module: cmake

#6058 fix int type overflow by casting int to size_t
  gpu/octree/include/pcl/gpu/octree/device_format.hpp
Labels: module: gpu, changelog: fix
