Repository PointCloudLibrary/pcl, pull requests merged in 2024-02, with the labels that each got.

#5942 VoxelGridOcclusionEstimation should always round down to go from coordinates to voxel indices.
  filters/include/pcl/filters/impl/voxel_grid_occlusion_estimation.hpp
  filters/include/pcl/filters/voxel_grid_occlusion_estimation.h
  test/filters/test_filters.cpp
Labels: module: filters, changelog: fix

#5951 Rename variables with reserved names
  common/include/pcl/impl/point_types.hpp
Labels: module: common, changelog: fix

#5947 Fix kinfu and cmake cleanup
  CMakeLists.txt
  cmake/pcl_options.cmake
  common/CMakeLists.txt
  cuda/CMakeLists.txt
  examples/CMakeLists.txt
  features/CMakeLists.txt
  filters/CMakeLists.txt
  geometry/CMakeLists.txt
  gpu/CMakeLists.txt
  gpu/kinfu/tools/CMakeLists.txt
  gpu/kinfu_large_scale/CMakeLists.txt
  gpu/kinfu_large_scale/tools/CMakeLists.txt
  io/CMakeLists.txt
  kdtree/CMakeLists.txt
  keypoints/CMakeLists.txt
  ml/CMakeLists.txt
  octree/CMakeLists.txt
  people/CMakeLists.txt
  registration/CMakeLists.txt
  sample_consensus/CMakeLists.txt
  search/CMakeLists.txt
  segmentation/CMakeLists.txt
  simulation/CMakeLists.txt
  tools/CMakeLists.txt
  tracking/CMakeLists.txt
  visualization/CMakeLists.txt
Labels: module: cmake

#5955 Improve documentation in vtk_lib_io
  io/include/pcl/io/vtk_lib_io.h
Labels: module: io

#5957 Add special implementation for raw_fallocate for OpenBSD
  io/include/pcl/io/low_level_io.h
Labels: module: io

#5960 Use common file for boost versions.
  PCLConfig.cmake.in
  cmake/Modules/AdditionalBoostVersions.cmake
  cmake/pcl_find_boost.cmake
Labels: module: cmake

#5952 Additional cmake cleanup
  2d/CMakeLists.txt
  apps/3d_rec_framework/CMakeLists.txt
  apps/CMakeLists.txt
  apps/cloud_composer/CMakeLists.txt
  apps/in_hand_scanner/CMakeLists.txt
  apps/modeler/CMakeLists.txt
  apps/point_cloud_editor/CMakeLists.txt
  benchmarks/CMakeLists.txt
  cuda/common/CMakeLists.txt
  cuda/features/CMakeLists.txt
  cuda/io/CMakeLists.txt
  cuda/sample_consensus/CMakeLists.txt
  cuda/segmentation/CMakeLists.txt
  gpu/containers/CMakeLists.txt
  gpu/features/CMakeLists.txt
  gpu/octree/CMakeLists.txt
  gpu/people/CMakeLists.txt
  gpu/segmentation/CMakeLists.txt
  gpu/surface/CMakeLists.txt
  gpu/tracking/CMakeLists.txt
  gpu/utils/CMakeLists.txt
  people/CMakeLists.txt
  recognition/CMakeLists.txt
  stereo/CMakeLists.txt
  surface/CMakeLists.txt
  test/2d/CMakeLists.txt
  test/CMakeLists.txt
  test/common/CMakeLists.txt
  test/features/CMakeLists.txt
  test/filters/CMakeLists.txt
  test/geometry/CMakeLists.txt
  test/gpu/octree/CMakeLists.txt
  test/io/CMakeLists.txt
  test/kdtree/CMakeLists.txt
  test/keypoints/CMakeLists.txt
  test/ml/CMakeLists.txt
  test/octree/CMakeLists.txt
  test/outofcore/CMakeLists.txt
  test/people/CMakeLists.txt
  test/recognition/CMakeLists.txt
  test/registration/CMakeLists.txt
  test/sample_consensus/CMakeLists.txt
  test/search/CMakeLists.txt
  test/segmentation/CMakeLists.txt
  test/surface/CMakeLists.txt
  test/visualization/CMakeLists.txt
  visualization/CMakeLists.txt
Labels: module: cmake

#5956 Fix behaviour of eigen33 function if smallest eigenvalue is not unique
  common/include/pcl/common/impl/eigen.hpp
Labels: module: common, changelog: fix

#5963 Add OpenGL_GLU as external dependency.
  apps/point_cloud_editor/CMakeLists.txt
Labels: module: cmake

#5969 NDT: allow access to target cloud distribution
  registration/include/pcl/registration/ndt.h
Labels: changelog: enhancement, module: registration
