Repository PointCloudLibrary/pcl, pull requests merged in 2024-01, with the labels that each got.

#5907 replace boost filesystem exists
  io/src/ifs_io.cpp
  io/src/obj_io.cpp
  io/src/pcd_io.cpp
Labels: module: io

#5926 Add missing PCL_EXPORTS
  gpu/segmentation/include/pcl/gpu/segmentation/impl/gpu_extract_clusters.hpp
  sample_consensus/include/pcl/sample_consensus/sac_model_cone.h
  sample_consensus/include/pcl/sample_consensus/sac_model_cylinder.h
  sample_consensus/include/pcl/sample_consensus/sac_model_sphere.h
  visualization/include/pcl/visualization/vtk/vtkRenderWindowInteractorFix.h
Labels: module: gpu, module: visualization, module: sample_consensus, changelog: fix

#5924 [tutorials] suppress cmake warning for find python/sphinx using cmake 3.27 or later
  cmake/Modules/FindSphinx.cmake
Labels: module: cmake

#5931 Switch latest Ubuntu to C++17
  .ci/azure-pipelines/azure-pipelines.yaml
Labels: module: cmake, module: ci

#5936 Fix Bug in NormalSpaceSampling::findBin()
  filters/include/pcl/filters/impl/normal_space.hpp
Labels: module: filters, changelog: fix

#5934 C++17 filesystem for doc/tutorials
  doc/tutorials/content/sources/iccv2011/src/build_all_object_models.cpp
  doc/tutorials/content/sources/iros2011/src/build_all_object_models.cpp
  doc/tutorials/content/sources/vfh_recognition/build_tree.cpp
  doc/tutorials/content/sources/vfh_recognition/nearest_neighbors.cpp
  doc/tutorials/content/vfh_recognition.rst
Labels: module: tutorials

#5937 Make Boost filesystem optional for C++17
  apps/3d_rec_framework/CMakeLists.txt
  cmake/pcl_find_boost.cmake
  cmake/pcl_pclconfig.cmake
  io/CMakeLists.txt
  outofcore/CMakeLists.txt
  recognition/CMakeLists.txt
Labels: changelog: new feature, module: cmake
