Repository PointCloudLibrary/pcl, pull requests merged in 2024-08, with the labels that each got.

#6083 Make test_timestamp pass in all timezones
  test/io/test_timestamp.cpp
Labels: module: test, changelog: fix

#6084 Use system-installed cJSON, if available
  CMakeLists.txt
  outofcore/CMakeLists.txt
  outofcore/include/pcl/outofcore/impl/octree_base.hpp
  outofcore/include/pcl/outofcore/impl/octree_base_node.hpp
  outofcore/include/pcl/outofcore/outofcore_base_data.h
  outofcore/include/pcl/outofcore/outofcore_node_data.h
  pcl_config.h.in
Labels: changelog: enhancement, module: cmake, module: outofcore

#5959 Remove broken support for external metslib.
  CMakeLists.txt
  recognition/CMakeLists.txt
Labels: module: cmake

#6102 change `sprintf` to `snprintf` to suppress deprecated warning on macOS
  common/src/print.cpp
Labels: module: common, changelog: fix

#6108 Remove warning in conversions.h
  common/include/pcl/conversions.h
Labels: changelog: enhancement, module: common

#6107 Small fix in OpenMP for loop
  registration/include/pcl/registration/impl/gicp.hpp
Labels: module: registration, changelog: fix

#6111 fix: Initialization with correct signedness
  segmentation/include/pcl/segmentation/extract_labeled_clusters.h
Labels: module: segmentation, changelog: fix

#6113 Compatibility with clang-19
  registration/include/pcl/registration/correspondence_rejection_features.h
  surface/include/pcl/surface/3rdparty/poisson4/octree_poisson.hpp
  surface/include/pcl/surface/3rdparty/poisson4/sparse_matrix.hpp
Labels: changelog: enhancement

#6117 Install glew and glut.
  .ci/azure-pipelines/build/macos.yaml
  .dev/docker/env/Dockerfile
  .dev/docker/windows/Dockerfile
Labels: module: ci
