Repository PointCloudLibrary/pcl, pull requests merged in 2024-06, with the labels that each got.

#6059 Allow type conversion in fromPCLPointCloud2
  common/include/pcl/conversions.h
  test/common/test_io.cpp
Labels: changelog: new feature, module: common

#5168 ExtractPolygonalPrismData and ConcaveHull bugfix
  segmentation/include/pcl/segmentation/extract_polygonal_prism_data.h
  segmentation/include/pcl/segmentation/impl/extract_polygonal_prism_data.hpp
  test/segmentation/CMakeLists.txt
  test/segmentation/test_concave_prism.cpp
Labels: changelog: new feature, changelog: ABI break, module: segmentation

#6056 Fix get fitness score ignore invalid points
  examples/CMakeLists.txt
  registration/include/pcl/registration/impl/registration.hpp
Labels: module: registration

#6064 Make UniformSampling inherit from FilterIndices instead of Filter
  filters/include/pcl/filters/impl/uniform_sampling.hpp
  filters/include/pcl/filters/uniform_sampling.h
  test/filters/test_uniform_sampling.cpp
Labels: changelog: enhancement, module: filters

#6062 Give users more control regarding with which point types classes are …
  CMakeLists.txt
  cmake/pcl_options.cmake
  common/include/pcl/impl/point_types.hpp
  pcl_config.h.in
Labels: changelog: enhancement, module: cmake
