Repository PointCloudLibrary/pcl, pull requests merged in 2025-01, with the labels that each got.

#6205 Fix linking with pcl_io_ply
  PCLConfig.cmake.in
  io/CMakeLists.txt
Labels: module: io, module: cmake, changelog: fix

#6223 Speed up PPFRegistration by using a hash function with fewer collisions
  registration/include/pcl/registration/ppf_registration.h
Labels: changelog: enhancement, module: registration

#6222 Update __func__ and __PRETTY_FUNCTION__ defines for MSVC
  common/include/pcl/pcl_macros.h
Labels: module: common, changelog: fix

#6013 Remove global includes from PCL_SUBSYS_DEPEND in PCL_TARGETS and adjust accordingly
  2d/CMakeLists.txt
  apps/3d_rec_framework/CMakeLists.txt
  apps/CMakeLists.txt
  apps/cloud_composer/CMakeLists.txt
  apps/in_hand_scanner/CMakeLists.txt
  apps/modeler/CMakeLists.txt
  cmake/pcl_targets.cmake
  cuda/common/CMakeLists.txt
  cuda/features/CMakeLists.txt
  cuda/io/CMakeLists.txt
  cuda/segmentation/CMakeLists.txt
  examples/geometry/CMakeLists.txt
  features/CMakeLists.txt
  geometry/CMakeLists.txt
  io/CMakeLists.txt
  sample_consensus/CMakeLists.txt
  sample_consensus/src/sac_model_torus.cpp
  segmentation/CMakeLists.txt
  stereo/CMakeLists.txt
  test/2d/CMakeLists.txt
  test/io/CMakeLists.txt
  test/octree/CMakeLists.txt
  test/recognition/CMakeLists.txt
  test/registration/CMakeLists.txt
  test/registration/test_correspondence_estimation.cpp
  visualization/CMakeLists.txt
Labels: module: cmake
