Repository PointCloudLibrary/pcl, pull requests merged in 2025-09, with the labels that each got.

#6334 Update macos on ci
  .ci/azure-pipelines/azure-pipelines.yaml
  .ci/azure-pipelines/build/macos.yaml
  README.md
Labels: module: ci

#6322 Remove an unused cufft.h include
  cuda/common/include/pcl/cuda/cutil.h
  cuda/common/include/pcl/cuda/cutil_inline_runtime.h
Labels: module: cuda

#6344 Parse a file containing the files to be checked to clang-format
  .dev/format.py
Labels: module: ci

#6309 Refactor PointcloudColorHandlerGenericField to deal with any field type
  common/include/pcl/common/impl/io.hpp
  common/include/pcl/common/io.h
  test/visualization/test_visualization.cpp
  visualization/include/pcl/visualization/impl/point_cloud_color_handlers.hpp
  visualization/include/pcl/visualization/point_cloud_color_handlers.h
  visualization/src/point_cloud_handlers.cpp
Labels: changelog: enhancement, module: visualization
