Repository PointCloudLibrary/pcl, pull requests merged in 2025-07, with the labels that each got.

#6304 Fixing #6239
  registration/include/pcl/registration/impl/correspondence_rejection_sample_consensus.hpp
  registration/include/pcl/registration/impl/correspondence_rejection_sample_consensus_2d.hpp
  sample_consensus/include/pcl/sample_consensus/sac.h
  segmentation/include/pcl/segmentation/impl/cpc_segmentation.hpp
  segmentation/include/pcl/segmentation/impl/sac_segmentation.hpp
  tools/sac_segmentation_plane.cpp
Labels: changelog: enhancement, module: sample_consensus

#6308 Add potentially missing include cassert
  common/include/pcl/point_cloud.h
Labels: module: common, changelog: fix

#6310 Re-add instantiation of Convolution for MSVC
  filters/src/convolution.cpp
Labels: module: filters, changelog: fix
