Repository PointCloudLibrary/pcl, pull requests merged in 2025-08, with the labels that each got.

#6311 Cleanup gpu fpfh and remove unnecessary headers
  gpu/features/src/fpfh.cu
Labels: module: gpu

#6313 Optimization for Octree radiusSearch
  octree/include/pcl/octree/impl/octree_search.hpp
  octree/include/pcl/octree/octree_container.h
Labels: changelog: enhancement, module: octree

#6330 Fix build with Boost 1.89.0
  cmake/pcl_find_boost.cmake
  outofcore/CMakeLists.txt
Labels: module: cmake, changelog: fix

#6321 Fix uninitialized build warning
  recognition/include/pcl/recognition/impl/implicit_shape_model.hpp
Labels: module: recognition
